---
http_interactions:
- request:
    method: get
    uri: http://w1.weather.gov/xml/current_obs/KMDW.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Nids-Serverid:
      - www13.mo
      Last-Modified:
      - Thu, 13 Nov 2014 17:02:20 GMT
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?> \r\n<?xml-stylesheet
        href=\"latest_ob.xsl\" type=\"text/xsl\"?>\r\n<current_observation version=\"1.0\"\r\n\t
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\r\n\t xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n\t
        xsi:noNamespaceSchemaLocation=\"http://www.weather.gov/view/current_observation.xsd\">\r\n\t<credit>NOAA's
        National Weather Service</credit>\r\n\t<credit_URL>http://weather.gov/</credit_URL>\r\n\t<image>\r\n\t\t<url>http://weather.gov/images/xml_logo.gif</url>\r\n\t\t<title>NOAA's
        National Weather Service</title>\r\n\t\t<link>http://weather.gov</link>\r\n\t</image>\r\n\t<suggested_pickup>15
        minutes after the hour</suggested_pickup>\r\n\t<suggested_pickup_period>60</suggested_pickup_period>\n\t<location>Chicago
        Midway Airport, IL</location>\n\t<station_id>KMDW</station_id>\n\t<latitude>41.79</latitude>\n\t<longitude>-87.75</longitude>\n\t<observation_time>Last
        Updated on Nov 13 2014, 10:53 am CST</observation_time>\r\n        <observation_time_rfc822>Thu,
        13 Nov 2014 10:53:00 -0600</observation_time_rfc822>\n\t<weather>Overcast</weather>\n\t<temperature_string>30.0
        F (-1.1 C)</temperature_string>\r\n\t<temp_f>30.0</temp_f>\r\n\t<temp_c>-1.1</temp_c>\n\t<relative_humidity>54</relative_humidity>\n\t<wind_string>West
        at 10.4 MPH (9 KT)</wind_string>\n\t<wind_dir>West</wind_dir>\n\t<wind_degrees>290</wind_degrees>\n\t<wind_mph>10.4</wind_mph>\n\t<wind_kt>9</wind_kt>\n\t<pressure_string>1027.5
        mb</pressure_string>\n\t<pressure_mb>1027.5</pressure_mb>\n\t<pressure_in>30.30</pressure_in>\n\t<dewpoint_string>15.1
        F (-9.4 C)</dewpoint_string>\r\n\t<dewpoint_f>15.1</dewpoint_f>\r\n\t<dewpoint_c>-9.4</dewpoint_c>\n\t<windchill_string>21
        F (-6 C)</windchill_string>\r\n      \t<windchill_f>21</windchill_f>\r\n      \t<windchill_c>-6</windchill_c>\n\t<visibility_mi>10.00</visibility_mi>\n
        \t<icon_url_base>http://forecast.weather.gov/images/wtf/small/</icon_url_base>\n\t<two_day_history_url>http://www.weather.gov/data/obhistory/KMDW.html</two_day_history_url>\n\t<icon_url_name>ovc.png</icon_url_name>\n\t<ob_url>http://www.weather.gov/data/METAR/KMDW.1.txt</ob_url>\n\t<disclaimer_url>http://weather.gov/disclaimer.html</disclaimer_url>\r\n\t<copyright_url>http://weather.gov/disclaimer.html</copyright_url>\r\n\t<privacy_policy_url>http://weather.gov/notice.html</privacy_policy_url>\r\n</current_observation>\n"
  recorded_at: Thu, 13 Nov 2014 17:38:52 GMT
- request:
    method: get
    uri: http://w1.weather.gov/xml/current_obs/KMKE.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Nids-Serverid:
      - www7.mo
      Last-Modified:
      - Thu, 13 Nov 2014 17:02:21 GMT
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"ISO-8859-1\"?> \r\n<?xml-stylesheet
        href=\"latest_o[...]
- request:
    method: get
    uri: http://w1.weather.gov/xml/current_obs/12345.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Nids-Serverid:
      - www8.mo
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\r\n<html
        xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head>\r\n<title>National Weather
        Service</title>\r\n<style type=\"text/css\"> \r\n#mainContainer\r\n{\r\n\twidth:auto;\r\n\theight:auto;\r\n\tbackground-color:white;\r\n}\r\n#headerArea\r\n{\r\n\tmargin-top:50px;\r\n\tborder:1px
        solid #cccccc;\r\n\theight:125px;\r\n\tbackground-color: #ffffff;\r\n}\r\n#nwsLogo\r\n{\r\n\tfloat:left;\r\n\twidth:100px;\r\n\t/*border:1px
        solid black;*/\r\n}\r\n#noaaLogo\r\n{\r\n\tfloat:right;\r\n\twidth:100px;\t\r\n\t/*border:1px
        solid black;*/\r\n}\r\n#logoTitleArea\r\n{\r\n\t\r\n\tpadding:15px;\r\n[...]
