<!DOCTYPE html>
<html>
<head>
  <title>Overlord Lair</title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
<header>
  
</header>

  <%= yield %>

<footer>
  
</footer>
<script type="javascript/vendor/require.js" data-main="javascript/require-config.js"></script>
</body>
</html>