<!DOCTYPE html>
<html>
<head>
  <title>Overlord's Lair</title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">Overload Lair</a>


  </div>
</nav>

<div class="container wrapper">
  <div id="page">
    <%= yield %>
  </div>
  <div class="footer-push"></div>
</div>
  
<footer>
  Overlord's Lair
</footer>
<script src="javascript/vendor/jquery.js"></script>
<script src="javascript/vendor/bootstrap.min.js"></script>
<script src="javascript/vendor/require.js" data-main="javascript/require-config.js"></script>
</body>
</html>