<% provide(:title, "Log In") %>
<%= render 'shared/error_messages' %>
<div class="panel" id="log in">
  <header>
    <h2>Log In</h2>
  </header>
  <%= form_for(@user) do |f| %>
    <%= render "shared/user_login_form", f: f %>
  <% end %>
</div>
