<% provide(:title, "User profile: #{@user.username}") %>
<div class="sidebar left">
  <%= render 'user_panel', user: @user %>
</div>

<div class="content">
  <%= render 'deck_list', user: @user, decks: @decks %>
</div>
