.user-name {
  font-size: 36px;
}

.team-data-label {
  font-size: 12px;
  font-style: italic;
  color: #999;
}

.team-data-value {
  font-size: 18px;
}

.team-name-value {
  font-size: 24px;
  font-style: italic;
}

.flag {
  display: inline-block;
  position: absolute;
  margin-top: 12px;
  margin-left: -30px;
}

.flag-placeholder {
  display: inline-block;
  width: 40px;
}
