<% provide(:title, "Home") %>


  <div class="hero">
    <div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
      <div class="hero-copy">
        <h1>ArtJourney</h1>
        <p>Follow your favorite artists and see who others like!</p>
      </div>
      <%= button_to "See the Artists", artists_path, method: :get %>
    </div>
  </div>


