body {
  //min-width: 22rem; // Set if a min-width is needed
}

//Float all columns to the left
[class*='col-'] {
  float: left;
  padding-right: $pad;
  
  // except the right-most column has no right padding
  .grid-pad &:last-of-type {
    padding-right: 0;
  }
}

.grid-pad {
  padding: $pad;
  
  // padding values of grid elements
  > section, > footer {
      padding: $pad 5% $pad*2 5%;
  }

}

//Column widths
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 100%;

  //need to insert an if-else clause to handle the different widths based on breakpoints
  @include bp(delta) {
    width: 50%;
  } 
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}


// Insert any exceptions here

