@mixin bp($point) {
  
  $bp-alpha: "(min-width: Arem)";
  $bp-beta: "(min-width: Brem)";
  $bp-gamma: "(min-width: Crem)";
  $bp-delta: "(min-width: Drem)";

  @if $point == alpha {
    //@media #{$bp-alpha} { @content; }
  }
  @else if $point == beta {
    //@media #{$bp-beta} { @content; }
  }
  @else if $point == gamma {
    //@media #{$bp-gamma} { @content; }
  }
  @else if $point == delta {
    //@media #{$bp-delta}  { @content; }
  }

}