@import variables
@import mixins

// MODULES

.brand
  background-image: url('../images/logo.gif')
  background-repeat: no-repeat
  display: inline-block
  margin: 0 30px
  height: 59px
  width: 149px

.dropdown-panel
  border: thin solid
  margin: 0
  min-width: 8em
  position: absolute
  text-align: left
  z-index: 10

  &.center
    $width: 265px
    width: $width
    left: ($width / 2) * -1

  &.right
    right: 0

  .dropdown-menu
    font-size: 0.9em
    list-style: none

    li
      display: block
      margin: 0

      a
        display: block
        margin: 0
        padding: 5px

        &:hover
          background-color: $active-background-color

      &.active a
        color: $primary-color
        font-weight: bold

.hidden
  display: none

.dropdown-toggle
  .fa-caret-up
    display: none

  &.active
    .fa-caret-up
      display: inline
    .fa-caret-down
      display: none

.grid-menu
  .item
    display: inline-block
    margin: 5px
    padding: 5px

    &:hover
      outline: thin solid $border-color

    figcaption
      display: block
      font-size: 0.9em
      margin-top: 4px
      text-align: center

    .icon
      background: url(../images/google_sprite.png) no-repeat
      background-size: 112px 2011px
      display: block
      width: 64px
      height: 64px

      &.icon-calendar
        background-position: -35px -735px

      &.icon-docs
        background-position: 0 0

      &.icon-drive
        background-position: 0 -390px

      &.icon-mail
        background-position: -35px -942px

      &.icon-search
        background-position: 0 -459px

      &.icon-sheets
        background-position: 0 -1149px

      &.icon-slides
        background-position: 0 -1460px

.menu-addendum
  margin-top: 1em
  padding: 1em
  text-align: center

  button
    border: thin solid $border-color
    margin: 5px 1em

.message-list
  padding-top: 5px
  height: 100%
  width: 100%

  .message
    +unselectable
    border-left: 2px dotted transparent
    cursor: pointer
    display: flex
    flex-direction: row
    max-height: 1.2em
    margin: 0
    padding: 4px 0
    width: 100%

    .message-actions, .message-field
      display: flex
      padding: 2px 10px

    .message-field
      flex-direction: column
      text-overflow: ellipsis

      &.date
        width: 100px
        text-align: right

      &.subject
        flex-grow: 1

      &.from
        width: 200px

.padded-group
  line-height: 1.6em
  padding: 1em 3em

.segmented
  > *
    &:after
      content: " - "

    &:last-child:after
      content: ""

