// Variables

$background-color: #fff
$text-color: #111
$primary-color: #0066ff
$secondary-color: #00a352
$secondary-background-color: #eee
$active-background-color: #eefafa
$input-background-color: #fff
$border-color: #ccc

$font-face: Arial, sans-serif
$font-size: 16px

$sidebar-width: 200px

