// PMail CSS

// Variables
$background-color: #fff
$text-color: #111
$primary-color: #0066ff
$secondary-color: #00a352
$secondary-background-color: #eee
$input-background-color: #fff
$border-color: #ccc

$font-face: Arial, sans-serif
$font-size: 16px

$sidebar-width: 200px

// Mixins
=unselectable
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

// BASE

html
  margin: 0
  padding: 0

body
  font-family: $font-face
  font-size: $font-size
  margin: 0

a, button, input, select, textarea
  outline: none

a
  color: $text-color
  text-decoration: none

input, select
  border: thin solid
  height: 1.25em
  padding: 5px
  -moz-appearance: none !important
  -webkit-appearance: none !important

input[type="checkbox"]
  display: none

  + label span
    display: inline-block
    width: 19px
    height: 19px
    margin: -1px 4px 0 0
    vertical-align: middle
    cursor: pointer
    background: url(../images/input_sprite.png) left top no-repeat

  &:checked + label span
    background: url(../images/input_sprite.png) left -19px no-repeat

ul
  list-style: none

// LAYOUT
.main-pane
  display: block
  float: right
  font-size: 0.9em
  height: 100%
  vertical-align: top

  > *
    min-width: 600px

.message-list
  padding-top: 5px
  height: 100%
  width: 99%

.message
  +unselectable
  border-left: 2px dotted transparent
  cursor: pointer
  display: flex
  max-height: 1.2em
  margin: 0
  padding: 4px 0
  width: 100%

.message-actions, .message-field
  display: table-cell
  padding: 2px 10px

.message-field
  &.date
    width: 100px
    text-align: right

  &.subject
    flex-grow: 1

  &.from
    width: 200px
    
.topbar
  border-bottom: thin solid
  min-height: 30px
  min-width: 600px
  width: 100%

  > *
    vertical-align: middle

  .right
    display: block
    float: right
    padding-right: 1em
    right: 0
    text-align: right
    vertical-align: middle

  button
    border-radius: 4px
    padding: 3px 10px

.topbar-links
  margin-right: 0
  // Chrome fix:
  -webkit-padding-start: 0

  li
    display: inline-block
    margin-left: 2em

.sidebar
  display: block
  float: left
  max-width: $sidebar-width
  text-align: center
  width: $sidebar-width

  main
    padding-top: 10px

  button
    border: none
    border-radius: 4px
    font-size: 0.8em
    padding: 5px
    text-transform: uppercase
    width: 80%

  ul.sidebar-links
    +unselectable
    font-size: 0.9em
    margin: 0
    padding: 5px 0
    text-align: left
    width: 100%

    &:not(:first-of-type)
      border-top: thin solid $border-color

    li
      border-left: 4px solid transparent
      display: inline-block
      margin: 0.2em 0
      padding-left: 20px
      width: 100%

.search-form
  display: inline-block
  vertical-align: middle

  input[type="search"]
    border: none
    max-height: 32px
    max-width: 598px
    padding: 0
    
    &:focus
      border: none

  button[type="submit"]
    border: none
    border-radius: 0 4px 4px 0
    float: right
    height: 34px
    margin-left: 0 !important
    min-width: 50px

.search-box
  border: thin solid 
  display: inline-block
  height: 32px
  max-height: 32px
  margin: 0
  overflow: hidden

  input
    margin: 5px

    &:focus
      border: thin solid

  button.dropdown-toggle
    background: none
    border: none
    outline: none
    text-align: right

    &:not(:hover)
      color: #999

// MODULE
.brand
  background-image: url('../images/logo.gif')
  background-repeat: no-repeat
  display: inline-block
  margin: 0 30px
  height: 59px
  width: 149px

.dropdown-panel
  border: thin solid
  margin: 0
  padding: 10px
  position: absolute
  width: 600px
  z-index: 10

.hidden
  display: none

.dropdown-toggle
  .fa-caret-up
    display: none

  &.active
    .fa-caret-up
      display: inline
    .fa-caret-down
      display: none

// THEME
body
  background: $background-color

@each $style, $color in (primary, $primary-color), (secondary, $secondary-color)
  button.#{$style}-button
    background-color: $color
    @if lightness($color) < 60%
      color: #fff
    @else
      color: #000

    &:hover, &:focus
      background-color: darken($color, 5%)
    &:active
      background-color: darken($color, 10%)

input, select
  background-color: $input-background-color
  border-color: $border-color

input:focus
  border-color: $primary-color

ul.sidebar-links li.active
  border-color: $primary-color

  a
    color: $primary-color
    font-weight: bold

.dropdown-panel
  background-color: $background-color
  border-color: $border-color

.search-box
  background-color: $input-background-color
  border-color: $border-color

  &.focus
    border-color: $primary-color

.topbar
  border-color: $border-color

.topbar-primary
  background-color: $secondary-background-color

.message
  background-color: $secondary-background-color
  border-bottom: thin solid $border-color

.message:hover
  border-left: 2px dotted $border-color
