@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin round_border {
  border-radius: 4px;
  -webkit-border-radius: 4px;
}


/* universal */
body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

.container {
  // background-color: rgba(51, 0, 255, 0.04);
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.disabled {
  label {
      color: #aaa;
  }

  select {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.border-top {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
#logo {
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.navbar-left {
  li {
    float: left;
  }
}


/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
    border: 1px solid #aaa;
    background-color: #DEDEDE;
    padding: 10px;
    @include round_border;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* selection */
.bus-selection-wrap {
  background-color: #eee;
  text-align: center;
  margin-bottom: 15px;
  color: $gray-dark;
  height: 120px;
  padding-top: 5px;
  @include round_border;

  &.disabled {
    .selection {
      color: #aaa;
    }
  }

  label {
    font-size: 20px
  }

  select {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }

  .selection {
    font-size: 24px;
    word-wrap: break-word;
  }

  .favorite-stop {
    position: absolute;
    font-size: 24px;
    z-index: 20;
    cursor: pointer;
    width: 30px;

    .no-fave {
      color: #aaa;
    }

    .fave {
      color: blue;
    }
  }
}


/* card UI */
.card {
    padding: 12px;
    margin-bottom: 20px;
    @include round_border;

    &.card-default {
      background-color: #eee;
    }
}


/* card UI - Bus */
.eta-bus {
  position: relative;
  min-height: 150px;

  .number, .destination {
    margin: 0;
    padding: 0;
  }

  .number {
    font-size: 26px;
    margin-bottom: 5px;
  }

  .destination {
    font-size: 14px;
  }

  .arrival {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
  }

  .vehicle {
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;

  a {
    color: #555;

    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
