.page-header
  %h1 Favorites

%table
  %thead
    %tr
      %th Name
  %tbody
    - @favorites.each do |favorite|
      %tr
        %td= favorite.menu_item.name
        %td
          %a.unfavorite{ href: "/favorites/destroy/#{favorite.id}" } remove from favorites
