<div id="keypad">
<div class="content">
  
  <div id="display"></div>

  <div class="row">  
    <input type="button" class="btn btn-default btn-sm key" value="1" />
    <input type="button" class="btn btn-default btn-sm key" value="2" />
    <input type="button" class="btn btn-default btn-sm key" value="3" />
  </div>

  <div class="row">  
    <input type="button" class="btn btn-default btn-sm key" value="4" />
    <input type="button" class="btn btn-default btn-sm key" value="5" />
    <input type="button" class="btn btn-default btn-sm key" value="6" />
  </div>

  <div class="row">  
    <input type="button" class="btn btn-default btn-sm key" value="7" />
    <input type="button" class="btn btn-default btn-sm key" value="8" />
    <input type="button" class="btn btn-default btn-sm key" value="9" />
  </div>

  <div class="row">
    <input type="button" class="btn btn-default btn-sm key key-0" value="0" />  
  </div>

  <br><br>
  <input type="submit" class="btn btn-primary btn-md btn-block" value="Confirm" />

</div>
</div>