<div class="new-bomb">
  <div class="jumbotron">
    <h3 class="center">No bomb created yet.</h3>
  </div>

  <form id="new-bomb-form">
    
    <p>Activation Code</p>
    <input type="text" value="" placeholder="Activation Code" name="activation_code" />

    <p>Deactivation Code</p>
    <input type="text" value="" placeholder="Deactivation Code" name="deactivation_code" />

    <input type="submit" value="Create Bomb" />

  </form>
</div>