<div class="new-bomb">
  <div class="jumbotron">
    <h3 class="center">No bomb created yet.</h3>
  </div>

  <div id="bomb">
  <div class="row">
    <form id="bomb-panel">
      <img src="images/bolt.png" class="bolt-top-left">
      <img src="images/bolt.png" class="bolt-top-right">
      <img src="images/bolt.png" class="bolt-bottom-left">
      <img src="images/bolt.png" class="bolt-bottom-right">

      <div id="timer"><p>00:00</p></div>
      
      <p>Activation Code</p>
      <input type="text" value="" placeholder="Activation Code" name="activation_code" />
      <br>

      <p>Deactivation Code</p>
      <input type="text" value="" placeholder="Deactivation Code" name="deactivation_code" />
      <br><br>

      <input type="submit" class="btn btn-danger btn-md center" value="Create Bomb" />

    </form>
  </div>
  </div>
</div>