<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p><%= @user.name %></p>
        <p><%= @user.email %></p>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>Favorite Legislators (<%= @user.favorites.count %>)</h3>
      <ol class="favorites">
          <%= render @user.favorites %>
      </ol>
  </div>
</div>