$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @include image-url("congruent_outline.png");
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}