body.registrations,
body.sessions,
body.passwords {
  h2 {
    color: darken($primary-color, 5);
  }

  .content-container {
    @media #{$medium-up} {
      width: upper-bound($small-range);
    }

    .simple_form {
      margin: 20px 0 20px 0;
      padding: 20px 0 10px 0;
      border-top: 1px solid lighten($body-font-color, 75);
      border-bottom: 1px solid lighten($body-font-color, 75);
    }

    label {
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    .form-actions>.button {
      @include button-size($padding: $button-tny);
      @include button-style($radius: true);
      font-size: $button-font-med;
    }

    input[type=checkbox] {
      margin-right: 0.6em;
      font-size: 0.8em;
    }

    a {
      margin-bottom: 10px;
    }
  }
}
