.page-header
  %h1 My Watches

- if @watches.empty?
  %p.alert.alert-info You have no watches.
- else
  %table.table
    %thead
      %tr
        %th Nickname
        %th Item
        %th.text-right Price (ISK)
        %th
    %tbody
      - @watches.each do |watch|
        %tr
          %td= link_to(watch.nickname, watch)
          %td= watch.item.name
          %td.text-right
          %td= link_to('Delete', watch, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger')

= link_to(new_watch_path, class: "btn btn-default") do
  %span.glyphicon.glyphicon-plus
  Add Watch
