$shadow_color: rgba(0,0,0,0.2);
$mtg_blue: #006699;
$mtg_red: #990000;
$mtg_green: #009900;
$mtg_yellow: #FFFFCC;

$mtg_island: #a8dcee;
$mtg_mountain: #eea489;
$mtg_forest: #93cba4;
$mtg_plains: #fefbd5;
$mtg_swamp: #c4bdb7;
$mtg_artifact: #b4aaa8;

$site_color: $mtg_blue;
$link_color: $site_color;
$link_hover_color: lighten($link_color, 20%);
