body {
    background-color: white;
    background-image: url(images/blueprint.png),
    url(images/bg_image.jpg);
    color: white;
    font-family: Bitstream Vera Sans Mono, monospace;
}

.centerdiv {
    margin: auto;
    width: 60%;
    border:3px solid #000000;
    padding: 10px;
}


#wrapper, img {
    width: 75%;
    height: 75%;
}

.redbutton {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #1a0007;
    -moz-box-shadow: 0px 1px 3px #1a0007;
    box-shadow: 0px 1px 3px #1a0007;
    font-family: Courier New;
    color: #ffffff;
    font-size: 36px;
    background: #d93434;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.redbutton:hover {
    background: #b80707;
    text-decoration: none;
}