.heading{  
  color: red;
}

.heading_two{
  color: #006dcc;
  margin-left: 50px;
}

.forms{
  float: right;
  margin-top: 200px;
}
body{
background-image: 
  url(public/images/background-image: Bomb.jpg);
}
