<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <title>DinoDex!</title>
  </head>
  <body>
    <header><a href="/all">DinoDex!</a></header>
    <%= yield %>
    <footer>
      Created by Brett Peters.
      <a href="http://github.com/bap13" target="_blank">GitHub</a>.
    </footer>
  </body>
</html>
