.footer
  .left
    %strong 10% full
    .usage.bottom Using 10GB of your 100GB
  .middle
    .top
      %span &copy;2015 Zach Bright
      %span -
      %span
        %a{ href: "#" } Terms of Service
      %span -
      %span
        %a{ href: "#" } Privacy Policy
      %span -
      %span
        %a{ href: "#" } Program Policies
    .bottom
      Powered by LevelUp
  .right
    .top
      %span Last account activity: 1 hour ago
    .bottom
      %span
        %a{ href: "#" } Details