%footer
  .left
    .line
      %strong 0% full
    .line Using 15GB of your 500TB
  .middle
    .line.segmented
      %span &copy;2015 Polish Dan
      %span
        %a{ href: "#", onclick: "alert('TOS: All your data are belong to us!');" } Terms of Service
      %span
        %a{ href: "#", onclick: "alert('You have no privacy.');" } Privacy Policy
      %span
        %a{ href: "#" } Program Policies
    .line Powered by the souls of the damned
  .right
    .line Last account activity: 2 days ago
    .line
      %a{ href: "#" } Details
