%nav.sidebar
  .topbar
    .topbar-links
      %ul
        %li
          %a.dropdown-toggle{ href: "#" }
            Mail
            %i.fa.fa-caret-down
          .dropdown-panel.hidden#mail-dropdown
            %ul.dropdown-menu.large
              %li.active
                %a{ href: "#" } Mail
              %li
                %a{ href: "#" } Contacts
              %li
                %a{ href: "#" } Tasks
  .sidebar-main
    %button.secondary-button#compose Compose
    %ul.sidebar-links
      %li.active
        %a{ href: "#" } Inbox
      %li
        %a{ href: "#" } Starred
      %li
        %a{ href: "#" } Sent Mail
      %li
        %a{ href: "#" } Drafts
      %li
        %a{ href: "#" } Projects
      %li
        %a.dropdown-toggle{ href: "#" }
          More
          %i.fa.fa-caret-down
    %ul.sidebar-links.hidden#more-links
      %li
        %a{ href: "#" } Important
      %li
        %a{ href: "#" } All Mail
      %li
        %a{ href: "#" } Spam
      %li
        %a{ href: "#" } Trash
