<p id="notice"><%= notice %></p>

<p>
  <strong>Character:</strong>
  <%= @activity.character.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @activity.category.name %>
</p>

<p>
  <strong>Quest:</strong>
  <%= @activity.quest.title %>
</p>
