= paginate(@items)
%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th EVE ID
      %th Name
      %th.text-right
  %tbody
    - @items.each do |item|
      %tr{ data: { id: item.id } }
        %td{ data: { field: :in_game_id } }= item.in_game_id
        %td{ data: { field: :name } }= item.name
        %td.text-right= link_to("View orders", { controller: :orders, action: :search, item: item }, class: "btn btn-info btn-xs")
= paginate(@items)
