.page-header
  %h2 EVE Online Items

= render(partial: 'search', locals: { query: @query })

- unless @items.blank?
  = render(partial: 'list', locals: { items: @items })
- else
  %p.info No items found.
