.page-header
  %h2 EVE Online Items

= form_tag("/items/search", method: "get", role: "form") do
  .form-group
    = label_tag(:query, "Search", class: "sr-only")
    .input-group
      = search_field_tag(:query, @search_query, class: "form-control", placeholder: "Search items")
      .input-group-btn
        %button{type: "submit", class: "btn btn-default", title: "Search"}
          &nbsp;
          %span.glyphicon.glyphicon-search
          &nbsp;

- if @items
  - if @items.empty?
    %p.info No items found.
  - else
    = render(partial: 'list', locals: { items: @items })
