body {
	background-color: black;
	color: #AAAAAA;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	background-color: #111111;
	font-size: 20px;
}

th {
    padding: 5px;
    background: #222222;
	color: #CCCCFF;
}

td {
    padding: 5px;
	border: 2px solid black;
	border-radius: 3px;
	color: #DDDDDD;
}

td a {
	text-decoration: none;
	color: #AAAAEE;
}

td a:hover {
	color: #CCDDFF;
}

tr:hover {
	border-color: #EEEEEE;
}

a {
	text-decoration: none;
	color: #AA5F33;
}

a:hover {
	color: #CC8155;
}

.minus {
	background-color: #111111;
	height: 20px;
	width: 20px;
}
