<section class="main-content type-system-rounded">
  <p class="new_artist_link"><%= link_to "Create a New Artist", new_artist_path %></p>
  <h1>Artists</h1>

    <% @artists.each do |artist| %>
      <article>
        <h2><%= link_to artist.full_name, artist %></h2>
        <%= markdown(artist.analysis) %>
      </article>
    <% end %>

    <%= paginate @artists %>

</section>
