<h2> This is SpotiGraph, </h2>
<h3>
  input a Spotify artist on the left, and a small depth (1-3 works best).
</h3><p>
  When you press search, a graph is generated of that artist's related artists.
  Each node represents an artist, and each edge denotes the artists related to
  that artist. The different colors indicate the depth on which that artist was
  first discovered.
</p>
<p>
  All artist relations are generated based on Spotify's reccomendations.
</p>