<% provide(:title, "Next Month") %>
<div class="center jumbotron">
  <% if @term.nil? %>
    <h2 style="text-align:center;">You have not created a budget for next month.<br>
      <a href="#" data-toggle="modal" data-target="#newNextTermModal" id="create-new-next-term">Create one now?</a>
    </h2>
    <%= render 'modals/new_next_month' %>
  <% else %>
    <%= render 'transaction_list' %>
  <% end %>
</div>