$error_color: lighten($mtg_red, 65%);
$success_color: lighten($mtg_green, 65%);

.panel.alert {
  line-height: 1.5em;
  font-size: 0.8em;
  
  &.error {
    background-color: $error_color;
    border-bottom: 1px solid darken($error_color, 10%);

    .n-errors {
      font-weight: bold;
    }
  }

  &.success {
    background-color: $success_color;
    border-bottom: 1px solid darken($success_color, 10%);
  }

  ul {
    list-style-type: circle;
    list-style-position: inside;
  }
}

.field_with_errors {
  color: black;
  border: 1px solid darken($error_color, 10%);
}