#header {
  position: relative;
  background-color: white;
  padding: 10px;
  @include box-shadow($shadow_color 0 0 5px);

  nav {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
  }

  a {
    margin-left: -4px;
  }
}

#wrapper {
  position: relative;
  padding: 20px 50px;
}

#logo {
  display: inline-block;
  font-family: $logo;
  letter-spacing: 2px;
  @include default-transition();

  &:hover {
    cursor: pointer;
    color: $site_color;
  }

  h2 {
    font-size: 0.8em;
  }
}

$panel_padding: 20px;
$panel_h2_padding: 10px;
.panel {
  padding: $panel_padding;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 600px;
  background-color: white;
  @include box-shadow($shadow_color 3px 3px 5px);

  h2 {
    margin-bottom: 15px;
    padding-bottom: $panel_h2_padding;
    border-bottom: 1px solid #eee;
  }
}

.divide {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.btn {
  position: relative;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.05);
  color: black;
  border: none;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  @include fancy-hover-shadow();

  &.blue {
    background-color: lighten($mtg_blue, 65%);
  }

  &:hover {
    z-index: 1;
    color: $site_color;
    cursor: pointer;
    background-color: white;
  }
}
