#header {
  background-color: white;
  padding: 10px;
  margin-bottom: 50px;

  nav {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
  }

  a {
    margin-left: -4px;
  }
}

#logo {
  display: inline-block;
  font-family: $logo;
  letter-spacing: 2px;
  @include default-transition();

  &:hover {
    cursor: pointer;
    color: $site_color;
  }

  h2 {
    font-size: 0.8em;
  }
}

.panel {
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 600px;
  background-color: white;

  header {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
}

.btn {
  position: relative;
  padding: 10px 30px;
  background-color: #EEE;
  color: black;
  border: none;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  @include fancy-hover-shadow();

  &:hover {
    z-index: 1;
    color: $site_color;
    cursor: pointer;
    background-color: white;
  }
}