.divide.search,
.divide.search-for-deck {
  h2 {
    margin-bottom: 10px;
  }
}
.all-cards {
  table {
    width: 100%;
  }
}
.card {
  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  &:nth-child(even) {
    background: darken(white, 5%);
  }
  td {
    padding: 10px;
  }
}
.card-info {
  text-align: center;
}
.cards-type-group {
  float: left;
  margin: 10px 5px;
  background-color: white;
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
.divide.cards {
  padding: 0px;
  table {
    width: 100%;
    th {
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .card {}
  .number-in-deck {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.deck-stats {
  form {
    display: inline-block;
  }
}
.add,
.remove {
  img {
    width: 10px;
    &:hover {
      @include opacity(0.5);
    }
  }
}

.mana-cost {
  font: normal normal normal 14px/1 Mana;
  i {
    margin-left: 2px;
  }
}
