.divide.search,
.divide.search-for-deck {
  overflow: hidden;
  h2 {
    margin-bottom: 10px;
  }
}
#toggle-advanced-search {
  position: relative;
  .btn {
    position: absolute;
    top: -40px;
    right: 0px;
  }
}
#advanced-options {
  display: none;
}
.all-cards {
  table {
    width: 100%;
  }
}
.card {
  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  &:nth-child(even) {
    background: darken(white, 5%);
  }
  td {
    padding: 10px;
  }
}
@mixin card-name-overflow ($width) {
  width: $width;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
span.card-name a {
  // @include card-name-overflow(160px);
}
td.card-name a {
  // @include card-name-overflow(500px);
}
.card-info {
  text-align: center;
}
.cards-type-group {
  float: left;
  margin: 10px 5px;
  background-color: white;
  width: 24%;
  h3 {
    font-weight: bold;
    margin-bottom: 5px;
  }
}
.card-tooltip {
  img {
    float: left;
    width: 200px;
    @include border-radius(10px);
  }
  h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .card-info {
    float: left;
    width: 210px;
  }
  .card-text {
    padding: 5px;
    text-align: left;
  }
}
img.show-card-tooltip {
  width: 15px;
  margin-right: 5px;

  &:hover {
    cursor: pointer;
  }
}
.divide.cards {
  padding: 0px;
  table {
    width: 100%;
    th {
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .card {}
  .number-in-deck {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.deck-stats {
  form {
    display: inline-block;
  }
}
.add,
.remove {
  img {
    width: 10px;
    &:hover {
      @include opacity(0.5);
    }
  }
}
#mana {
  overflow: hidden;
  margin-top: 15px;
  li {
    display: inline-block;
    input[type="checkbox"] {
      display: none;
      & + label {
        width: 20px;
        height: 20px;
        border: 1px solid #555;
        margin: 2px;
      }
      &:checked + label {
        border: 3px solid $mtg_blue;
        margin: 0px;
      }
    }
  }
  .colors {
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    h3 {
      font-size: 0.8em;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
  .color-options {
    font-size: 0.8em;
    float: left;
    margin-top: 10px;
  }
  .mana-range {
    float: left;
    margin-left: 50px;
    h3 {
      font-size: 0.8em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
    .mana-slider {
      height: 10px;
      width: 400px;
      .noUi-connect {
        background-color: $mtg_blue !important;
      }
      .noUi-handle {
        width: 20px;
        height: 20px;
        &:before,
        &:after {
          display: none;
        }
      }
    }
    .min-max-mana {
      padding-top: 10px;
      input[type="text"] {
        width: 50px;
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
      }
      div {
        text-align: center;
        float: left;
        label {
          font-size: 0.7em;
        }
      }
      .minmana {
        margin-left: -30px;
      }
      .exactmana {
        margin-left: 145px;
      }
      .maxmana {
        float: right;
        margin-right: -20px;
      }
    }
  }
}
.mana-cost {
  font: normal normal normal 14px/1 Mana;
  i {
    margin-left: 2px;
  }
}
