.cards-in-deck {
  overflow: hidden;
}

.card-in-deck {
  border: 1px solid #ddd;
  padding: 10px;

  &:nth-child(odd) {
    background-color: darken(white, 5%);
  }

  &:not(:last-child) {
    border-bottom: none;
  }

  .deck-stats {
    float: right;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
  }
}
