.panel.error {
  line-height: 1.5em;
  font-size: 0.8em;
  background-color: lighten($mtg_red, 65%);

  .n-errors {
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
    list-style-position: inside;
  }
}

.field_with_errors {
  color: black;
  border: 1px solid lighten($mtg_red, 25%);
}