.user-profile {
  // float: left;
  width: 210px;
  margin-right: 20px;

  h2 {
    font-size: 1.3em;
  }

  .btn {
    display: block;
  }
}

.user-decks {
  position: relative;

  .decks {}

  .user-deck {
    overflow: hidden;
  }

  .deck-name {
    float: left;
    width: 304px;
    margin-bottom: 5px;
  }

  .btn {
    border: 1px solid #eee;
    &:hover {
      box-shadow: none;
    }
  }
  .new {
    position: absolute;
    top: $panel_padding + $panel_h2_padding - 1;
    right: $panel_padding;
  }
  .edit {
    float: right;
    margin-right: 5px;
  }
  .destroy {
    float: right;
    &:hover {
      color: black;
      background-color: lighten($mtg_red, 50%);
    }
  }
}
