.row
  .col.s10.offset-s1
    -if !@search_params.empty?
      %h4="#{@num_bills} bills found for #{params[:bill][:query]}"
      -if @pg_results.any?
        %table.bordered.clickable.hoverable.responsive-table#results
          %thead
            .row
              %td.col.s2 Introduced
              %td.col.s10 Summary
          %tbody
            .row
              -@pg_results.each do |result|
                -@bill = result.searchable
                =content_tag_for(:tr, @bill, 'data-url' => bill_path(@bill)) do
                  %td.col.s2=@bill.introduced_on.strftime('%B %-d, %Y')
                  %td.col.s10
                    =bill_title
                    %p.summary=@bill.summary_short
        = paginate @pg_results
