<div id='event-attributes'>
  <div class='name'>
	<span class='label'>Showings For:</span>&nbsp
	<span class='value'><%= @event.name %></span>
  </div>
  <div class='location'>
	<span class='label'>Location:</span>&nbsp
	<span class='value'><%= @event.location %></span>
  </div>
  <div class='link'>
	<span class='label'>Information:</span>&nbsp
	<span class='value'><%= link_to 'Website', @event.link %></span>
  </div>
</div>
