<nav id="home-menu">
  <div class="cool-round-button events">
	<%= link_to 'Events', events_path %>
  </div>
  <div class="cool-round-button sources">
	<%= link_to 'Sources', "http://www.theatreinchicago.com/" %>
  </div>
  <div class="cool-round-button scrape">
	<%= link_to 'Scrape', scrape_path, :method => 'post' %>
  </div>
</nav>
