<% flash.each do |message_type, message| %>
    <% type = message_type %>
    <% type = 'warning' if message_type == 'notice' || message_type == 'alert' %>
    <div class="alert alert-<%= type %>"><%= message %></div>
<% end %>

