<div class="center jumbotron">

%h1 Welcome to MyLibrary
%h4 MyLibrary helps you create and manage a collection of books that interests you. 
%h4 You can also keep notes about the books, recommend them, and look at recommendations from other users.

-if !user_signed_in?
  = link_to(name = "Sign up or Sign in!", new_user_session_path, class:"btn btn-lg btn-primary")
-else
  = link_to(name = "#{current_user.email}'s Library", url = "/books/collection" )

</div>
