<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Congressional Good Deeds</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="/"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#">Signup</a></li>
      <li><a href="#">Login</a></li>
    </ul>
    <ul class="left">
      <li class="active"><a href="/">Good Deeds</a></li>
      <li><a href="/legislators">Legislators</a></li>
      <li><a href="/bills">Bills</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </section>
</nav>
