<% provide(:title, "About") %>
<h1>About</h1>
<dl>
  <dt>CTA</dt>
  <dd>Chicago Transit Authority</dd>
  <dt>MyCTApp</dt>
  <dd>My CityTransit App</dd>
</dl>

<p>MyCTApp is currently developed by <a href="http://developer.coffee/" target="_blank">developer.coffee</a> and is in no way affiliated with the CTA&trade; or any transit system in Chicago. This website uses data made publically accessible by the CTA and provides it in an efficient, simple manner to the public for free.</p>
<p>MyCTApp is not maintained, endorsed, affiliated with, or sponsored by the CTA. Anything on this website in no way reflects any of the feelings or direction of CTA.</p>
