<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>MyCTApp</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<p>Look up CTA bus times more efficiently with MyCTApp below. You can also make a free account to save routes you want to look at instantly.</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
