---
http_interactions:
- request:
    method: get
    uri: http://graphical.weather.gov/xml/sample_products/browser_interface/ndfdXMLclient.php?begin=2014-11-13T12:20:00-06:00&dew=dew&icons=icons&product=time-series&qpf=qpf&sky=sky&temp=temp&wdir=wdir&wspd=wspd&zipCodeList=60606
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Nids-Serverid:
      - www5.mo
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <dwml version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.nws.noaa.gov/forecasts/xml/DWMLgen/schema/DWML.xsd">
          <head>
            <product srsName="WGS 1984" concise-name="time-series" operational-mode="official">
              <title>NOAA's National Weather Service Forecast Data</title>
              <field>meteorological</field>
              <category>forecast</category>
              <creation-date refresh-frequency="PT1H">2014-11-13T18:05:53Z</creation-date>
            </product>
            <source>
              <more-information>http://www.nws.noaa.gov/forecasts/xml/</more-information>
              <production-center>Meteorological Development Laboratory<sub-center>Product Generation Branch</sub-center></production-center>
              <disclaimer>http://www.nws.noaa.gov/disclaimer.html</disclaimer>
              <credit>http://www.weather.gov/</credit>
              <credit-logo>http://www.weather.gov/images/xml_logo.gif</credit-logo>
              <feedback>http://www.weather.gov/feedback.php</feedback>
            </source>
          </head>
          <data>
            <location>
              <location-key>point1</location-key>
              <point latitude="41.84" longitude="-87.69"/>
            </location>
            <moreWeatherInformation applicable-location="point1">http://forecast.weather.gov/MapClick.php?textField1=41.84&amp;textField2=-87.69</moreWeatherInformation>
            <time-layout time-coordinate="local" summarization="none">
              <layout-key>k-p3h-n34-1</layout-key>
              <start-valid-time>2014-11-13T15:00:00-06:00</start-valid-time>
              <start-valid-time>2014-11-13T18:00:00-06:00</start-valid-time>
              <start-valid-time>2014-11-13T21:00:00-06:00</start-valid-time>
              <start-valid-time>2014-11-14T00:00:00-06:00</start-valid-time>
              <start-valid-time>2014-11-14T03:00:00-06:00</start-valid-time>
              <start-valid-time>2014-11-14T06:00:00-06:00</start-valid-time>
              <start-valid-time>2014-11-14T09:00:00-06:00</start-valid[...]
[...]
