---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/arriving/2014/12/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"ORD","fsCode":"ORD"},"arrivalAirport":{"requestedCode":"LGA","fsCode":"LGA"},"codeType":{},"departing":false,"date":{"year":"2014","month":"12","day":"30","interpreted":"2014-12-30"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/arriving/2014/12/30"},"scheduledFlights":[{"carrierFsCode":"NK","flightNumber":"224","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-30T05:56:00.000","arrivalTime":"2014-12-30T09:00:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["R","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1216-2669859--"},{"carrierFsCode":"AA","flightNumber":"394","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-30T06:35:00.000","arrivalTime":"2014-12-30T09:35:00.000","flightEquipmentIataCode":"737","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":[],"codeshares":[{"carrierFsCode":"BA","flightNumber":"6641","serviceType":"J","serviceClasses":["R","F","J","Y"],"trafficRestrictions":["Q"],"referenceCode":10952249},{"carrierFsCode":"US","flightNumber":"394","serviceType":"J","serviceClasses":["R","F","Y"],"trafficRestrictions":[],"referenceCode":10952250}],"referenceCode":"1216-2670894--"},{"carrierFsCode":"BA","flightNumber":"6641","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-30T06:35:00.000","arrivalTime":"2014-12-30T09:35:00.000","flightEquipmentIataCode":"737","isCodeshare":true,"isWetlease":false,"serviceType":"J","serviceClasses":["R","F","J","Y"],"trafficRestrictions":["Q"],"operator":{"carrierFsCode":"AA","flightNumber":"394","serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":[]},"codeshares":[],"referenceCode":"1216-2670894--10952249"},{"carrierFsCode":"US","flightNumber":"394","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-30T06:35:00.000","arrivalTime":"2014-12-30T09:35:00.000","flightEquipmentIataCode":"737","isCodeshare":true,"isWetlease":false,"serviceType":"J"[...]
[...]
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/12/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"LGA","fsCode":"LGA"},"arrivalAirport":{"requestedCode":"ORD","fsCode":"ORD"},"codeType":{},"departing":true,"date":{"year":"2014","month":"12","day":"30","interpreted":"2014-12-30"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/12/30"},"scheduledFlights":[{"carrierFsCode":"DL","flightNumber":"5939","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"A","arrivalTerminal":"2","departureTime":"2014-12-30T10:15:00.000","arrivalTime":"2014-12-30T12:00:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1216-1998050--"},{"carrierFsCode":"DL","flightNumber":"5943","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"A","arrivalTerminal":"2","departureTime":"2014-12-30T12:15:00.000","arrivalTime":"2014-12-30T14:00:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1216-1999585-[...]
