---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/12/30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"LGA","fsCode":"LGA"},"arrivalAirport":{"requestedCode":"ORD","fsCode":"ORD"},"codeType":{},"departing":true,"date":{"year":"2014","month":"12","day":"30","interpreted":"2014-12-30"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/12/30"},"scheduledFlights":[{"carrierFsCode":"DL","flightNumber":"5939","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"A","arrivalTerminal":"2","departureTime":"2014-12-30T10:15:00.000","arrivalTime":"2014-12-30T12:00:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1216-1998050--"},{"carrierFsCode":"DL","flightNumber":"5943","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"A","arrivalTerminal":"2","departureTime":"2014-12-30T12:15:00.000","arrivalTime":"2014-12-30T14:00:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1216-1999585--"},{"carrierFsCode":[...]
