---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/departing/2014/12/15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"ORD","fsCode":"ORD"},"arrivalAirport":{"requestedCode":"LGA","fsCode":"LGA"},"codeType":{},"departing":true,"date":{"year":"2014","month":"12","day":"15","interpreted":"2014-12-15"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/departing/2014/12/15"},"scheduledFlights":[{"carrierFsCode":"UA","flightNumber":"668","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"1","arrivalTerminal":"B","departureTime":"2014-12-15T06:00:00.000","arrivalTime":"2014-12-15T09:08:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1212-2544093--"},{"carrierFsCode":"UA","flightNumber":"557","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"1","arrivalTerminal":"B","departureTime":"2014-12-15T20:23:00.000","arrivalTime":"2014-12-15T23:29:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1212-2544374--"},{"carrierFsCode":"AA","flightNumber":"398","de[...]
