<%= erb :_header, :layout => false %>

You're not dead.  Great.
<body id="deactivated">
  <div id="wrapper" class="black-50">
    <a class="startanother" href="/reset">Start another bomb</a>
  </div>
</body>