.col-md-8
  .jumbotron
    %h1 Welcome to EVE Forecast
    // TODO: Replace with actual intro
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rhoncus risus id luctus aliquet.
.col-md-4
  %h2 Recent Searches
  // TODO: Fill with info
