<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> <img src="flag.jpg" alt="wrong" height='180%'></a>
      <a class="navbar-brand" href="/">Chicago events</a>
      <a class="navbar-brand" href="/venues">Venues</a>
    </div>
  </div>
</nav>