<footer class="footer">
  <div class="row">
    <div class="col-sm-8">
      <small>
        MyCTApp - Another successful project by <a href="http://developer.coffee" target="_blank">{developer.coffee}</a>
        <br/>
        All rights reserved &copy; 2015
        <br/>
        MyCTApp is in no way, shape, or form affiliated, endorsed, or sponsored by the Chicago Transit Authority (CTA). Arrival time estimations are provided publically by the CTA.
      </small>
    </div>
    <div class="col-sm-4">
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <!-- <li><a href="http://news.railstutorial.org/">News</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</footer>
