.chart-control
  .chart-control-buttons
    %button.btn.btn-success.keys-button.disabled Keys
    %button.btn.btn-success.clicks-button Clicks
    %button.btn.btn-success.download-button Download
    %button.btn.btn-success.upload-button Upload
    %button.btn.btn-success.uptime-button Uptime
