.chart-control
  .chart-control-buttons
    %button.btn.btn-success.chart-button.disabled{ chart_for: 'keys' } Keys
    %button.btn.btn-success.chart-button{ chart_for: 'clicks' } Clicks
    %button.btn.btn-success.chart-button{ chart_for: 'download' } Download
    %button.btn.btn-success.chart-button{ chart_for: 'upload' } Upload
    %button.btn.btn-success.chart-button{ chart_for: 'uptime' } Uptime
