%h2 WhatPulse Comparator
%form.form-inline#users_form{ onSubmit: 'return false;', role: 'form' }
  %input.form-control.form-input#user1{ type: 'text', name: 'user1', value: @user1 }
  %input.form-control.form-input#user2{ type: 'text', name: 'user2', value: @user2 }
  %input.form-control.btn.btn-primary{ type: 'submit', value: 'Go' }
%br
