<table class="cards-search-results">
  <%= render 'shared/cards_search_results_header' %>
  <% cards.each do |card| %>
    <%= render 'shared/cards_search_result', card: card, deck: deck %>
  <% end %>
</table>
<%= will_paginate(cards) %>
