<table class="cards-search-results">
  <tr>
    <th>Name</th>
    <th>Types</th>
    <th>Mana Cost</th>
    <th>Add/Remove</th>
  </tr>
  <%= render cards, deck: deck %>
</table>
<%= will_paginate(cards) %>
