<table class="cards-search-results">
  <%= render 'shared/cards_search_results_header' %>
  <tbody>
    <% cards.each do |card| %>
      <% if local_assigns.key? :deck %>
        <%= render 'shared/cards_search_result', card: card, deck: deck %>
      <% else %>
        <%= render 'shared/cards_search_result', card: card %>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate(cards) %>
