<% if obj.errors.any? %>
  <div class="panel alert error">
    <h3 class="n-errors">The form contains <%= pluralize(obj.errors.count, "error") %>.</h3>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
