<p><%= f.text_field :username, placeholder: "Username", tabindex: 1 %></p>
<p><%= f.password_field :password, placeholder: "Password", tabindex: 2 %></p>
<br>
<%= f.submit "Go", class: "btn", name: "login" %>
