= form_for @artist do |f| 
  .form-group
    = f.text_field :name, class: "form-control", placeholder: "Search for another artist to compare", required: true
  .form-group
    #add-artist-button
      = f.submit "Add Artist", class: "btn btn-default", id: "add-artist"