%h1 My Artists

%table.table.table-striped
  %tr
    %th Artist
    %th Remove
  - if @artists.any?
    - @artists.each do |artist|
      %tr
        %td= artist.name
        %td= button_to "Remove", artist_path(artist), method: :delete

= render partial: "artist"
