%h1= @artist.nbs_name

%h4 Social Media Comparison
.bubblechart
  %ul.bubblechains
    %li
      %span Artists
      %table
        %tr
          %td Twitter Followers
          %td= @artist.fan_count("Twitter")
        %tr
          %td Facebook Fans
          %td= @artist.fan_count("Facebook")
        %tr
          %td YouTube Likes
          %td= @artist.fan_count("YouTube")


/ .col-md-6
/ #weather

/ .col-md-6
/ #aapl

%br
%br

#metrics-over-time

%script{ src: "http://people.csail.mit.edu/eob/cts/widgets/bubblechart.cts", 
         type: "text/cts" }