/* Main styles */

* {
  font-family: "Open Sans", sans-serif;
}

input[type=submit] {
  border-radius: 3px;
  border:none !important;
  box-shadow:none !important;
}

#flash_notice {
  background: rgba(90,200,50,0.3); /* green */
} 

#flash_alert {
  background: rgba(255,0,0,0.3); /* red */
} 

.navbar-default {
  background: rgba(71,13,96,0.90);
  color: white;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  background: rgba(71,13,96,1);
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}