.sidebar-container {

  .current {
    @include font(body-bold);
    color: #d14836;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: .25rem;
      height: 1.75rem;
      background: $orange-red;
    }
  }

  li:active, li:hover {
    outline: 0;
    background: $light-gray;
  }
}

.secondary-links a {

  &:active, &:hover {
    text-decoration: underline;
  }
}
