---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/11/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"LGA","fsCode":"LGA"},"arrivalAirport":{"requestedCode":"ORD","fsCode":"ORD"},"codeType":{},"departing":true,"date":{"year":"2014","month":"11","day":"27","interpreted":"2014-11-27"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/11/27"},"scheduledFlights":[{"carrierFsCode":"NK","flightNumber":"847","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"3","departureTime":"2014-11-27T08:30:00.000","arrivalTime":"2014-11-27T10:06:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["R","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1192-1975036--"},{"carrierFsCode":"NK","flightNumber":"331","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"3","departureTime":"2014-11-27T21:55:00.000","arrivalTime":"2014-11-27T23:18:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["R","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1192-1975037--"},{"carrierFsCode":"DL","flightNumber":"5947","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"A","arrivalTerminal":"2","departureTime":"2014-11-27T14:15:00.000","arrivalTime":"2014-11-27T15:56:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1192-1974299--"},{"carrierFsCode":"DL","flightNumber":"5933","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"A","arrivalTerminal":"2","departureTime":"2014-11-27T07:15:00.000","arrivalTime":"2014-11-27T09:00:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1192-1974248--"},{"carrierFsCode":"UA","flightNumber":"681","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"1","departureTime":"2014-11-27T13:00:00.000","arrivalTime":"2014-11-27T14:43:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":[],"codeshares":[{"carrierFsCode":"NH","flightNumber":"7571","serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":["Q"],"referenceCode":10709012}],"referenceCode":"1192-1974462--"},{"carrierFsCode":"NH","flightNumber":"7571","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"1","departureTime":"2014-11-27T13:00:00.000","arrivalTime":"2014-11-27T14:43:00.000","flightEquipmentIataCode":"32S","isCodeshare":true,"isWetlease":false,"serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":["Q"],"operator":{"carrierFsCode":"UA","flightNumber":"681","serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":[]},"codeshares":[],"referenceCode":"1192-1974462--10709012"},{"carrierFsCode":"DL","flightNumber":"5939","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"A","arrivalTerminal":"2","departureTime":"2014-11-27T10:15:00.000","arrivalTime":"2014-11-27T12:00:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType[...]
