---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/arriving/2014/11/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"ORD","fsCode":"ORD"},"arrivalAirport":{"requestedCode":"LGA","fsCode":"LGA"},"codeType":{},"departing":false,"date":{"year":"2014","month":"11","day":"27","interpreted":"2014-11-27"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/arriving/2014/11/27"},"scheduledFlights":[{"carrierFsCode":"NK","flightNumber":"630","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-11-27T17:56:00.000","arrivalTime":"2014-11-27T21:05:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["R","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1192-2636687--"},{"carrierFsCode":"NK","flightNumber":"224","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-11-27T05:56:00.000","arrivalTime":"2014-11-27T09:00:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["R","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1192-2635903--"},{"carrierFsCode":"DL","flightNumber":"5938","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"2","arrivalTerminal":"A","departureTime":"2014-11-27T09:30:00.000","arrivalTime":"2014-11-27T12:36:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1192-2635803--"},{"carrierFsCode":"DL","flightNumber":"5944","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"2","arrivalTerminal":"A","departureTime":"2014-11-27T12:30:00.000","arrivalTime":"2014-11-27T15:37:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1192-2635847-[...]
