---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/arriving/2014/12/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"ORD","fsCode":"ORD"},"arrivalAirport":{"requestedCode":"LGA","fsCode":"LGA"},"codeType":{},"departing":false,"date":{"year":"2014","month":"12","day":"27","interpreted":"2014-12-27"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/arriving/2014/12/27"},"scheduledFlights":[{"carrierFsCode":"NK","flightNumber":"224","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-27T05:56:00.000","arrivalTime":"2014-12-27T09:00:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["R","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1205-2511240--"},{"carrierFsCode":"AA","flightNumber":"350","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-27T17:35:00.000","arrivalTime":"2014-12-27T20:35:00.000","flightEquipmentIataCode":"737","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":[],"codeshares":[{"carrierFsCode":"US","flightNumber":"350","serviceType":"J","serviceClasses":["R","F","Y"],"trafficRestrictions":[],"referenceCode":10907049},{"carrierFsCode":"EY","flightNumber":"3168","serviceType":"J","serviceClasses":["R","F","J","Y"],"trafficRestrictions":["G"],"referenceCode":10907050},{"carrierFsCode":"BA","flightNumber":"6609","serviceType":"J","serviceClasses":["R","F","J","Y"],"trafficRestrictions":["Q"],"referenceCode":10907052},{"carrierFsCode":"AS","flightNumber":"1011","serviceType":"J","serviceClasses":["R","F","Y"],"trafficRestrictions":["G"],"referenceCode":10907055}],"referenceCode":"1205-2512236--"},{"carrierFsCode":"EY","flightNumber":"3168","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-27T17:35:00.000","arrivalTime":"2014-12-27T20:35:00.000","flightEquipmentIataCode":"737","isCodeshare":true,"isWetlease":false,"serviceType":"J","serviceClasses":["R","F","J","Y"],"trafficRestrictions":["G"],"operator":{"carrierFsCode":"AA","flightNumber":"350","serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":[]},"codeshares":[],"referenceCode":"1205-2512236--10907050"},{"carrierFsCode":"NK","flightNumber":"630","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-27T18:00:00.000","arrivalTime":"2014-12-27T21:07:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J[...]
[...]
