---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/12/27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"LGA","fsCode":"LGA"},"arrivalAirport":{"requestedCode":"ORD","fsCode":"ORD"},"codeType":{},"departing":true,"date":{"year":"2014","month":"12","day":"27","interpreted":"2014-12-27"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/12/27"},"scheduledFlights":[{"carrierFsCode":"DL","flightNumber":"5939","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"A","arrivalTerminal":"2","departureTime":"2014-12-27T10:15:00.000","arrivalTime":"2014-12-27T11:58:00.000","flightEquipmentIataCode":"EMJ","isCodeshare":false,"isWetlease":true,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["F"],"codeshares":[],"wetleaseOperatorFsCode":"S5","referenceCode":"1205-1882887--"},{"carrierFsCode":"AA","flightNumber":"325","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"3","departureTime":"2014-12-27T09:45:00.000","arrivalTime":"2014-12-27T11:25:00.000","flightEquipmentIataCode":"737","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":[],"codeshares":[{"carrierFsCode":"JL","flightNumber":"7659","serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["Q"],"referenceCode":10658504},{"carrierFsCode":"BA","flightNumber":"6581","serviceType":"J","serviceClasses":["R","F","J","Y"],"trafficRestrictions":["Q"],"referenceCode":10658506},{"carrierFsCode":"US","flightNumber":"325","serviceType":"J","serviceClasses":["R","F","Y"],"trafficRestrictions":[],"referenceCode":10658508}],"referenceCode":"1205-1882588--"},{"carrierFsCode":"JL","flightNumber":"7659","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"3","departureTime":"2014-12-27T09:45:00.000","arrivalTime":"2014-12-27T11:25:00.000","flightEquipmentIataCode":"737","isCodeshare":true,"isWetlease":false,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["Q"],"operator":{"carrierFsCode":"AA","flightNumber":"325","serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":[]},"codeshares":[],"referenceCode":"1205-1882588--10658504"},{"carrierFsCode":"BA","flightNumber":"6581","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"3","departureTime":"2014-12-27T09:45:00.000","arrivalTime":"2014-12-27T11:25:00.000","flightEquipmentIataCode":"737","isCodeshare":true,"isWetlease":false,"serviceType":"J[...]
