Details for Bill: {{bill.official_title}}<br/>
<div ng-if="bill.summary">Summary: {{bill.summary}}</div><br/>
Score: {{bill.score}}<br/>
Number of Votes: {{bill.num_voted}}<br/>
Vote: 
<button type="button" 
  id="dislike"
  class="btn btn-default" 
  ng-click="vote('dislike')">
  Dislike
</button>
<button type="button" 
  id="like"
  class="btn btn-default" 
  ng-click="vote('like')">
  Like
</button>