<nav>
  <ul class="pagination">
    <li id='previous'><a href="" aria-label="Previous" data-remote=true><span aria-hidden="true">&laquo;</span></a></li>
    <%= render 'pagination' %>
    <li id='next'><a href="" aria-label="Next" data-remote=true><span aria-hidden="true">&raquo;</span></a></li>
  </ul>
</nav>
<table class="table" id='event-list'><%= render 'event_list' %></table>