<div class="thumbnail"> 
  <h3><%= event.title %></h3>
  <img class="event-image" src="<%= event.image || image_path("generic_event")%>">
  <div class="caption">
    <h4>Description</h4>
    <p><%= event.description %></p>
    <p class="event-categories"><%= event.categories.join(" ") %></p>
  </div>
</div>
