<div class="event-highlight thumbnail"> 
  <h4><%= event.title %></h4>
  <img class="event-image" src="<%= event.image || image_path("generic_event")%>">
  <div class="caption">
    <h5>Description</h5>
    <p><%= event.description %></p>
    <p class="event-categories"><%= event.categories.join(" ") %></p>
  </div>
</div>
