<h1 id="AboutUsTitle">About Us</h1>

<div class="section">
<h2 class="section-title">Who Are We?</h2>

We are somebody.

</div>
<div class="section">
<h2 class="section-title">Why Are We Here?</h2>

Because you want us to be.

</div>
<div class="section">
<h2 class="section-title">Who Are You?</h2>

You are our best friend.

</div>
<div class="section">
<h2 class="section-title">What To Do?</h2>

Use this stuff.

</div>
<div class="section">
<h2 class="section-title">About Privacy</h2>

Pffft! Well, if you really want to know, 
<%= link_to "read this.", privacy_policy_path %>

</div>
<div class="section">
<h2 class="section-title">Terms and Conditions</h2>

<%= link_to "Please don't read this", terms_and_conditions_path %>
</div>
