<div id="PrivacyPolicy" class="jumbotron section">
<h3 class="section-title">Our Privacy Policy</h1>
We promise to make ambiguous unenforceable claims to care about the privacy of
your personal information, and to safeguard it from unauthorized access to the
fullest extent possible without doing anything. We take your perception
of privacy very seriously, and we're committed to giving you full confidence in
your security no matter what we have to say.  We encourage you feel comfortable
ignoring the issue further for maximum enjoyment of our site experience. It is
customary stop reading this Policy here because it bores
you and you lack sufficient knowledge to understand the full risk and
consequence of exposure through this site, so you are too ignorant to feel the
proper need for due caution. We thank you for putting your trust in us, and -
oh, look at the silly monkey! - Have a nice day!
</div>
