<h1>Terms Of Use</h1>
<div class="jumbotron">
If your use of this site brings devastation to your world, complete or in part,
then We are indemnified from your condemnation. We told you so. So don't say we
never told you so. Use of this site for any purpose is strictly prohibited.
Don't do it. We're watching you, bud.
</div>
