<h1>Terms Of Use</h1>
<div class="jumbotron">
If your use of this site brings devastation to your world, complete or in part,
then We are indemnified from your condemnation. We told you so. So don't say we
never told you so. Use of this site for any purpose is strictly prohibited.
Don't do it. We're watching you, bud. Except if something bad happens, in which
case, we weren't watching and there's no phreaking way we could have ever known.
You have been warned. Again. Now go away. Why are you still here?
</div>
