<header>
  <h1>Art Journey</h1>

  <nav>
    <a href="artists">Artists</a>
    <a href="login">Login</a>
    <a href="signup">Signup</a>
  </nav>
</header>

<p>This is the home page.</p>

<footer>
  <ul>
    <li><a href="https://leveluprails.com" title ="Level Up Rails">LevelUp Rails</a></li>
    <li><a href="https://github.com/paulh16">My Github</a></li>
    <li><a href="https://artsy.net">Artsy</a></li>
  </ul>
</footer>
