body {
  background: white;
}
.dot {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;

  -webkit-animation: color-flipper 2.0s 0s infinite ease-out;
  animation: color-flipper 2.0s 0s infinite ease-out;
}
.dot:after {
  content: "";
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  background: white;

  -webkit-animation: flipper 2.0s 0s infinite ease-out;
  animation: flipper 2.0s 0s infinite ease-out;
}

@-webkit-keyframes color-flipper {
  0%, 100% { 
    border-radius: 25px;
    transform: rotateZ(135deg);
    background: red;
  }
  15% {
    border-radius: 25px;
    border-top-left-radius: 0px;
    transform: rotateZ(225deg);
    background: #e5a;
  }
  30% {
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    transform: rotateZ(315deg);
    background: #eb2;
  }
  45% {
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transform: rotateZ(405deg);
    background: #13c;
  }
  60%,80% {
    border-radius: 0px;
    transform: rotateZ(495deg);
    background: #1d6;
  }
}
@-webkit-keyframes flipper {
  0%, 100% { 
    border-radius: 25px;
  }
  15% {
    border-radius: 25px;
    border-top-left-radius: 0px;
  }
  30% {
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  45% {
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  60%,80% {
    border-radius: 0px;
  }
}