<article class="type-system-rounded">
  <p class="type"><%= @user.class %></p>
  <header>
    <h1>Your Account</h1>
  </header>
    <p>Email: <%= @user.email %></p>

    <p><%= link_to "Edit Account", edit_user_registration_path %></p>
    <p><%= link_to "Back to Users Page", users_path %></p>
</article>
