$sign-in-width:   400px;
$sign-in-height:  263px;

$large-btn-width:   400px;
$large-btn-height: 105px;
$large-btn-font: 60px;

$medium-btn-width: $large-btn-width/2;
$medium-btn-height: $large-btn-height/2;
$medium-btn-font: $large-btn-font*0.4;
