!!!

%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/style.css"}
    %script{:src => "https://code.jquery.com/jquery-1.11.3.min.js"}
    %script{:src => "js/script.js"}
  %body.unselectable
    .television
      %img{:src => "assets/tv3.jpg"}
      .player
        .logo
          %img
          %h2 RedditCast
          %p Loading your channels...
        .channel 
          %span.number= number
          %span.name= name
        .video
          %embed{:src => show, :frameborder => "1"}
      .toggles
        .prev-channel.channel-toggle <
        .loading.channel-toggle
          .ld.ld-bars
        .next-channel.channel-toggle >