<% provide(:title, 'History') %>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 10px">
        <h3><strong>History</strong></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-venue">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Street</th>
            <th>Date Visited</th>
          </tr>
        </thead>
        <% @entries.each do |entry| %>
        <tr>
          <td><%= link_to entry[1].name, foursquare_path(entry[1]), class: "venue-link", target: "_blank" %></td>
          <td><%= entry[1].category_name %></td>
          <td><%= entry[1].street %></td>
          <td><%= entry[0].visited %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
