<% if @artist.errors.any? %>
  <div class="errors">
    <header>
      <p>The <%= @artist.class.name.titleize.downcase %> could not be saved.</p>
      <p>Please correct the <%= pluralize(@artist.errors.count, 'error') %> below:</p>
    </header>
    <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %>.</li>
      <% end %>
    </ul>
  </div>
<% end %>
