body {
  background-color: white;
  margin: 0px;
}

div,article,p,section,hgroup,header {
}

h1,h2 {
  padding: 0px;
  margin: 0px;
}

.sidebar {
  display: inline-block;
  width: 270px;
  box-sizing: border-box;
}

.sidebar-indented {
  padding-left: 30px;
}

.right-side {
  padding-right: 30px;
}

#PageHeader {
  width: 100%;
  background-color: #eeeeee;
  height: 52px;
  border-bottom: 1px solid black;
}

#TitleHeader {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 270px;
  height: 42px;
  box-sizing: border-box;
}

#MailSearch {
  position: absolute;
  top: 5px;
  left: 270px;
  right: 310px;
  height: 42px;
}

#AccountControl {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 300px;
  height: 42px;
  padding: 0px 30px 0px 10px;
  box-sizing: border-box;
}

#AppControls {
  padding: 5px 10px 5px 0px;
  border-bottom: 1px solid black;
  height: 42px;
}

/* MODULES */

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dropdownbutton-content {
  position: absolute;
  display: inline-block;
  z-index: 2;
}

.titleheader { text-align: center; }
.titleheader h1 { font-size: 25px; }
.titleheader h2 { font-size: 15px; }

/* WIDGETS */

.accountinfo {
  width: 200px;
}

.mailsearch-form {
  width: 100%;
  position: absolute;
}

.mailsearch-form > .mailsearch-textfield {
  position: absolute;
  left: 0px;
  right: 100px;
}

.mailsearch-textfield > input[type="text"] {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
}

.mailsearch-submit {
  position: absolute;
  width: 100px;
  right: 0px;
}

.control {
  position: relative;
  display: inline-block;
  height: 40px;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  border: 1px solid gray;
}

.control > * {
  display: block;
  height: 100%;
  box-sizing: border-box;
  margin: 0px;
  min-width: 75px;
}

.control-group {
  display: inline-block;
  padding: 0px;
  margin-right: 10px;
}

.to-right {
  float: right;
}

/* STATES */

.collapsed {
  visibility: hidden;
  height: 0px;
}



