/* BASE */
body {
  background-color: white;
  margin: 0px;
  font-family: sans-serif;
}

/* LAYOUT */
#PageTop {
  position: fixed;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 80px;
  padding:-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 4px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

#TitleHeader {
  position: absolute;
  height: 75px;
}

#TitleHeader > h1 {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 100px;
  font-size: 40px; 
  vertical-align: middle;
  margin: 0;
}

#TitleHeader > h2 { 
  position: absolute;
  top: 15px;
  left: 120px;
  width: 145px;
  font-size: 18px;
  vertical-align: middle;
  margin: 0;
}

.pagetop-container {
  height: 40px;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
  line-height: 40px;
}

#MailSearchDropdown {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 100px;
  height: 100%;
}

#MailSearch {
  position: absolute;
  top: 0px;
  left: 270px;
  right: 400px;
}

.mailsearch-form {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
}

.mailsearch-textfield {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 25px;
  height: 100%;
  background: white;
}

.mailsearch-textfield > input[type="text"] { 
  font-size: 18px;
  width: 100%; 
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
}

.mailsearch-dropdown {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 100%;
  box-sizing: border-box;
  border: none;
  background: white;
}

.mailsearch-submit {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100px;
  background-color: #4285f4;
  color: white;
}

.pagetop-control-height {
  height: 42px;
}

#PageTopControls {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 350px;
  text-align: right;
}

#OtherAppsControl {
  display: inline-block;
  margin-right: 30px;
  width:  50px;
  clear: none;
  height: 100%;
}

#OtherAppsControl > input[type="image"] {
  height: 100%;
  width: 100%;
}

#AccountControl {
  position: relative;
  display: inline-block;
  text-align: right;
  font-size: 18px;
}

#AppControls {
  z-index: -1;
  position: fixed;
  top: 82px;
  padding: 0px 10px 0px 0px;
  border-bottom: 1px solid black;
  height: 65px;
  width: 100%;
  box-sizing: border-box;
}

.appcontrol-container {
  height: 55px;
  line-heignt: 40px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  box-sizing: border-box;
}

#AppMain {
  display: none;
  position: absolute;
  top: 126px;
  padding-top: 5px;
}

#Mailbox {
  right: 0px;
}

.arrow {
  position: relative;
  top: 0.8em;
  border-top: 5px solid black;
  border-left: 5px dashed transparent;
  border-right: 5px dashed transparent;
}

.spaced {
  margin-left: 5px;
}

.right-end {
  padding-right: 30px;
}

/* MODULES  */

/* Generic controls and groups of controls */

.centered { text-align: center; }

.left-pane {
  position: absolute;
  left: 0px;
  width: 270px;
  box-sizing: border-box;
}

.right-pane {
  position: absolute;
  left: 270px;
  right: 0px;
}

.to-right { float: right; }

.control-group {
  vertical-align: top;
  display: inline-block;
  padding: 0px;
  margin: 0px 10px 0px 0px;
}

.control.button {
  position: relative;
  padding: 5px 2px 5px 2px;
  line-height: 30px;
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  height: 40px;
  min-width: 100px;
  text-align: center;
}

.control {
  vertical-align: top;
  white-space: nowrap;
  display: inline-block;
  margin: 0px 10px 0px 0px;
  min-width: 75px;
  box-sizing: border-box;
  text-align: center;
}

.control > img {
  height: 100%;
}

.to-right.control {
  margin-right: 0px;
  margin-left: 10px;
}

.control-group > .control {
  margin: 0px;
  border-right: 0px;
}

.control-group > .control:last-child {
  border-right: 1px solid #c0c0c0;
}

.control-active {
  /* ...  */
}

/* Dropdowns */

.dropdown-frame {
  position: fixed;
  line-height: normal;
  text-align: left;
  z-index: 5;
  display: block;
  border: 1px solid #c0c0c0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: white;
}

.dropdown-content {
  overflow: auto;
}

/* Thumbnail list  */
.thumbnails {
  display: block;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  box-sizing: border-box;
}

.thumbnail:hover {
  border: 1px solid #c0c0c0;
}

.thumbnail-img {
  height: 90px;
  width: 90px;
  display: block;
  margin: 0px auto 10px auto;
}

.app-controls-primary {
  display: inline-block;
}

/* Mailbox  */
.mailbox {
  overflow: scroll;
}

.mailbox-list {
  border-collapse: collapse; 
}

.mailbox-header {
  height: 60px;
}

.mailbox-list-row > td  {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding-right: 30px;
}

.mailbox-list-synopsis {
  width: 70%;
}

.mailbox-list-sender { width: 30%; }

.mailbox-list-fav > img {
  height: 20px;
  width: 20px;
}

.mailbox-list-important > img {
  height: 20px;
  width: 20px;
}

.mailbox-message-unread { font-weight: bold; }

.mailbox-message-preview {
  font-weight: normal; 
  color: #e5e5e5;
}

.folder-list {
  list-style-type: none;
  padding: 0px;
}

.folder-item-inbox { color: red; }

.folder-item-alert { font-weight: bold; }

/* A gray box with stuff inside  */
.gray-box {
  background-color: #f5f5f5;
  display: block;
  padding: 1em;
}

.spacebox {
  margin: 10px;
}

/* SPECIFIC WIDGETS  */

.icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: no-repeat url("graphics/whirly.png");
  background-size: 30px 800px;
}

.refresh-icon {
  background-position: 0 -315px;
}

.checkbox {
  position: relative;
  display: inline-block;
  top: 2px;
  width: 14px;
  height:  14px;
  border: 1px solid #a0a0a0;
}

.checkbox > img {
  visibility: hidden;
  position: absolute;
  height: 25px;
  width: 25px;
  top: -5px;
  left: -5px;
}

.checkbox.checked > img {
  visibility: visible;
}

.settings-button > .arrow {
  top: 0px;
}

.account-menu {
  width: 300px;
}

.account-menu h1,h2 {
  font-size: 20px;
  margin: 0px;
  font-weight: normal;
}

.account-menu h2 {
  color: #a0a0a0;
}

.account-menu a {
  color: blue;
}

.appmode-menu.dropdown-button {
  position: relative;
  top: 10px;
  margin-left: 30px;
  color: red;
  font-size: 25px;
}

.appmode-menu ul > li:first-child {
  color: red;
}

.application-menu { width: 400px; }

.titleheader h1 {
  font-size: 30px;
  float: left;
  margin-right: 1em;
  color: orange;
}

.titleheader h2 {
  font-size: 15px;
  display: inline;
  color: blue;
}

.simple-menu ul {
  list-style-type: none;
  padding: 0px;
  min-width: 150px;
  margin: 5px 0px 5px 0px;
}

.simple-menu ul > li {
  padding: 4px 24px 4px 24px;
}

.simple-menu ul > li:hover {
  background-color: #e5e5e5;
}

.radio-button {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.radio-button.checked {
  background: no-repeat url("graphics/checkmark.png");
  background-size: 100% 100%;
  background-position: 0px 0px;
}

.radio-button-list .radio-button {
  left: -24px;
  top: 3px;
}

/* STATES  */

.collapsed {
  visibility: hidden;
  height: 0px;
}
