- require "date"
- messages = [{ from: "Mastey, Joseph",
                count: 1,
                subject: "Superfun Learning",
                date: Date.today - 10,
                new?: true },
              { from: "Mastey, Lynch, mullins",
                count: 6,
                subject: "Apprentice Things",
                date: Date.new(2014, 12, 9)}]
!!! XML
!!!
%html{lang: :en}
  %head
    %title PMail
    %meta{content: "width=device-width, initial-scale=1", name: :viewport}/
    %link{href: "stylesheets/normalize.css", rel: :stylesheet, type: "text/css"}/
    %link{href: "stylesheets/font-awesome.min.css", rel: :stylesheet, type: "text/css"}/
    %link{href: "stylesheets/pmail.css", rel: :stylesheet, type: "text/css"}/
  %body
    %section.topbar.topbar-primary
      %a.brand{alt: "Enova", href: "#"}
      %form#search-form.search-form
        .search-box><
          %input{type: :search}></
          %a.dropdown-toggle{ type: :button, data: { target: "#search-dropdown" }}
            %i.fa.fa-caret-down
            %i.fa.fa-caret-up
          .dropdown-panel.hidden#search-dropdown Advanced Search will go here
        %button.primary-button{ type: :submit }
          %i.fa.fa-search
      .topbar-links.right
        %ul
          %li
            %a.dropdown-toggle{ href: "#", data: { target: "#app-dropdown" }}
              %i.fa.fa-th
            .dropdown-panel.hidden.center#app-dropdown
              Apps will go here
          %li
            %a.dropdown-toggle{ href: "#", data: { target: "#account-dropdown" }}
              dkotowski@enova.com
              %i.fa.fa-caret-down
              %i.fa.fa-caret-up
            .dropdown-panel.hidden.right#account-dropdown
              Account dropdown will go here
    %section.main-pane
      .topbar
        .topbar-links
          %ul
            %li
              %button.dropdown-toggle{ data: { target: "#selection-dropdown" }}
                %i.fa.fa-square-o
              .dropdown-panel.hidden#selection-dropdown More options here
            %li
              %button#refresh
                %i.fa.fa-refresh
            %li
              %button.dropdown-toggle{ data: { target: "#message-options-dropdown" }}
                More
                %i.fa.fa-caret-down
                %i.fa.fa-caret-up
              .dropdown-panel.hidden#message-options-dropdown More options here
      %main.message-list
        - messages.each_with_index do |message, index|
          %article.message#message{ id: index, class: message[:new?] ? "new" : nil }
            .message-actions
              %input#selected_message{ type: :checkbox, name: "selected_message", id: index, value: index }><
              %label{ for: "selected_message_#{index}" }
                %span
            .message-field.from= message[:from]
            .message-field.subject= message[:subject]
            .message-field.date= message[:date].year == Date.today.year ? message[:date].strftime('%b %-d') : message[:date].strftime('%-m/%-d/%y')
      %footer
        .left
          .line
            %strong 0% full
          .line Using 150GB of your 500TB
        .middle
          .line.segmented
            %span &copy;2015 Polish Dan
            %span
              %a{ href: "javascript:;", onclick: "alert('TOS: All your data are belong to us!');" } Terms of Service
            %span
              %a{ href: "javascript:;", onclick: "alert('You have no privacy.');" } Privacy Policy
            %span
              %a{ href: "javascript:;" } Program Policies
          .line Powered by the souls of the damned
        .right
          .line Last account activity: 2 days ago
          .line
            %a{ href: "javascript:;" } Details
    %nav.sidebar
      .topbar
        .topbar-links
          %ul
            %li
              %a.dropdown-toggle{ href: "#", data: { target: "#mail-dropdown" } }
                Mail
                %i.fa.fa-caret-down
                %i.fa.fa-caret-up
              .dropdown-panel.hidden#mail-dropdown
                List options here
      .sidebar-main
        %button.secondary-button#compose Compose
        %ul.sidebar-links
          %li.active
            %a{ href: "#" } Inbox
          %li
            %a{ href: "#" } Starred
          %li
            %a{ href: "#" } Sent Mail
          %li
            %a{ href: "#" } Drafts
          %li
            %a{ href: "#" } Projects
          %li
            %a.dropdown-toggle{ href: "#", data: { target: "#more-links" } }
              More
              %i.fa.fa-caret-down
              %i.fa.fa-caret-up
        %ul.sidebar-links.hidden#more-links
          %li
            %a{ href: "#" } Important
          %li
            %a{ href: "#" } All Mail
          %li
            %a{ href: "#" } Spam
          %li
            %a{ href: "#" } Trash

    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
    %script{src: "pmail.js"}
