%h1 Events
- @events.each do |event|
  = render partial: "event_show", locals: { event: event }
  = link_to "Edit", edit_event_path(event), class: "dude"
  |
  = link_to "Details", event_path(event)
  |
  = link_to "Add to iCal", event_path(event, format: :ics)
  %hr
