<footer class="footer">
  <small>
    Copyright (c) Critique, Inc. All rights reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "News", news_path %></a></li>
    </ul>
  </nav>
</footer>