<body>
  <% if signed_in? %>
      <%= render :partial => "session_bar.html.erb" %>
	<div class='dim-table' style='float: left; padding-left: 5%'>
	  <%= render :partial => "user_event.html.erb" %>
	</div>
	<div class='focus-table' style='float: right; padding-right: 5%'>
	  <%= render :partial => "events.html.erb" %>
	</div>
  <% else %>
    <h3>Please <%= link_to 'sign in', new_session_path %></h3>
  <% end %>
</body>
