<h2>Event Details</h2>
<br>
<table>

<tr>
  <td><strong>Name:</strong></td>
  <td><%= @event.name %></td>
</tr>

<tr>
  <td><strong>Location:</strong></td>
  <td><%= @event.location %></td>
</tr>

<tr>
  <td><strong>When:</strong></td>
  <td><%= @event.time %></td>
</tr>

</table>
