.actionbar
  .actionbar-contents
    .app-selector
      %span.app-selector-option Mail
      .down-arrow-icon.red.app-selector-arrow
    .mail-selector
      .checkbox-selector.button
        .down-arrow-icon-overlay
          .down-arrow-icon.checkbox-down-arrow
        .checkbox
      .refresh-button.button
        .refresh-button-overlay
          .refresh-icon.icon-sprites.refresh-icon-center
      .more-selector.button
        %span.more-selector-text More
        .down-arrow-icon-overlay
          .down-arrow-icon.more-selector-down-arrow
    .page-selector
      .page-information
        .email-range
          1–30
          .email-range-total-separator
            of
          .email-total
            30
      .page-selector-buttons
        .page-left.half-button
          .arrow-overlay
            .arrow-left.more-fucking-sprites.center-arrow
        .page-right.half-button
          .arrow-overlay
            .arrow-right.more-fucking-sprites.center-arrow
    .settings-selector
      .settings-button
        .gear-icon-overlay
          .gear-icon.icon-sprites.gear-icon-center
        .settings-button-overlay
          .down-arrow-icon.settings-down-arrow

