.mailboxes
  .compose-button
  .mailbox-options
    .mailbox-option.inbox.hoverable.active
    .mailbox-option.starred.hoverable
    .mailbox-option.sent.hoverable
    .mailbox-option.drafts.hoverable
    .mailbox-option.more
      .down-arrow-icon
