.mailbundles
  .primary.mailbundle.active
    .primary-overlay.active
      .primary-icon.category-sprites
  .social.mailbundle
    .social-overlay
      .social-icon.category-sprites
  .promotions.mailbundle
    .promotions-overlay
      .promotions-icon.category-sprites
  .updates.mailbundle
    .updates-overlay
      .updates-icon.category-sprites
  .forums.mailbundle
    .forums-overlay
      .forums-icon.category-sprites
  .extras.mailbundle
    .extras-overlay
      .gmail-plus-icon
