.userbar
  .logo
    %a{href:'/'}
      = image_tag "netflix.png", class: "logo-md"
  .search
    %input.search-input
    .search-extra-options.down-arrow
    %button.search-button
      %span.application-sprites.search-icon
  .dropdowns
    .more-applications
      .application-sprites.app-icon
    .user-menu
      %span.user-email kshu@enova.com
      .more-user-options.down-arrow

