%p
  Bomb is active.
%p
  Attempts remaining:
  =bomb.attempts_remaining
%form.active_bomb{:action => "/deactivate", :method => "post"}
  %p 
    Deactivation code: 
    %input{:name => "submitted_deact_code", :type => "text", :pattern => "[0-9]{4}"}
  %p
    %input{:type => "submit", :value => "Submit deactivation code"}