%p
  Bomb is active.
%p.attempts_remaining
  Attempts remaining:
  =bomb.attempts_remaining
%form.active_bomb{:action => "/deactivate", :method => "post"}
  %p 
    Deactivation code: 
    %input.deact_code_guess{:name => "deact_code", :type => "text", :pattern => "[0-9]{4}"}
  %p
    %input.submit_deact_code_guess{:type => "submit", :value => "Submit deactivation code"}
  - if bomb.attempts_remaining < 3 && bomb.activated?
    %p.incorrect_deactivation_code
      Incorrect deactivation code
