%p.bomb_exploded
  %marquee{:behavior => "alternate", :scrollamount => "30"} Bomb exploded
  %marquee{:behavior => "alternate", :scrollamount => "50"} Bomb exploded
  %marquee{:behavior => "alternate", :scrollamount => "70"} Bomb exploded
  %marquee{:behavior => "alternate", :scrollamount => "90"} Bomb exploded
  %marquee
    %a{:href => "/"} Start over