%p.bomb_exploded
  %blink
    %marquee{:behavior => "alternate", :scrollamount => "40"} Bomb exploded
    %marquee{:behavior => "alternate", :scrollamount => "60"} Bomb exploded
    %marquee{:behavior => "alternate", :scrollamount => "80"} Bomb exploded
    %marquee{:behavior => "alternate", :scrollamount => "100"} Bomb exploded
    %marquee
      %a{:href => "/"} Start over