<form action="/" method="post">
	<label for="activate_code">Override activation code: </label>
  <input id="activate_code" type="text" name="activate_code" autofocus><br>
  <label for="deactivate_code">Override deactivation code: </label>
  <input id="deactivate_code" type="text" name="deactivate_code">
  <input id="submit" type="submit" name="submit">
</form>