<form action="/activate" method="post">
  <label for="code">Activation Code</label>
  <input type="number" min="0" max="9999" name="code">
  <input type="submit" value="Activate" class="submit-btn">
</form>