%head
      %link{:href => "style.scss", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "gridism.css", :rel => "stylesheet", :type => "text/css"}
      %script(src="countdown.js")
      %script{:src => "jquery-latest.js", :type => "text/javascript"}
