<html>
<head>
  <title>Overlord</title>
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>

<body>
<h1>Bomb Status: <%= status %> </h1>
<h3>Ready to activate!</h3>
<div class="container">
  <form action="/deactivate/" method="post">
    <label>Activation Code</label><br />
    <input type="text" name="activation">
    <input style="margin-top: 5%" type="submit" value="Activate">
  </form>
</div>
</body>
</html>
