<form action="/activate" method="post">
  <h3>Enter activation code : <input type="number" name="activation_code"
                                     maxlength="4" min="1111" max="9999" required></h3>
  <input type="submit" value="Activate!">
</form>
