<p>You set the bomb!</p>

<p>The bomb is <%= @bomb.state %></p>

<% if @bomb.state == :active %>
	Disarm: <input type="text" id="disarm">
	<input type="submit" value="deactive">
<% else %>
	You can't deactivate a bomb in this state.
<% end %>