%p.active
  %form{:action => "/deactivate", :method => "post"}
    %p
      Deactivation code:
      %input.deactivation_code{:name => "deactivation_code", :type => "text", :pattern => "[0-9]{4}"}
    %p
      %input.deactivation_button{:type => "submit", :value => "Deactivate"}