<style>
h3 {
    text-align: left;
} 
</style>
<h3>Muhahaha... Bomb activated</h3>
<span id="countdown" class="timer"></span>
<div id="bg">
  <img src="images/background_bomb.jpg" id="bg" alt="">
</div>
<script>
  var countdownseconds = 20;
  function countdowntimer() {
    var minutes = Math.round((countdownseconds - 30)/60);
    var remainingSeconds = countdownseconds % 60;
    document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
    if (countdownseconds == 0) {
      clearInterval(countdownTimer);
      window.location.href = 'bomb_exploded'    
    } else {
    countdownseconds--;
    }
  }
 
  var countdownTimer = setInterval('countdowntimer()', 1000);
</script>

<form action="/deactivate_bomb" method="post">
  <input type="number" name="deact_code" maxlength="4" min="0000" max="9999">
  <input type="submit" value="Deactivate now!">
</form>


