%h3
  =params
%h3
  Attempts remaining:
  =bomb.attempts_remaining
- if bomb.attempts_remaining > 0
  %form{:action => "/deactivate", :method => "post"}
    %p 
      Deactivation code: 
      %input{:name => "submitted_deactivation_code", :type => "text"}
    %p
      %input{:type => "submit", :value => "Submit deactivation code"}
- else
  %h3 sheit

