
<style>
  #grad1 {
  font-family: verdana;
  color: #101010;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  height: 1200px;
  opacity: 0.9;
  background: -webkit-linear-gradient(left top, red, black);
  background: linear-gradient(to bottom right, red, black);
}
</style>
<body bgcolor="#C1C1C1">

<div id="grad1">
  <h1>Hello innocent civilian!</h1>
  <p>Not a civilian? <a href="/boot">Click here</a></p>
  <p><%=  @state_message %></p>
  <h2>Would you like to activate this bomb?  Please say yes.</h3>
  <form action="/activate" method="post">
    Enter code.  Hint -> 1234
    <input type="text" name="code" id="code">
    <input type="submit" value="Activate" id="activate">
  </form>
  <font color="red"><p id="error_msg"><%= @error_msg %><p></font>
</div>
</body>

