<h1> Status of the bomb: </h1>
Successfully created.

<form action="/startbomb" method = "POST">
  Enter activation code: <input type="text" name = "activation_code"> <br>
  <input type="Submit">
</form>
