<H1>Activated</H1>

<form action="deactivate" method="POST">

  <% if @errors %>
    Errors: <%= @errors %>
  <% end %>

  <label for="deactivation_code">Enter your deactivation code:</label>
  <input type="text" name="deactivation_code">
  <input class="button" type="submit" name="deactivate" value="Deactivate">
</form>