- 5.times do
  %br

%center
  %p
    Attempts remaining:
    =bomb.attempts_remaining
  - if bomb.attempts_remaining > 0 && bomb.active == true
    = haml :_active_bomb
  - elsif bomb.attempts_remaining > 0 && bomb.active == false
    = haml :_deactivated_bomb
  - if bomb.exploded
    = haml :_bomb_exploded
  - if bomb.attempts_remaining < 3 && bomb.active == true
    =haml :_bad_deactivation_code