<style>
h3 {
    text-align: left;
} 
</style>
<form action="/activate" method="post">
  <div id="bg">
    <img src="images/background_bomb.jpg" id="bg" alt="">
  </div>
  <h3>Enter activation code : <input type="number" name="act_code" maxlength="4" min="1111" max="9999" required></h3>
  <input type="submit" value="Activate my bomb!"> 
</form>