- 5.times do
  %br

%center
  %p
    =params
  %p
    =bomb.state
  %p
    =bomb.attempts_remaining
  %form{:action => "/deactivate", :method => "post"}
    %p 
      Deactivation code: 
      %input{:name => "submitted_deact_code", :type => "text"}
    %p
      %input{:type => "submit", :value => "Submit deactivation code"}
