<form method='post' action='/arm_bomb'>
  <label for="arming_code">Enter Bomb Arming Code:</label>
  <input type='text'  name='arming_code' id="arming_code"/>
  <input type='submit'  value='Arm This Bomb!'/>
</form>
