<head>
  <script src="validation.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="overlord.css" media="all">
<form class="page-container">
    <div class="blast-container"></div>
</form>
</head>