%html
  %head
    %title ACME Bomb
  %body
    .bomb
      .wiring
      .display
        .activation_status
        .timer
        .status
      .input
        .keypad
        .buttons
          %button#enter{type: :button} Enter
          %button#confirm{type: :button} Confirm
