<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>THE BOMB</title>
    <meta name="description" content="The Bomb Controller">
    <meta name="author" content="Dr. No">
</head>

<h1>THE BOMB</h1>
<body>
  <div>Only super villains allowed
    <p>Don't let this brilliant UI design fool you</p>
    <p>We mean business</p>
  </div>
  <p><%= BombFormText.status_message(@bomb) %></p>
  <p><%= BombFormText.code_message(@bomb) %></p>
    <form action="/" method="post">
      <% if @bomb.detonated? %>
        <input id="code" type="text" name="code" disabled>
        <input id="submit" type="submit" name="submit" disabled>
      <% else %>
        <input id="code" type="text" name="code" autofocus>
        <input id="submit" type="submit" name="submit">
      <% end %>
    </form>
</body>
</html>



