!!!
%html
  %head
    %title Overlord
  %body
    %h1 Activation Sequence
    %h2="Current State: #{@bomb.string_state}"
    %form{action: '/activate', method: 'post'}
      %fieldset
        .field
          %label{:for => "activation_code"} Activation Code:
          %input{:type => "text", :name => "activate", :class => "text"}
        %input{:type => "submit", :value => "Activate", :class => "button"}
    %form{action: '/deactivate', method: 'post'}
      .fieldset
        .field
          %label{:for => "deactivation_code"} Deactivation Code:
          %input{:type => "text", :name => "deactivation_code", :class => "text"}
        %input{:type => "submit", :value => "Deactivate", :class => "button"}

    %h2="Attempts left: #{3 - @bomb.attempts}"
