%form{action: "/activate", method: "post"}
  #countdown
    .wrapper-bomb
      .container-bomb.seconds
      .container-bomb.miliseconds
  #activate-bomb.bomb-button
    %input{placeholder: "activate", name: "activate", class: "buttonFlat"}
  #submit-bomb.bomb-button
    %input{type: "submit", value: "ACTIVATE", class: "buttonFlat", id: "submit-bomb"}



