%form{action: "/deactivate", method: "post"}
  #deactivate-bomb.bomb-button
    %input{placeholder: "deactivate", name: "deactivate", class: "buttonFlat"}
  #try-bomb.bomb-button
    %input{type: "submit", value: "DEACTIVATE", class: "buttonFlat"}
