<head>
  <script src="validation.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="overlord.css" media="all">
    <form class="page-container" action="/bomb" method="post" >
    <div class="form-container">
        <div class="form-title"><h2>Bomb</h2></div>
        <div class="form-title"><h3>Enter four digit activation or deactivation code for the bomb.</h3></div>
        </br>
        </br>
        <div class="form-title">Enter Code</div>
        <input class="form-field" type="text" name="bombcode" id="bombcode" maxlength="4" size="4" onkeypress="return validatedigit();"/><br />
        <div class="form-title" id ="bomb_state">Bomb state: <%= bomb_status %></div>
        <div class="form_title">
          <% if(bomb_status == 'activated') %>
              <div class="form_title">
                <div class="form-title">If bomb state is active three wrong attempts will cause it to blast. </div>
                  <h3>Number of incorrect attempts : <%= incorrect_attempts %></h3>
               </div>
          <% end %>
        </div>
        <div class="submit-container">
            <input class="submit-button" type="submit" value="Submit" id ="Submit" name="Submit"/>
        </div>
    </div>
</form>
</head>
