<div id='bomb'>
<div class='title'>Bomb is <%= @bomb_active ? "Active" : "Inactive" %></div>

<div class='code'>
<% if @bomb_active %>
<p><%= @max_tries-@tries %> tries left.</p>
<% end %>

<% if @dummy != nil %>
<p id='dummy' style="color:#ff0000"><%= @dummy %></p>
<% end %>
<form method="post" action="/">

Code: <input type='text' name="code" />
<input value="submit" type="submit" />

</form>
</div>
</div>