<html> 
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <img class="displayed" id="explosion_img" src="explosion_gif.gif"> 

    <h1 align="center"> Ahhhhhhhhhh!! The bomb went off! Bad times. </h1>

    <h3> Dear Heroic Individual, </h3>
    <h3 class="box"> Although the bomb went off, you can take comfort in 
    knowing that it was in the middle of the desert and no 
    one was around.  Luckily, I am not one of those malevolent overlords. 
     I applaud your efforts but nonetheless recommend
    you work on your bomb deactivation skills.  </h3>

    <h3> With kindest personal regards, </h3>
    <h3 class="salutation" align="center"> Overlord </h3>
  </body>
</html>
