<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Megaton</title>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/overlord.css">
  </head>

  <body class="bomb">
    <div class="container">
      <div class="instructions">
        <div class="line">Why would anyone ever build a city around a bomb?</div>
        <div class="line">(Furthermore, why would anyone create a cult around it?)</div>
        <div class="line">Set the activation and deactivation codes below:</div>
        <div class="line">¯\_(ツ)_/¯</div>
        <div class="line">c'est la vie</div>
      </div>

      <form action="/boot" method="post">
        <input type="text" placeholder="Set Activation Code" autocomplete="off" name="activation_code">
        <input type="text" placeholder="Set Deactivation Code" autocomplete="off" name="deactivation_code">
        <div>
          <button class="whitebutton" type="submit" name="submit_button">Set Codes</button>
        </div>
      </form>

      <div class="flash">
        <% flash.each do |k, v| %>
          <div>
            <%= v %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
