<form action="/bomb" method="post">

  <% unless session[:error].empty? %>
    <p>Unable to deploy bomb:<p>
    <p><%= session[:error] %></p>
  <% end %>

  <p>
    <label for="activation_code">Activation Code</label>
    <input type="text" name="activation_code" id="activation_code">
  </p>
  <p>
    <label for="deactivation_code">Deactivation Code</label>
    <input type="text" name="deactivation_code" id="deactivation_code">
  </p>
  <input type="submit" value="Plant Bomb">
</form>