<style>
    #explosion{
        background-image: url("../img/explosion.png");
        width: 640px;
        height: 640px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
    }

</style>
<div id='explosion'>
    <center><h1>BOOM</h1></center>
</div>
