- 5.times do
  %br

%center
  - if bomb.deactivated?
    = haml :_booted_bomb
  - elsif bomb.activated?
    = haml :_bomb_already_active
  - elsif bomb.exploded?
    = haml :_bomb_exploded
  - elsif bomb.not_booted?
    = haml :_welcome_page