<h3> Welcome Mr/Ms Overlord! </h3>
<h4> Input codes and click the button when you are ready to boot the bomb.</h3>

<h1> Please choose 4 digit activation and deactivation codes. </h1>
<form action="/attemptboot" method="POST">
  Activation Code: <input type="text" name="activation_code" class="activation_code"><br>
  Deactivation Code: <input type="text" name="deactivation_code" class="deactivation_code"><br>
<input type="submit" value ="Boot Bomb">
</form>
