- 5.times do
  %br

- if bomb.active == false
  %center
    %p
      The bomb has been booted but not activated.
    %p
      Please enter the activation code.
    %form{:action => "/activate", :method => "post"}
      %p 
        Activation code: 
        %input{:name => "submitted_act_code", :type => "text", :pattern => "[0-9]{4}"}
      %p
        %input{:type => "submit", :value => "Submit activation code"}
    - if bad_code
      %p
        Incorrect activation code
- else
  %center
    %p Bomb is already active.
    %p
      %a{:href => "/deactivate"} Proceed to deactivation screen