
<!--<h1>Boot Form</h1>-->

<form action="/boot/" method="POST">
  Enter activation/deactivation codes

  <label for="activation">Activation Code: </label><input type="text" name="activation" id="activation">
  <br/>
  Deactivation Code: <input type="text" name="deactivation" id="deactivation">
  <br/>
  <input type="submit" class='btn btn-primary' value="Create Bomb">
</form>
</p>