.activate
  %h1 Activation Sequence
  .alert.alert-danger{role: "alert"}
    %span.glyphicon.glyphicon-exclamation-sign{'aria-hidden' => "true"}
    %span.sr-only Error:
    Wrong activation code
  %form{action: '/activate', method: 'post'}
    .form-group
      %label{for: "activation_code"} Activation Code:
      %input.form-control{type: "text", name: "submit_activation_code"}
    %button.btn.btn-default{type: "submit"} Activate

.deactivate
  %h1.countdown
    Countdown:
    %span.timer#30
  .alert.alert-danger{role: "alert"}
    %span.glyphicon.glyphicon-exclamation-sign{'aria-hidden' => "true"}
    %span.sr-only Error:
    Wrong deactivation code
  %form{action: '/deactivate', method: 'post'}
    .form-group
      %label{for: "deactivation_code"} Deactivation Code:
      %input.form-control{type: "text", name: "submit_deactivation_code"}
    %button.btn.btn-default{type: "submit"} Deactivate
