%p.inactive
  %form{:action => "/activate", :method => "post"}
    %p
      Activation code:
      %input.activation_code{:name => "activation_code", :type => "text", :pattern => "[0-9]{4}"}
    %p
      %input.activation_button{:type => "submit", :value => "Activate"}

  - if bomb.status == :invalid
    %p.incorrect_code_submitted
      Incorrect activation code