%h3
  The bomb has been booted but not activated.
%h3
  Bomb state: 
  =bomb.active?
%h3
  Attempts remaining:
  =bomb.attempts_remaining
%form{:action => "/activate", :method => "post"}
  %p 
    Activation code: 
    %input{:name => "submitted_activation_code", :type => "text"}
  %p
    %input{:type => "submit", :value => "Submit activation code"}

%p
  =params.keys