<html>
    <head>
        <title>Time to blow shit up</title>
    </head>
  <body>

  <h1>Decide on you activation and defuse Codes</h1>

  <form action="/codes/" method="POST">
      Activation code: <input type="number" name="activation_code">
      <br/>
      Defuse Code: <input type="number" name="defuse_code">
      <br/>
      <input type="submit">
  </form>

  </body>
</html>
