%div#codebox
  %table
    - if codebox.active?
      %caption{class: "alert alert-danger"}
        %strong Active Bomb!
    - else
      %caption{class: "alert alert-primary"}
        %strong Not Active Bomb!
    %tr
      %td{colspan: 2}
        %fieldset{disabled: ""}
          %input{class: "form-control input-lg", type: "text"}
      %td
        %button{data: {value: "delete"}, class: "btn btn-lg btn-primary btn-block"}
          %span{class: "glyphicon glyphicon-arrow-left"}
    %tr
      - (7..9).each do |n|
        %td
          %button{data: {value: n}, class: "btn btn-lg btn-default btn-block"} #{n}
    %tr
      - (4..6).each do |n|
        %td
          %button{data: {value: n}, class: "btn btn-lg btn-default btn-block"} #{n}
    %tr
      - (1..3).each do |n|
        %td
          %button{data: {value: n}, class: "btn btn-lg btn-default btn-block"} #{n}
    %tr
      %td
        %button{data: {value: 0}, class: "btn btn-lg btn-default btn-block"} 0
      %td{colspan: 2}
        %input{type: "submit", value: "submit code", class: "btn btn-danger btn-lg btn-block"}
