<div id='code-input-panel'>
  <input id='digit-1' name='digit-1' type='text' maxlength='1'></input>
  <input id='digit-2' name='digit-2' type='text' maxlength='1'></input>
  <input id='digit-3' name='digit-3' type='text' maxlength='1'></input>
  <input id='digit-4' name='digit-4' type='text' maxlength='1'></input>
  <button id='input-submit' name='input-submit'></button>
</div>