<form action="/confirm_activation" method="post">
  <h3>Control Panel</h3>
  <input type="text" name="status" readonly value=<%= params[:status] %>>
  <br>
  <input type="text" name="code" value=<%= params[:code] %> readonly>
  <br><br>
  Please confirm activation.
  <br><br>
  <button type="submit" name="BigRedButton" id="BigRedButton" style="background: Red; color: white; font-size: 40px; padding:60" autofocus>Confirm</button>
</form>