<body>
<head>
<style>
  h1 {
      text-align: center;
  }
  h2 {
      text-align: left;
  }
  </style>
</head>
<div id="bg">
  <img src="images/background_bomb.jpg" id="bg" alt="">
</div>
<h1> Booting bomb.. you really need to configure this thing, its not easy. </h1>

<form action="/configure" method="post">
  <h2>Activation code : <input type="number" name="activation" maxlength="4" min="1111" max="9999"></h2>
  <h2>Deactivation code : <input type="number" name="deactivation" maxlength="4" min="0000" max="9999"></h2>
  <input type="submit" value="submit my codes!">
</form>
</body>
