<html>

  <style>
    h3 {
       height: 25px;
       width: 700px;
       }
  </style>

  <body>
      <h2> <%= @user_bomb.num_deactivation_attempts %> attempt(s) remain. </h2>
      <h2> Time remaining to deactivate </h2>
      <h3 id="time_remaining"> </h3>
      <form action="/attemptdeactivation" method = "POST">
        Deactivation Code: <input type="text" name = "deactivation_code"> <br>
        <input type="submit" value = "Submit" >
      </form>
      <script type = "text/javascript" src="update_time.js"> </script>

  </body>


</html>
