<form class='form' id= 'login' action='/defuse' method='POST'>
    <label for='code'> Enter Code:</label>
    <input type='text' id='code' name='code' placeholder='Enter key for destruction'>
    <input type='submit' id='activate' value='Destroy'>
</form>
<%= erb :_reset%>