<form class='form' id= 'login' action='/defuse' method='POST'>
    <label for='defuse'> Enter Code:</label>
    <input type='text' id='defuse' name='defuse' placeholder='Enter deactivation'>
    <input type='submit' id='activate' value='Destroy'>
</form>
