<%= erb :unexploded_bomb_image %>

<%= erb :bomb_status %>

<div class="row activation-form-wrapper">
  <div class="col-md-12 text-center">
    <form class="form-inline" role="form" action="/activate" method="post">
      <div class="form-group">
        <input type="text" class="form-control code-input" id="activation-code" name="activation-code" placeholder="Activation code">
      </div>
      <button id="activate" type="submit" class="btn btn-danger" disabled>Activate</button>
    </form>
  </div>
</div>
