<div class="row">
  <div class="col-md-12 text-center">
    <%= erb :bomb_status %>
  </div>
  <div class="col-md-12 text-center">
    <form class="form-inline" role="form" action="/activate" method="post">
      <div class="form-group">
        <input type="text" class="form-control code-input" id="activation-code" name="activation-code" placeholder="Activation code">
      </div>
      <button id="activate" type="submit" class="btn btn-primary" disabled>Activate</button>
    </form>
  </div>
</div>
