<style>
  #grad1 {
  font-family: verdana;
  color: #101010;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  height: 1200px;
  opacity: 0.9;
  background: -webkit-linear-gradient(left top, red, black);
  background: linear-gradient(to bottom right, red, black);
}
</style>
<body bgcolor="#C1C1C1">

<div id="grad1">
<iframe src="//giphy.com/embed/iZuLdzQ5eoD1C?html5=true" width="480" height="422" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</body>

