<form>
  Countdown: <span class="clock">--</span>

  Configure: <input type="radio" name="mode" value="configure" />
  Disarm: <input type="radio" name="mode" value="disarmed" checked="checked" />
  Arm: <input type="radio" name="mode" value="armed" />

  Code: <input type="text" name="code" value="" />
  <button name="trigger" value="Start Countdown" disabled="disabled" />
</form>
