<section id="disarm_bomb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Hurry Disarm the bomb before time runs out!</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
          <input type="hidden" id="timer" name="timer" value=<%=timer%> >
            <div class="countdown">
                <div id="pendulum"></div>
                <div id="message" class="message"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <form action="/disarm_bomb" method="post" >
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Disarming Code</label>
                        <input type="text" class="form-control" placeholder="Enter a code to disarm the bomb" id="disarming_code" name="disarming_code" required data-validation-required-message="Please enter a code to disarm the bomb.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-success btn-lg">Send</button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>
