- 5.times do
  %br

- if bomb == nil
  %center
    %p Welcome to the bomb
    %p Please enter a 4-digit number for the activation and deactivation codes
    %form{:action => "/boot_bomb", :method => "post"}
      %p 
        Activation code: 
        %input{:name => "act_code", :type => "text", :pattern => "[0-9]{4}"}
      %p 
        Deactivation code:
        %input{:name => "deact_code", :type => "text", :pattern => "[0-9]{4}"}
      %p
        %input{:type => "submit", :value => "Boot bomb"}
- else
  %center
    %p Bomb 