- 5.times do
  %br
  
%center
  - if bomb.unbooted?
    = haml :_welcome_page
  - elsif bomb.deactivated?
    = haml :_booted_bomb
  - elsif bomb.activated?
    = haml :_bomb_already_active
  - elsif bomb.exploded?
    = haml :_bomb_exploded
