- 5.times do
  %br
- if bomb != nil
  %p 
    =bomb.active
  %p 
    =bomb.exploded?

- if bomb == nil
  %center
    %p Welcome to the bomb
    %p Please enter a 4-digit number for the activation and deactivation codes
    %form{:action => "/boot_bomb", :method => "post"}
      %p 
        Activation code: 
        %input.act_code{:name => "act_code", :type => "text", :pattern => "[0-9]{4}"}
      %p 
        Deactivation code:
        %input.deact_code{:name => "deact_code", :type => "text", :pattern => "[0-9]{4}"}
      %p
        %input.boot_bomb{:type => "submit", :value => "Boot bomb"}
- elsif bomb.active
  %center
    %p Bomb has already been activated.
    %p 
      %a{:href => "/deactivate"} Return to deactivation page
- elsif bomb.exploded?
  %center
    %p Bomb has exploded
    %p 
      %a{:href => "/"} Start over
- elsif !bomb.active && !bomb.exploded?
  %center
    %p Bomb has already been booted.
    %p 
      %a{:href => "/activate"} Return to activation page