- 5.times do
  %br
  
%center
  - if !bomb.activated? && !bomb.exploded?
    = haml :_welcome_page
  - elsif bomb.active
    = haml :_bomb_already_active
  - elsif bomb.exploded
    = haml :_bomb_exploded
  - elsif !bomb.active && !bomb.exploded
    = haml :_booted_bomb