<h1> Error! </h1>

<h4> <%= @error_message %> </h4>
<form action="/attemptreactivation" method="POST" >
  Activation Code: <input type="text" name="activation_code" class="activation_code"><br>
  <input type="submit" value = "Submit" >
</form>
