<!DOCTYPE html>
<html>
<head>
<title>KABOOM!</title>
<style type="text/css">
body {
  /* background: url('bomb.png') no-repeat fixed center; */
  background: radial-gradient(yellow, red, gray);
  text-align: center;
  font-family: sans-serif;
  font-size: 24pt;
  color: #ffff22;
}
img#theBomb {
  position: fixed;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top : -300px;
  z-index: -1;
}
h1 {
  font-size: 60pt;
}
h2 {
  font-size: 45pt;
}
p {
  margin: 2em;
}
</style>
</head>
<body>
<img id="theBomb" src="bomb.png">
<h1>KABOOM!</h1>
<h2>All your base are belong to us.</h2>
<p>Thank you for using this bomb.</p>
<p>We realize you have a choice in destructive pyrotechnical solutions. That's
why we are grateful for your confidence and trust. The richest and most evil
villains know they can count on our bombs because they're handmade with endless love and
forced labor. So sit back, light one up, and keep on Chillin', Thrillin', and
Killin' (TM)!</p>
</body>
</html>
