<div class="row">
  <div class="col-md-12 text-center">
    <%= erb :bomb_status %>
  </div>
  <div class="col-md-12 text-center">
    <a id="new" href="/new">Let's make a new bomb</a>
  </div>
</div>
