<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nuked.</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/overlord.css">
  </head>

  <body class="explosion">
    <div class="container">
      <div class="explosionline">Talk about Nuka-Colas.</div>
      <div class="explosionline">You are a cruel, cruel, human being.</div>
    </div>
  </body>
</html>