<html>
  <body background ="http://puglia2010.files.wordpress.com/2013/05/14973332-cartoon-boom-comic-book-explosion.jpg">
    <div>
      <h1>The bomb has exploded!</h1>
    </div>
  </body>
</html>

