.container
  .row
    .col-sm-6{class: "col-sm-offset-3"}
      .starter-template{class: "panel panel-danger"}
        .panel-heading
          %h1{class: "panel-title"}
            %strong You have perished my friend...
        .panel-body
          %strong I did not think you would be so careless with your life.
  .row
    .col-sm-offset-5{class: "col-sm-2"}
      %a{class: "btn btn-primary btn-lg active", role: "button",  href: "/reset"} Try again?
