- 5.times do
  %br

%center
  %p Welcome to the bomb
  %form{:action => "/form", :method => "post"}
    %p 
      Activation code: 
      %input{:name => "activation_code", :type => "text"}
    %p 
      Deactivation code:
      %input{:name => "deactivation_code", :type => "text"}
    %p
      %input{:type => "submit", :value => "Start bomb"}
