<h1>Activation Form</h1>

<form action="/hello/" method="POST">
  A Greeting: <input type="text" name="greeting">
  <br/>
  Your Name: <input type="text" name="name">
  <br/>
  <input type="submit">
</form>