<body bgcolor="black">
<div style="margin-top: 300px">    
<center>    
<h2><font color="green">Welcome to BOMINATOR console!</font></h2>
<font color="green">This bomb is configured with default codes (1234, 0000). They are configurable!</font>
<br />
<form action="/" method="post">
  <input style="margin-top: 20px; background-color: green; font-weight: bold" type="submit" value="Proceed to Boot" id="Continue">
</form>
</center>
</div>
</body>
  
