<section id="activation_key">
  <form action="/" method="post" onsubmit="return validateForm(event);">
    Please enter the activation code:
    <input type="text" name="activation_code" id="activation_code" placeholder="1234">
    </br>
    Re-Enter the activation code:
    <input type="text" id="reactivation_code" placeholder="1234">
    </br>
    Enter the deactivation code:
    <input type="text" name="deactivation_code" id="deactivation_code" placeholder="0000">
    </br>
    <input type="submit" value="Arm">
  </form>
</section>

