<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nuked.</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/overlord.css">
  </head>

  <body class="bomb">
    <div class="container">
      <div class="instructions">
        <div class="line">Do you want to activate the bomb?</div>
        <div class="line">(You get 500 caps.)</div>
        <div class="line">Enter in the activation code you set below:</div>
      </div>

      <form action="/activate" method="post">
        <input type="text" placeholder="Activation Code" autocomplete="off" name="activation_code">
        <div>
          <button class="redbutton" type="submit" name="submit_button">Activate</button>
        </div>
      </form>

      <div class="flash">
          <% if flash[:error] %>
            <%= flash[:error] %>
          <% else flash[:safe] %>
            <%= flash[:safe] %>
          <% end %>
      </div>
    </div>
  </body>
</html>
