
  <h2> Status: The bomb is inactive </h2>


 <div class="center-bomb">
   <img id="bomb-inactive" src="images/inactive_bomb.jpg">
 </div>



<div class="bomb-form">
  <form action="/activate" method="post">
    <input type="text" id="active" name="activation_code">
    <button type="submit" class="btn btn-danger">Activate</button><br/>
  </form>
</div>
