!!! XML
!!!
%html
  %head
    %title Nefarious Labs
    %link{rel: :stylesheet, type: "text/css", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %link{rel: :stylesheet, type: "text/css", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"}
    %script{src: "https://maxcdn.bootstrapcdn/bootstrap/3.2.0/js/bootstrap.min.js"}
  %body
    .container
      .starter-template
        .h1 Hahaha Welcome to Nefarious Labs!
        .p Please enjoy the lovely gift... I think you'll find it's to die for hahaha!
    .container
      .row
        .col-md-4
          = haml :codebox, :codebox => @bomb.devices[:codebox]
        .col-md-4
          = haml :wirebox, :wirebox => @bomb.devices[:wirebox]
        .col-md-4
          = haml :timer, :timer => @bomb.devices[:timer]
