<H1>WOOOO</H1>

<form action="/activate" method="POST" class="form-inline">
  <div>
    <section>
  <label for="activation_code" name="activation_code" type="text"
         class="required">Activation Code</label>
      <input type="text" name="activation_code" id="activation_code">
  <label for="deactivation_code" name="deactivation_code" type="text"
         class="required">Deactivation Code</label>
      <input type="text" name="deactivation_code" type="text">

  <input type="submit" value="Go Baby!" class="btn">
    </section>
  </div>
</form>