%html
  %head
    %title Overlord -- Watch the world burn
    %script{src: '//code.jquery.com/jquery-1.11.3.min.js'}
    %link{rel: "stylesheet", href: "css/overlord.css"}
  %body
    .header
      %h1.logo OVERLORD
      .bomb-state Off

    %section.main
      %header
        Welcome,
        %span.name Overlord
      .content
        .panel.configure_bomb
          =haml :configure_bomb
        .panel.activate_bomb
        .panel.deactivate_bomb
