
<% if !@user_bomb %>
  <h3> Welcome Mr/Ms Overlord! </h3>
  <h4> Click the button when you are ready to boot the bomb.</h3>
  <form action="/bootbomb" method = "GET">
     <input type="submit" value = "Boot Bomb">
  </form>
<% else %>
  <h3> Sorry, you already booted the bomb! </h3>
<% end %>
