!!! XML
!!!
%html
  %head
    %title Nefarious Labs
    %link{rel: :stylesheet, type: "text/css", href: "/css/index.css"}
    %script{src: "https://code.jquery.com/jquery-2.1.1.min.js"}
    %link{rel: :stylesheet, type: "text/css", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %link{rel: :stylesheet, type: "text/css", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
  %body
    .container
      .row
        .col-md-12
          .starter-template
            .h1 Hahaha Welcome to Nefarious Labs!
            .p Please enjoy the lovely gift... I think you'll find it's to die for mwahaha!
      .row
        .col-md-4
          = haml :codebox, :locals => {:codebox => @bomb.devices[:codebox]}
        .col-md-4
          = haml :wirebox, :locals => {:wirebox => @bomb.devices[:wirebox],
                                       :timer => @bomb.devices[:timer]}
        .col-md-4
          = haml :bomb, :locals => {:bomb => @bomb}
