!!!
%html
  %head
    %title Overlord
    %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
    %link{href: "overload.css", rel: "stylesheet", type: 'text/css'}

  %body
    %h1.bomb_status Bomb is off!
    .configuration
      =haml :configuration
    .activation
      =haml :booted_bomb
    .safe
      =haml :safe
    .exploded
      =haml :exploded

%script{src: "overload.js", type: "text/javascript"}
