<h1>Boot the Bomb</h1>

<form action="/set-codes" method="post">
  <label for="activation_code">Activation Code</label>
  <input type="number" min="0" max="9999" name="activation_code">
  <label for="deactivation_code">Deactivation Code</label>
  <input type="number" min="0" max="9999" name="deactivation_code">
  <input type="submit" value="Boot">
</form>
