!!!
%html
  %head
    %title Bomb :^)
    %link(type='text/css' rel='stylesheet' href='index.css')
    %script(src='//code.jquery.com/jquery-1.11.2.min.js')
    %script(src='index.js')

  %body
    .bomb
      - if bomb
        - if bomb.is_detonated?
          = haml :_bomb_detonated
        - elsif bomb.is_active?
          = haml :_bomb_active
        - else
          = haml :_bomb_inactive
      - else
        = haml :_bomb_new
