<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Exit Vault 101</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/overlord.css">
  </head>

  <body class="index">
    <div class="indexcontainer">
      <nav>
        <ul>
          <li><span class="navtitle">Welcome to the<br>Capital Wasteland</span></li>
          <li><span class="navlink"><a href="/bomb">Enter Megaton</a></span></li>
        </ul>
      </nav>
    </div>
  </body>
</html>