<html>
  <head>
    <title>OVERLORD</title>
  </head>
  <body>
    <h1> Super Villain's Detonation Device </h1>
    <p> Please enter your code to blow things up </p>

    <% if bomb.error %>
      <p> Errors <%= bomb.error.to_s %></p>
    <% end %>

    <% if bomb.exploded? %>
      - The Bomb was Exploded. It went bang..
    <% else %>
      <form id="codeform">
        <input type="text" name="code" id="code">
        <input type="submit" value="Submit" name="submit" id="submit">
      </form>
        <p>
          BOMB STATUS
          <% if !bomb.active? %>
            - INACTIVE
          <% elsif bomb.active? %>
            - ACTIVE
          <% else %>
            - Malfunction
          <% end %>
        </p>
    <% end %>
  </body>
</html>
