<h2>Welcome to BareBonesBomb v1.0</h2>
<p id="bomb_state">Bomb is currently: <span class="<%= @bomb_state_class %>"><%= @bomb_state %></span></p>
<p id="prompt"><%= @prompt %></p>
<form action="/" method="post">
  <input type="text" name="code">
  <input type="submit">
</form>
<p id="status_msg"><%= @msg %></p>
