<html>
<title>Overlords Solution</title>

<body bgcolor="#000000">
<center>
    <br/>
    <h1 style="color: red">Welcome to Overlord!</h1>
    <br/>
    <br/>
    <br/>
    <h2 style="color: red">Please genrate a activation or de-activation code to trigger the bomb.</h2>
    </div>
    </div>
    <form action="/boot" method="POST">
        <br/>
        <lable style="color: red" for="set-activation-code">Activation Code</label>
        <input type="text" id='activation_code' name="activation_code" placeholder="1234" >
        <br/>
        <lable style="color: red" for="set-deactivation-code">Deactivation Code</label>
        <input type="text" id="deactivation_code" name="deactivation_code" placeholder="0000">
        <button type="submit" id="boot-button">Boot</button>
    </form>
</center>
</body>
</html>