!!!
%html
  %head
    %title Bomb :^)
    %link(type='text/css' rel='stylesheet' href='index.css')
    %script(src='//code.jquery.com/jquery-1.11.2.min.js')
    %script(src='index.js')

  %body
    .bomb
      = haml bomb_view
