!!! XML
!!!
%html
  %head
    %title Nefarious Labs
    %link{rel: :stylesheet, type: "text/css", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %link{rel: :stylesheet, type: "text/css", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"}
    %script{src: "https://maxcdn.bootstrapcdn/bootstrap/3.2.0/js/bootstrap.min.js"}
  %body
    .container
      .row
        .col-md-4
          .codebox CodeBox!
        .col-md-4
          .wirebox WireBox!
        .col-md-4
          .timer Timer!
