%html
  %head
    %title Overlord -- Watch the world burn
    %script{src: '//code.jquery.com/jquery-1.11.3.min.js'}
    %link{rel: "stylesheet", href: "css/overlord.css"}
  %body
    %div.header
      %h1.logo OVERLORD
      %div.bomb-state Off

    %section.main
      %header
        Hello
        %span.name Overlord
      %div.content
        %button.boot Boot Up Bomb
