!!!
%html
  %head
    %title Overlord
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/styles.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/bomb.css'}
  %body
    %section
    .wrapperOutside
      .wrapperInside
        .buttonContainer
          .count 
          .status-activated Activated
          .status-booted Booted
          .status-deactivated Deactivated
          .status-exploded Exploded
          .status-notbooted Not Booted
          .bomb-booted
            = haml :bomb_booted
          .bomb-activated
            = haml :bomb_activated
          .bomb-deactivated
            = haml :bomb_deactivated
          .bomb-exploded

  %script{src: '//code.jquery.com/jquery-1.11.3.min.js'}
  %script{src: "javascript/bomb.js", type: "text/javascript"}
