<h2>Welcome to your Bomb Official Operations Management System</h2>

<div class="content">
  <form class='form' action='/init' method='POST'>
    <label for='code'> Enter Code:</label>
    <input type='text' id='code' name='code' placeholder='Enter key for destruction'>
    <input type='submit' id='activate' value='Destroy'>
  </form>
</div>