<h1>Boot the Bomb</h1>

<form action="/set-codes" method="post">
  <label for="activation_code">Activation Code</label>
  <input type="text" name="activation_code" pattern="[0-9]{4}" size="4" title="Code must be exactly four digits.">
  <label for="deactivation_code">Deactivation Code</label>
  <input type="text" name="deactivation_code" pattern="[0-9]{4}" size="4" title="Code must be exactly four digits.">
  <input type="submit" value="Boot">
</form>
