<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Overlord</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/detonator.css">
  </head>
  <body>
    <section class="control-panel">
      <%= yield %>
    </section>
    <section class="overlay">
    </section>
  </body>
</html>
