<!DOCTYPE html>
<html>
<head>
  <title>Overlord</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/overlord.css">
</head>
<body>
  <div class="container overlord-container">
    <%= yield %>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/overlord.js"></script>
</body>
</html>
