<html>
  <head>
  <link href="styles/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/app.css">
  </head>
  <body>
    <header>
      <h1> BOMB! BOMB! BOMB! </h1>
    </header>

    <%= yield %>

    <footer>
      My Cool App - Change Me
    </footer>

  </body>
</html>
