- 5.times do
  %br

%center
  - if bomb.activated?
    = haml :_active_bomb

  - if !bomb.activated? && bomb.attempts_remaining > 0
    = haml :_deactivated_bomb

  - if bomb.exploded?
    = haml :_bomb_exploded

  - if bomb.attempts_remaining < 3 && bomb.activated?
    =haml :_bad_deactivation_code