- 5.times do
  %br

%center
  - if bomb.activated?
    = haml :_active_bomb
  - elsif bomb.deactivated?
    = haml :_booted_bomb
  - elsif bomb.exploded?
    = haml :_bomb_exploded
  -elsif bomb.unbooted?
    =haml :_welcome_page
