- 5.times do
  %br

%center
  - if bomb.activated?
    = haml :_active_bomb
  - elsif bomb.deactivated?
    = haml :_deactivated_bomb
  - elsif bomb.exploded?
    = haml :_bomb_exploded
  -elsif bomb.unbooted?
    =haml :_welcome_page


  - if bomb.attempts_remaining < 3 && bomb.activated?
    %p.incorrect_deactivation_code
      Incorrect deactivation code