<div>
  <h1>Welcome to Overlord!</h1>
  <form action="/login" method="post">
    <label for="username">Username</label>
    <input id="username" type="text" name="username"/>
    <input type="submit" value="Submit">
  </form>
</div>