<html>
<head>
  <link type="text/css" rel="styles/stylesheet" href="styles/stylesheet.css"/>
  <% if (session[:bomb]).disarmed? %>
      <title> Hero Page </title>
      </head>
      <body>
      <h2>Bomb Status: <%= (session[:bomb]).status %> </h2>

      <p>You have disarmed the bomb</p>
      <img src="styles/images/hero.png">
      </body>
  <% elsif (session[:bomb]).not_booted? %>
      <title>Nothing to do here</title>

      <body>
      <div id="wrapper">
        <img src="styles/images/nothing.jpg">
      </div>
      </body>
  <% else %>
      <title>Loser Page</title>

      <body>
      <video controls autoplay>
        <source src="explosion.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      </body>
  <% end %>
  </html>