<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class = "activateagain" >
  <h1>Nice! You were able to deactivate the bomb!  <a href="http://127.0.0.1:4567">Click here to activate again.</a></h1>
</div>


</body>
</html>