<html>
<head>
<link rel="stylesheet" href="style.css">
</head>
  <body>
   <div class = "activateagain" >
     <h1>Oops! You blew it! <a href="http://127.0.0.1:4567">Click here to activate again.</a> Better luck next time!</h1>
   </div>
   <img class="explosion" id="explosion" src="/images/explosion.jpg" height="100" width="100">

</body>
</html>