<h1> Bomb has been successfully deactivated. </h1>

<h3> Can I interest you in reactivating? </h3>
<form action="/attemptreactivation" method="POST">
  Activation Code: <input type="text" name="activation_code"><br>
<input type="submit" value ="Submit">
</form>
