<div class="row remaining-attempts-wrapper">
  <div class="col-md-12 text-center">
    <% if bomb.remaining_attempts == 1 %>
      <p class="text-danger">You have <span class="badge">1</span> attempt remaining</p>
    <% else %>
      <p class="text-danger">You have <span class="badge"><%= bomb.remaining_attempts %></span> attempts remaining</p>
    <% end %>
  </div>
</div>


