<h2>Bomb Status: <%= (session[:bomb]).status %> </h2>
<h3>Your arming code is <%= (session[:bomb]).arming_code %> </h3>
<h3>Your disarming code is <%= (session[:bomb]).disarming_code %> </h3>
<h2>Menu</h2>
<form method="post" action="/reset_codes">
  <label for="arming_code_reset">Enter New Bomb Arming Code:</label>
  <input type="text" name="arming_code_reset" id="arming_code_reset" maxlength="4">
  <br>
  <label for="disarming_code_reset">Enter New Bomb Disarming Code:</label>
  <input type="text" name="disarming_code_reset" id="disarming_code_reset" maxlength="4">
  <input type='submit' value='Reset Bomb Codes' id="Reset">
</form>