<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img id="overlord" class="img-responsive" src="img/overlord.png" alt="">
                <div class="intro-text">
                    <span class="name">Valentine's Bomb</span>
                    <hr class="star-light">
                    <span class="slogan">Desperate - Single - Ready to Mingle</span>
                </div>
            </div>
        </div>
    </div>
</header>
