<form method="post" action="/setup">
  Activation Code: <input type="text" name="activation_code"><br>
  Deactivation Code: <input type="text" name="deactivation_code"><br>
  <input type="submit" value="Save">
</form>
