<h2> Error! Incorrect activation code! </h2>
<form action="/startbomb" method = "POST">
   Enter activation code: <input type="text" name="activation_code" class="activation_code"> <br>
   <input type="submit" value="Submit">
</form>
