<h2> Bomb successfully created.</h2>

<form action="/startbomb" method = "POST">
   Enter activation code: <input type="text" name="activation_code" class="activation_code"> <p>
   <input type="submit" value="Submit">
</form>


<% if flash[:failed_activation] %>
  <h2> <%= flash[:failed_activation] %> </h2>
<% end %>
