<div id='status-lights'>
  <span id='activation' class='status-light'>
    Set Start Code
  </span>

  <span id='deactivation' class='status-light'>
    Set Stop Code
  </span>

  <span id='standby' class='status-light'>
    Standby
  </span>

  <span id='armed' class='status-light'>
    Armed
  </span>
</div>