<div id='<%= tank_id %>' class='tank'>
  <div class='tank-top'></div>
  <div class='tank-bottom'></div>
  <div class='tank-middle'>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
    <span class='bubble'></span>
  </div>
</div>