.timer{class: "device"}
  .row
    .timer-display#timer-display{class: "col-sm-8 col-sm-offset-2"}
      %fieldset{disabled: ""}
        %input#timer-output{class: "form-control input-lg", type: "text"}
        %input#timer-time{type: "hidden", name: "timer-seconds", value: "#{timer.seconds_remaining}"}

