.timer
  .row
    .timer-display{class: "col-md-8 col-md-offset-2"}
      %fieldset{disabled: ""}
        %input{class: "form-control input-lg", type: "text"}
        %input{type: "hidden", name: "timer-seconds", value: "#{timer.seconds_remaining}"}

