.timer{class: "device"}
  .row
    .timer-display#timer-display
      %fieldset{disabled: ""}
        %input#timer-output{class: "text-center col-sm-8 col-sm-offset-2 input-lg", type: "text"}
  .row
    %button#timer-increment{class: "btn btn-lg col-sm-8 col-sm-offset-2 btn-default", type: "button"}
  .row
    %button#timer-decrement{class: "btn btn-lg col-sm-8 col-sm-offset-2 btn-default", type: "button"}
  .row
    %button#timer-reset{class: "btn btn-lg col-sm-8 col-sm-offset-2 btn-primary", type: "reset"} reset
  %input#timer-time{type: "hidden", name: "timer-seconds", value: "#{timer.seconds_remaining}"}

