<h1>Toggle Bomb</h1>
<p>Status: <%= @bomb.status %> </p>

<% if @bomb.exploded? %>

<% elsif @bomb.activated? %>

  <form action="/deactivate" method="post">
    <label for="code">Deactivation Code</label>
    <input type="number" min="0" max="9999" name="code">
    <input type="submit" value="Deactivate">
  </form>

  <p>Deactivation attempts: <%= @bomb.deactivation_attempts %> </p>

<% else %>

  <form action="/activate" method="post">
    <label for="code">Activation Code</label>
    <input type="number" min="0" max="9999" name="code">
    <input type="submit" value="Activate">
  </form>

<% end %>
