<script>
  function goBack() {
    window.history.back()
  }
</script>
<body>
<style>
  h3 {
    text-align: left;
  }
</style>
<h3>You have entered wrong code</h3>
<button onclick="goBack()">Go Back</button>
</body>
