/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main-body {
	padding-top: 50px;
}

.title-headings {
	color: yellow;
}

.show-headings {
	color: #EEEE33;
}

.background-image {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}

.background-image-hide {
	display: none;
}

.dim-table {
	width: 40%;
	margin-top: 0px;
	padding-top: 100px;
	z-index: 0;
	opacity: 1.00;
	display: inline;
	position: fixed;
}

.focus-table {
	width: 40%;
	margin-top: 0px;
	padding-top: 100px;
	z-index: 0;
	opacity: 1.0;
	display: inline;
}

#all-events-title {
	position: fixed;
	left: 40%;
	top: 1%;
	color: yellow;
	z-index: 15;
	font-size: 25px;
	font-family: verdana;
	font-weight: bold;
}

#event-title {
	z-index: 15;
	font-size: 25px;
	font-family: verdana;
	font-weight: bold;
}

#event-name {
	position: fixed;
	left: 40%;
	top: 1%;
	color: yellow;
	z-index: 20;
}

#event-name #label {
	color: #9999FF;	
}

#event-name #value {
	color: #EEEE55;	
}

#event-location-label {
	position: fixed;
	left: 5%;
	top: 96.4%;
	font-size: 10px;
	color: #5555CC;
}

#event-location {
	position: fixed;
	left: 25%;
	top: 96.4%;
	font-size: 15px;
	z-index: 15;
}

#event-location #label {
	color: #9999FF;
}

#event-location #value {
	color: #55FF55;
}

#event-link {
	position: fixed;
	left: 75%;
	top: 96.4%;
	font-size: 15px;
	z-index: 15;
}

#event-link #label {
	color: #9999FF;
}

#event-link #value {
	color: salmon;
}
