/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color: black;
	color: #AAAAAA;
}

.page-title {
	position: fixed;
	left: 50%;
	top: 5px;
	margin-left: -50px;
	color: yellow;
	z-index: 15;
	font-size: 25px;
	font-family: verdana;
	font-weight: bold;
}

#user-event-showings {
	position: fixed;
	top: 100px;
	bottom: 40px;
	left: 10px;
	right: 50%;
}

#user-event-showings table {
	overflow: auto;
	font-size: 12px;
}

#all-events {
	position: absolute;
	left: 50%;
	top: 100px;
	right: 10px;
}

#all-events table {
	position: absolute;
	top: 0px;
	left: 0px;	
	overflow-y: hidden;
	font-size: 15px;
}

#scrape_link {
	position: fixed;
	left: 50%;
	bottom: 10px;
	margin-left: -75px;
	color: salmon;
	z-index: 15;
	font-size: 20px;
	font-family: verdana;
	font-weight: bold;	
}

.title-headings {
	color: yellow;
}

.show-headings {
	color: #EEEE33;
}

.background-image {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}

.background-image-hide {
	display: none;
}

.dim-table {
	width: 40%;
	margin-top: 0px;
	padding-top: 100px;
	z-index: 0;
	opacity: 1.00;
	display: inline;
	position: fixed;
}

.focus-table {
	width: 40%;
	margin-top: 0px;
	padding-top: 100px;
	z-index: 0;
	opacity: 1.0;
	display: inline;
}

#events-table-div {
	position: fixed;
}

#all-events-title {
	position: fixed;
	left: 50%;
	top: 5px;
	margin-left: -50px;
	color: yellow;
	z-index: 15;
	font-size: 25px;
	font-family: verdana;
	font-weight: bold;
}

#event-title {
	position: fixed;
	z-index: 15;
	font-size: 20px;
	font-family: verdana;
	font-weight: bold;
}

#event-title .label {
	color: #9999FF;
}

#event-title .value {
	color: #EEEE55;	
}

#event-title .event-name {
	position: fixed;
	left: 50%;
	top: 5px;
	margin-left: -20px;
	color: yellow;
}

#event-title .event-location {
	position: fixed;
	left: 50px;
	bottom: 10px;
	color: #5555CC;
}

#event-title .event-link {
	position: fixed;
	right: 50px;
	bottom: 10px;
	color: #5555CC;
}

#event-title .event-link value a {
	color: salmon;
}

#event-showings {
	position: absolute;
	left: 50%;
	top: 100px;
	right: 10px;
}

#event-showings table {
	font-size: 18px;
	font-family: verdana;
}
