// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
background-color: black;
color: #AAAAAA;
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
background-color: #111111;
}

th {
padding: 5px;
background: #222222;
color: #CCCCFF;
}

td {
padding: 5px;
border: 2px solid black;
border-radius: 3px;
color: #DDDDDD;
}

td a {
text-decoration: none;
color: #AAAAEE;
}

td a:hover {
color: #CCCCFF;
}

tr:hover {
border-color: #EEEEEE;
}

a {
text-decoration: none;
color: #AA5F33;
}

a:hover {
color: #CC8155;
}

.member {
background-color: #111155;
}

.plus {
background-color: #000000;
height: 16px;
width: 16px;
}

.minus {
background-color: #111155;
height: 20px;
width: 20px;
}
