table {
	font-size: 10px;
}

th {
	background-color:rgba(60, 60, 60, 0.5);
}

td {
	padding: 5px;
	border: none;
	border-radius: 5px;
	color: #33FFCC;
	background-color:rgba(60, 60, 60, 0.5);
}

td a {
	text-decoration: none;
	color: #AAAAEE;
}

td a:hover {
	color: #CCCCFF;
}

tr:hover {
	border-color: #EEEEEE;
}

table td ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #AA5F33;
}

a:hover {
	color: #DD9266;
}

.member {
	color: #33FFFF;
	background-color:rgba(17, 17, 85, 0.7);
}

.non-member {
	background-color:rgba(60, 60, 60, 0.6);
}

.member .name a {
	color: #EEFF11;
}

.member .time {
	color: #FFFF11;
}

.member .location {
	color: #FFAA33;
}

.member .date-range {
	color: #FF9911;
}

.non-member .time {
	color: #FF4411;
}

.plus {
	height: 16px;
	width: 16px;
	background: none;
}

.minus {
	height: 20px;
	width: 20px;
	background: none;
}

.remove-x {
	height: 12px;
	width: 12px;
	opacity: 0.2;
}

.remove-x:hover {
	opacity: 1.0;
}
