/* A Simple Responsive Grid For Your Everyday Use http://codelittle.com/little-grid/  */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
    width: 100%;
    min-width: 320px; /* Minimum Width */
    max-width: 1120px; /* Maximum Width */
  padding: 0;
    margin: 0 auto;
}

/* the following makes the grid nestable */
.row .row {
  margin-left: -10px;
  margin-right: -10px;
  max-width: none;
  width: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='large-'],
[class*='columns-'] {
  float: left;
  margin: 0;
  padding: 10px;
}

/* medium grid */
.columns-1  { width: 8.33333%; }
.columns-2  { width: 16.66667%; }
.columns-3  { width: 25%; }
.columns-4  { width: 33.33333%; }
.columns-5  { width: 41.66667%; }
.columns-6  { width: 50%; }
.columns-7  { width: 58.33333%; }
.columns-8  { width: 66.66667%; }
.columns-9  { width: 75%; }
.columns-10 { width: 83.33333%; }
.columns-11 { width: 91.66667%; }
.columns-12 { width: 100%; }

@media (min-width: 840px) {
  /* breakpoint for large grid */
  .large-1,  [class*='columns-'].large-1  { width: 8.33333%; }
  .large-2,  [class*='columns-'].large-2  { width: 16.66667%; }
  .large-3,  [class*='columns-'].large-3  { width: 25%; }
  .large-4,  [class*='columns-'].large-4  { width: 33.33333%; }
  .large-5,  [class*='columns-'].large-5  { width: 41.66667%; }
  .large-6,  [class*='columns-'].large-6  { width: 50%; }
  .large-7,  [class*='columns-'].large-7  { width: 58.33333%; }
  .large-8,  [class*='columns-'].large-8  { width: 66.66667%; }
  .large-9,  [class*='columns-'].large-9  { width: 75%; }
  .large-10, [class*='columns-'].large-10 { width: 83.33333%; }
  .large-11, [class*='columns-'].large-11 { width: 91.66667%; }
  .large-12, [class*='columns-'].large-12 { width: 100%; }
}

@media (max-width: 420px) {
  /* breakpoint for small grid */
  /* cheating a little by calling columns with .row */
    .row .large-1, .row .columns-1,
    .row .large-2, .row .columns-2,
    .row .large-3, .row .columns-3,
    .row .large-4, .row .columns-4,
    .row .large-5, .row .columns-5,
    .row .large-6, .row .columns-6,
    .row .large-7, .row .columns-7,
    .row .large-8, .row .columns-8,
    .row .large-9, .row .columns-9,
    .row .large-10, .row .columns-10,
    .row .large-11, .row .columns-11,
    .row .large-12, .row .columns-12 {
        width: 100%;
    }
}

/* We don't want the images to stick out, do we? */
img {
    max-width: 100%;
    height: auto;
}
