form {
    margin-left: 230px;
    margin-top: 75px
}

h1 {
    text-align: center;
}

input[type=submit] {
    width: 235px;
    font-size: 1.5em;
    border-radius: 5px;
}

input[type=button] {
    width: 114px;
    font-size: 1.5em;
    border-radius: 5px;
    display: none;
}

#activationConfirm {
    background-color: darkred;
    border-color: darkred;
}

.status {
    text-align: center;
    margin-top: 25px;
}

#timerMessage {
    position:absolute;
    bottom:0;
    right:0;
}
