h2 {
    color: red;
    font-size: 15px;
}

h3 {
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: white; }
    50% { color: red; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: white; }
    50% { color: red; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: white; }
    50% { color: red; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: white; }
    50% { color: red; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: white; }
    50% { color: red; }
    100% { color: red; }
}

.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}