<div class="panel">
  <h5>Bill: <%= raw "#{link_to bill.title, bill}" %></h5>
  <p><em>"<%= bill.official_title %>"</em></p>
  <p class="supporting-date">Introduced on: <%= bill.introduced_on.strftime("%B %d %Y") %></p>
</div>