<div class="panel">
  <h5>Bill: <%= raw "#{link_to bill_stub_item.title, bill_stub_item}" %></h5>
  <p><em>"<%= bill_stub_item.official_title %>"</em></p>
  <p class="supporting-date">Introduced on: <%= bill_stub_item.introduced_on.strftime("%B %d %Y") %></p>
</div>