<h3>All Bills</h3>

<% @results.each do |result| %>
  <% @bill = result %>
  <div><%= render partial: "bill_stub_item", locals: {bill: @bill} %></div>
<% end %>

<hr />

<div style="text-align:center;"><%= will_paginate @results %></div>

<%= "There are no bills to show" if @results.count == 0 %>