<h2>List all Bills</h2>

<% @results.each do |result| %>
  <% @bill = result %>
  <%= render partial: "bill_list_item", locals: {bill: @bill} %>
<% end %>

<%= "There are no bills to show" if @results.count == 0 %>