<h3><%= "#{@bill.short_title}" %></h3>

<hr />

<h4>Basics</h4>
<%= render partial: "layouts/generic_object_details", locals: {object: @bill} %>

<% legislator = Legislator.where(bioguide_id: @bill.sponsor_id).first %>
<% if legislator %>
  <h4>Related Legislator</h4>
  <div><%= render partial: "legislators/legislator_stub_item", locals: {legislator: legislator} %></div>
  <% end %>

<hr />

<p align="center"><%= link_to "Back to Bills", bills_path %></p>