@keyframes text-glow {
  0% {
    text-shadow: 0 0 40px lightgreen;
  }

  100% {
    text-shadow: 0 0 40px  lightgreen,
                 0 0 100px lightgreen;
  }
}

#game-over {
  background-color: black;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding: 500px 25px 100px 25px;
  transition: all ease 1s;

  h1 {
    font-size: 100px;
    margin: 20px auto;
    animation: text-glow 2s infinite alternate;
  }

  h2 {
    display: none;

    a {
      font-size: 40px;
      color: red;

      &:hover {
        color: darkred;
      }
    }
  }
}