<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
    </div>
  </div>
  <div class="row">
    <hr style="margin-top: 10px">
  </div>
  <%= render 'profiles/profile' %>
</div>
