!!! 5
%html
  %head
    %title Pmail
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE-edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel='stylesheet' href='/css/style.css')
    %link(rel='stylesheet' href='/css/email.css')
  %body

    %header
      %h1 Pete Mail
      #header-search-form
        %form{ action: "/", role: "search"}
          %input.header-vert-align{ name: "email_search", type: "search" }
          %button.header-vert-align{ type: "submit" } SEARCH
      #header-user
        %ul.user-options-menu
          %li
            Bobby Generic
            %ul
              %li
                %a{href: '#'} Profile
              %li
                %a{href: '#'} Logout
    %main
      %nav
        %button Compose

        %ul
          %li Inbox
          %li Sent Mail
          %li Bills
          %li CC Statements
          %li Drafts

      #emails
        %ul.emails-list
          =haml :'emails/email_1'
          =haml :'emails/email_2'
          =haml :'emails/email_3'
          =haml :'emails/email_4'
          =haml :'emails/email_5'
