!!! 5
%html
  %head
    %title Pmail
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE-edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel='stylesheet' href='/css/base.css')
    %link(rel='stylesheet' href='/css/email.css')
    %link(rel='stylesheet' href='/css/header.css')
    %link(rel='stylesheet' href='/css/main.css')
    %link(rel='stylesheet' href='/css/navigation.css')
    %link(rel='stylesheet' href='/css/user_dropdown.css')
  %body
    =haml :body
