%nav.navbar.navbar-default
  .container
    .navbar-header= link_to("Make Me A Sandwich", root_path, class: "navbar-brand")
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        %li= link_to("Logout", destroy_user_session_path, method: :delete)
