<% content_for(:title, 'Profile') %>

<div id="profile">

  <div class="profile-overview">
    <img src="<%= gravatar_for(current_user.email) %>" class='avatar' />
    
    <div class="details">
      <h3><%= current_user.username %></h3>
      <p>Member Since: <%= current_user.created_at.strftime('%m-%d-%Y') %></p>
    </div>
    
  </div>

</div>
