<section id="basic-form">
    <h2 class="page-header">Basic Form Example</h2>
    <form id="form-2" action="#" novalidate="novalidate">
        <div id="wizard-2" role="application" class="wizard clearfix"><div class="steps clearfix"><ul role="tablist"><li role="tab" class="first current error" aria-disabled="false" aria-selected="true"><a id="wizard-2-t-0" href="#wizard-2-h-0" aria-controls="wizard-2-p-0"><span class="current-info audible">current step: </span><span class="number">1.</span> Account</a></li><li role="tab" class="disabled" aria-disabled="true"><a id="wizard-2-t-1" href="#wizard-2-h-1" aria-controls="wizard-2-p-1"><span class="number">2.</span> Profile</a></li><li role="tab" class="disabled" aria-disabled="true"><a id="wizard-2-t-2" href="#wizard-2-h-2" aria-controls="wizard-2-p-2"><span class="number">3.</span> Hints</a></li><li role="tab" class="disabled last" aria-disabled="true"><a id="wizard-2-t-3" href="#wizard-2-h-3" aria-controls="wizard-2-p-3"><span class="number">4.</span> Finish</a></li></ul></div><div class="content clearfix">
            <h3 id="wizard-2-h-0" tabindex="-1" class="title current">Account</h3>
            <section id="wizard-2-p-0" role="tabpanel" aria-labelledby="wizard-2-h-0" class="body current" aria-hidden="false">
                <label for="userName">User name *</label>
                <label for="userName" class="error">This field is required.</label><input id="userName" name="userName" type="text" class="required error" autocomplete="off">
                <label for="password">Password *</label>
                <label for="password" class="error">This field is required.</label><input id="password" name="password" type="text" class="required error" autocomplete="off" >
                <label for="confirm">Confirm Password *</label>
                <label for="confirm" class="error">This field is required.</label><input id="confirm" name="confirm" type="text" class="required error" autocomplete="off" >
                <p>(*) Mandatory</p>
            </section>

            <h3 id="wizard-2-h-1" tabindex="-1" class="title">Profile</h3>
            <section id="wizard-2-p-1" role="tabpanel" aria-labelledby="wizard-2-h-1" class="body" aria-hidden="true" style="display: none;">
                <label for="name">First name *</label>
                <input id="name" name="name" type="text" class="required" autocomplete="off">
                <label for="surname">Last name *</label>
                <input id="surname" name="surname" type="text" class="required" autocomplete="off" >
                <label for="email">Email *</label>
                <input id="email" name="email" type="text" class="required email" autocomplete="off" >
                <label for="address">Address</label>
                <input id="address" name="address" type="text" autocomplete="off" >
                <p>(*) Mandatory</p>
            </section>

            <h3 id="wizard-2-h-2" tabindex="-1" class="title">Hints</h3>
            <section id="wizard-2-p-2" role="tabpanel" aria-labelledby="wizard-2-h-2" class="body" aria-hidden="true" style="display: none;">
                <ul>
                    <li>Foo</li>
                    <li>Bar</li>
                    <li>Foobar</li>
                </ul>
            </section>

            <h3 id="wizard-2-h-3" tabindex="-1" class="title">Finish</h3>
            <section id="wizard-2-p-3" role="tabpanel" aria-labelledby="wizard-2-h-3" class="body" aria-hidden="true" style="display: none;">
                <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
            </section>
        </div><div class="actions clearfix"><ul role="menu" aria-label="Pagination"><li class="disabled" aria-disabled="true"><a href="#previous" role="menuitem">Previous</a></li><li aria-hidden="false" aria-disabled="false"><a href="#next" role="menuitem">Next</a></li><li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Finish</a></li></ul></div></div>
    </form>
</section>