<div class="bomb-screen">
  <div style="padding-top:310px;">
    <form action="/switch" method="POST">
      <span class="text-frame">Enter code <input type="text" id="code" name="code"></span>
      <p>&nbsp;</p>
      <button type="button" class="btn btn-lg btn-default" onclick="form.submit();">Arm the Bomb</button>
    </form>
  </div>
</div>
