<!DOCTYPE html>
<html>
<head>
  <title>Dark Overlord</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
  html {
    background: url(img/boom.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  </style>
</head>
<body>
<%= yield %>
</body>
</html>
