<style>
html{
  /* This image will be displayed fullscreen */
  background:url('bomb-explosion-nuclear-explosions-wallpaper.jpg') no-repeat center center;
  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;

  /* The Magic */
  background-size:cover;
  opacity: 60%;
}
</style>
<h1>The Bomb Exploded</h1>
<h2>Goodbye</h2>
