<h1>The Bomb is Booted</h1>
<h2>Status: Not Active</h2>
<p>Bomb is ready to activate</p>
<form action="/activate" method="post">
  <p>
  <label for="code">Code</label><br />
  <input id="code" name="code" type="text" />
  </p>
  <p><input type="submit" value="Enter" /></p>
</form>
