<h1>Welcome to Your Bomb</h1>
<p>Let's boot the bomb!</p>
<form action="/boot" method="post">
  <p>
  <label for="activation_code">Activation Code:</label><br />
  <input id="activation_code" name="activation_code" type="text" />
  </p>
  <p>
  <label for="deactivation_code">Deactivation Code:</label><br />
  <input id="deactivation_code" name="deactivation_code"type="text" />
  </p>
  <p><input type="submit" value="Boot" /></p>
</form>
