<h1>Welcome to Your Bomb</h1>
<h2 class="form-group">Let's boot the bomb!</h2>
<form class="form-horizontal"  action="/" method="post" role="form">
  <div class="form-group">
    <label for="activation_code" class="col-sm-6 control-label">Activation Code:</label>
    <div class="col-sm-6">
      <input id="activation_code" name="activation_code" type="text" />
    </div>
  </div>
  <div class="form-group">
    <label for="deactivation_code" class="col-sm-6 control-label">Deactivation Code:</label>
    <div class="col-sm-6">
      <input id="deactivation_code" name="deactivation_code" type="text" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-6 col-sm-6">
      <button class="btn btn-default" type="submit">Boot</button>
    </div>
  </div>
</form>
