<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script>
$( document ).ready(function() {
  $("#toggle").toggle("explode");
});
</script>

<div id="toggle" class="bomb-screen">
  <div style="padding-top:310px;">
    <form action="/switch" method="POST">
      <span class="text-frame">Enter code <input type="text" id="code" name="code"></span>
      <p>&nbsp;</p>
      <button type="button" class="btn btn-lg btn-default">Arm the Bomb</button>
    </form>
  </div>
</div>
