<h1>The bomb</h1>

<p>This is the main bomb page.</p>

<p>Activation state: <%= session[:bomb_state] %></p>

<p>
  <form action="/boot" method="POST">
    Activation code <input type="text" id="activation_code" name="activation_code" value="1234"><br />
    Deactivation code <input type="text" id="deactivation_code" name="deactivation_code" value="0000"><br />
    <input type="submit" id="boot-button" name="boot-button" value="Boot the bomb">
  </form>
</p>