<div class="boot-screen">
  <div style="padding-top:150px;">
    <form action="/boot" method="POST">
      <span class="text-frame">Activation code <input type="text" class="form-control bomb-field" id="activation_code" name="activation_code" value="1234" placeholder="Activation Code"></span>
      <p>&nbsp;</p>
      <span class="text-frame">Deactivation code <input type="text" class="form-control bomb-field" id="deactivation_code" name="deactivation_code" value="0000" placeholder="Deactivation Code"></span>
      <p>&nbsp;</p>
      <button type="button" class="btn btn-lg btn-default" onclick="form.submit();">Boot the Bomb</button>
    </form>
  </div>
</div>
