<%= erb :_status, locals: {bomb: @bomb} %>

<% if @activate_errors %>
	<p><%= @activate_errors %></p>
<% end %>

<% if @deactived_status %>
	<p><%= @deactived_status %></p>
<% end %>


<h2>Would you like to activate it?</h2>

<form action="/bomb/activate" method="post" id="activate_bomb_form">
    <label>Enter Secret Activation Code:
        <input type="text" name="activation_code" id="activation_code" />
    </label>
    <input type="submit" value="Activate!">
</form> 