<h1 id="bomb_status">Bomb is Active</h1>
<form action="/bomb/activate" method="post">
    <label> Activation Code
        <input type="text" name="activation_code" id="activation_code" />
    </label>
    <input type="submit" value="Activate!">
</form>