<div class="landingPage">
  <div class="landingPageContent grid grid-pad">
    <div class="col-1-2 landing-content">
      <h1>Overlord</h1>
      <p>Welcome to your doom</p>
      <a class="button" href="inactivated" title="Let's do this">Take over the world</a>
    </div>
  </div>
</div>