<h1>Create a new Bomb</h1>
<form action="/bomb" method="post">
    <label> Activation Code
        <input type="text" name="bomb['create_activation_code']" id="create_activation_code" />
    </label>
    <input type="submit" value="Create!">
</form>