<div class="row">
  <div class="col-md-5 status status-label">Status:</div>
  <div class="col-md-7 status status-text">Off</div>
</div>

<div class="row" style="margin-top:55px">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary boot-button" onClick="parent.location='boot_process'">
      Boot <span class="glyphicon glyphicon-off" style="margin-left: 5px"></span>
    </button>
  </div>
</div>
