<div class="row">
  <div class="col-md-5 status status-label">Status:</div>
  <div class="col-md-7 status status-text">Standby</div>
</div>

<div class="row" style="margin-top:55px">
  <div class="col-md-6">
    <button type="button" class="btn btn-danger boot-button" onClick="parent.location='activate'">
      Activate <span class="glyphicon glyphicon-warning-sign" style="margin-left: 5px"></span>
    </button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary boot-button" onClick="parent.location='deactivate'">
      Power Off <span class="glyphicon glyphicon-off" style="margin-left: 5px"></span>
    </button>
  </div>
</div>
