// Colors
$primary-background: #EEEEEE;
$neutral-background: #FFFFFF;

$accent-foreground: #FF0000;
$accent-background: #FF0000;

$light-border: #DDDDDD;
$focus-border: #CCCCCC;

$mail-hover: #DDDDFF;

// Fonts
$primary-font: verdana;
$secondary-font: arial;
