// Colors
$primary-background: #EEEEEE;
$secondary-background: #FFFFFF;
$select-hover-background: #FFFFDD;

$accent-foreground: #FF0000;
$accent-background: #FF0000;

$light-border: #DDDDDD;
$focus-border: #CCCCCC;

$tooltip-foreground: #FFFFFF;
$tooltip-background: #000000;

$mail-item-hover: #DDDDFF;
$item-selected-color: #FF4444;
$glaring-color: #FF0000;

// Fonts
$primary-font: verdana;
$secondary-font: arial;
