/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div {
//	border: 1px dashed orange;
}

a {
	text-decoration: none;
}

* {
	font-family: verdana;
}

.tooltip {
	display: none;
	top: 120%;
	left: 50%;
    height: auto;
    width: auto;
	font-size: 10px;
	font-family: verdana;
    background: #FFFFCC;
    border: 1px solid #555555;
	padding: 2px;
    position: absolute;
	z-index: 50;
}

#bar-top-gray {
	position: fixed;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	top: 0px;
	left: 0px;
	height: 60px;
	right: 0px;
	z-index: -1;
}

#logo {
	position: fixed;
	left: 10px;
	height: 54px;
	z-index: 0;
}

#search-field-div {
	position: fixed;
	left: 160px;
	top: 18px;
	height: 24px;
	width: 500px;
	padding: 0px;
	margin: 0px;
}

#search-field {
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

#search-field-div:hover {
	border-top: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}

#search-field-div:focus {
	border-top: 1px solid #7777FF;
	border-left: 1px solid #7777FF;
	border-bottom: 1px solid #7777FF;
}

#search-options-div { 
	position: fixed;
	left: 636px;
	top: 18px;
	width: 24px;
	height: 24px;
	padding: 0px;
	margin: 0px;
	background-image: url('down-arrow.png');
	background-repeat: no-repeat;
	background-size: 10px 8px;
	background-position: center;
	background-color: none;
	border: none;
	cursor: pointer;
	outline: 0;
	z-index: 25;
	opacity: 0.5;
}

#search-options-div:hover { 
	background-opacity: 1.0;
	opacity: 0.9;
}

#search-button-div {
	position: fixed;
	left: 660px;
	top: 18px;
	width: 24px;
	height: 24px;
	padding: 0px;
	margin: 0px;
	border: none;
}

#search-button { 
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-image: url('white-magnifying-glass-hi.png');
	background-repeat: no-repeat;
	background-size: 15px 12px;
	background-position: center;
	background-color: #7777FF;
	border: none;
	cursor: pointer;
	outline: 0;
	z-index: 0;
}

#search-options-menu-div {
	display: none;
	position: absolute;
	left: 0%;
	top: 100%;
	height: 1200%;
	width: 100%;
	border: 1px solid #DDDDDD;
	background: white;
	padding-left: 5%;
	padding-top: 5%;
}

#search-options-menu-div .item-label {
	position: static;
	color: #999999;
	font-family: arial;
	font-size: 15px;
}

#search-options-menu-div .item-input {
	position: static;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	width: 90%;
}

#apps-button-div {
	position: fixed;
	right: 180px;
	top: 18px;
	height: 24px;
	width: 24px;
	background-image: url('grid.jpg');
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: center;
	background-color: white;
}

#apps-button-div:hover {
	background-color: #BBBBBB;
}

#manage-account {
	position: fixed;
	right: 10px;
	top: 18px;
	background: none;
}

#manage-account-menu {
	display: none;
	position: absolute;
	left: -100%;
	top: 130%;
	width: 200%;
	height: 700%;
	background-color: #FFFFDD;
	border: 1px solid #DDDDDD;
}

#manage-account-menu .header {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 25%;
	background-color: #FFFFCC;	
	font-size: 10px;
	padding-top: 5px;
	padding-left: 30px;
	padding-bottom: 0px;
}

#manage-account-menu .user-info {
	position: absolute;
	left: 0%;
	top: 25%;
	width: 100%;
	height: 55%;
	background-color: #FFFFFF;
	padding: 0px;
	padding-left: 30px;
}

#manage-account-menu .user-info .fullname {
	font-size: 10px;
	font-weight: bold;
}

#manage-account-menu .user-info .email {
	font-size: 10px;
}

#manage-account-menu .lower-bar {
	position: absolute;
	left: 0%;
	top: 70%;
	width: 100%;
	height: 30%;
	background-color: #CCCCCC;
}

#manage-account-menu .lower-bar .settings {
	position: absolute;
	left: 10%;
	top: 15%;
	height: %80;
	width: %20;
	padding: 5px;
	border: 1px solid #777777;
	font-size: 10px;
}

#manage-account-menu .lower-bar .logout {
	position: absolute;
	left: 60%;
	top: 15%;
	height: %80;
	width: %20;
	padding: 5px;
	border: 1px solid #777777;
	font-size: 10px;
}

#bar-top-white {
	position: fixed;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
	top: 60px;
	left: 0px;
	height: 40px;
	right: 0px;
	z-index: -2;
}

#mail-options-button-div {
	position: fixed;
	top: 70px;
	left: 20px;
	cursor: pointer;
}

#mail-options-button-div .label {
	font-family: verdana;
	font-size: 18px;
	color: #FF4444;
}

#mail-options-button-div .down-arrow {
	position: absolute;
	left: 100%;
	top: 10%;
	width: 20px;
	height: 20px;
	background-image: url('down-arrow.png');
	background-repeat: no-repeat;
	background-size: 10px 8px;
	background-position: center;
	background-color: white;
	opacity: 0.5;
}


#mail-options-list-div {
	display: none;
	position: absolute;
	border: 1px solid #DDDDDD;
	background-color: white;
	padding-top: 0px;
	padding-left: 10px;
}

#mail-options-list-div ul {
	padding: 0px;
}

#mail-options-list-div li {
	list-style: none;
	font-size: 13px;
	color: black;
}

#mail-options-list-div li a {
	color: black;
	text-decoration: none;
}

#mail-options-list-div ul li:first-child {
	color: #FF4444;
}

#mail-item-selection-div {
	position: fixed;
	top: 70px;
	left: 160px;
	width: 30px;
	height: 24px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	padding-right: 10px;
	background: #EEEEEE;
}

#mail-item-selection-div:hover {
	border: 1px solid #BBBBBB;
}

#mail-item-selection-div .down-arrow {
	position: absolute;
	top: 12%;
	left: 35%;
	width: 25px;
	height: 20px;
	background-image: url('down-arrow.png');
	background-repeat: no-repeat;
	background-size: 10px 8px;
	background-position: center;
	background-color: white;
	opacity: 0.5;
	padding: 0px;
}

#mail-item-selection-options-div {
	display: none;
	position: absolute;
	top: 101%;
	left: 0%;
	width: auto;
	height: auto;
	border: 1px solid #CCCCCC;
	background-color: white;
	padding: 0px;
}

#mail-item-selection-options-div ul {
	list-style: none;
	padding: 10px;
}

#mail-item-selection-options-div li {
	list-style: none;
	font-size: 13px;
	color: black;
	padding: 0px;
}

#mail-item-selection-options-div li:hover {
	background-color: #BBBBBB;
}

#mail-item-selection-options-div li a {
	color: black;
	text-decoration: none;
}

#refresh-div {
	position: fixed;
	top: 70px;
	left: 210px;
	width: 40px;
	height: 24px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	background-image: url('refresh.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
	background-color: #EEEEEE;
}

#refresh-div:hover {
	border: 1px solid #BBBBBB;
}

#mark-all-as-read-div {
	position: fixed;
	top: 70px;
	left: 260px;
	width: 40px;
	height: 24px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	background-color: #EEEEEE;
	padding: 0px;
}

#mark-all-as-read-div:hover {
	border: 1px solid #BBBBBB;
}

#mark-all-as-read-div .label {
	position: absolute;
	top: 3px;
	left: 2px;
	font-family: verdana;
	font-size: 10px;
	color: black
}

#mark-all-as-read-div .down-arrow {
	position: absolute;
	left: 23px;
	top: 10%;
	width: 20px;
	height: 20px;
	background-image: url('down-arrow.png');
	background-repeat: no-repeat;
	background-size: 10px 8px;
	background-position: center;
	opacity: 0.5;
}

#mark-all-as-read-menu-div {
	display: none;
	position: absolute;
	left: 0%;
	top: 110%;
	width: 400%;
	height: 100%;
	background: white;
	border: 1px solid #CCCCCC;
}

#mark-all-as-read-menu-div .option {
	position: absolute;
	left: 10px;
	font-size: 12px;
}

#mark-all-as-read-menu-div:hover {
	background: #CCCCF2;
}

#settings-div {
	position: fixed;
	top: 70px;
	right: 1%;
	width: 40px;
	height: 24px;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	background-image: url('gear.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
	background-color: none;
	background-color: #EEEEEE;
	padding: 0px;
}

#settings-div:hover {
	border: 1px solid #BBBBBB;
}

#settings-menu-div {
	display: none;
	position: absolute;
	right: 0%;
	top: 110%;
	width: 300%;
	height: auto;
	background: white;
	border: 1px solid #CCCCCC;
}

#settings-menu-div ul {
	padding: 5px;
}

#settings-menu-div li {
	padding-top: 3px;
	padding-bottom: 3px;
	list-style: none;
	font-size: 10px;
}

#settings-menu-div li.selected {
	color: red;
}

#settings-menu-div li:hover {
	background-color: #DDDDDD;
}

#settings-menu-div li .separate {
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

#bar-left-white {
	position: fixed;
	background-color: white;
	top: 100px;
	left: 0px;
	width: 160px;
	height: 100%;
	border: none;
	z-index: -10;
}

#compose-button {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 120px;
	height: 23px;
	border-radius: 2px;
	background-color: #DD0000;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 0px;
	padding-top: 7px;
	color: white;
	cursor: pointer;
}


#folders {
	position: absolute;
	left: 20px;
	top: 50px;
	padding-left: 0px;
}

#folders li {
	list-style: none;
	font-size: 12px;
	padding-left: 0px;
	padding-top: 12px;
	cursor: pointer;
}

#folders li.selected {
	color: red;
}

#mail-items-div {
	position: absolute;
	top: 100px;
	left: 160px;
	right: 0px;
	height: 100%;
	border-top: 1px solid #DDDDDD;
	z-index: -100;
	padding: 0px;
}

#mail-items-div .table {
	position: absolute;
	background-color: #EEEEEE;
	border-style: none;
	font-size: 12px;
	width: 100%;
	padding: 0px;
	border-collapse: collapse;
	z-index: auto;
}

#mail-items-div .table td {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
	border-left: 0px;
	border-right: 0px;
}

#mail-items-div .table tr {
	width: 100%;
	padding: 0px;
}

#mail-items-div .table tr:hover {
	background-color: #DDDDFF;
}

#mail-items-div .table td.checkbox {
	width: 5%;
}

#mail-items-div .table td.starred {
	width: 5%;
}

#mail-items-div .table td.from {
	width: 20%;
}

#mail-items-div .table td.subject {
	width: 60%;
}

#mail-items-div .table td.subject .text {
	color: #555555;
}

#mail-items-div .table td.date-time {
	width: 10%;
	text-align: right;
	padding-right: 10px;
}
