/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div {
	border: 1px dashed orange;
}

#bar-top {
	position: fixed;
	background-color: #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	top: 0%;
	height: 7%;
	width: 100%;
	z-index: -1;
}

#logo {
	position: absolute;
	left: 1%;
	height: 90%;
	z-index: 0;
}

#search-field-div {
	position: absolute;
	left: 10%;
	top: 30%;
	height: 40%;
	width: 30%;
	padding: 0px;
	margin: 0px;
}

#search-field {
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	border: none;
}

#search-field-div:hover {
	border-top: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}

#search-button-div {
	position: absolute;
	left: 40%;
	top: 30%;
	width: 2%;
	height: 40%;
	padding: 0px;
	margin: 0px;
}

#search-button { 
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-image: url('white-magnifying-glass-hi.png');
	background-repeat: no-repeat;
	background-size: 40% 50%;
	background-position: center;
	border: 0px;
	background-color: #7777FF;
	cursor: pointer;
	outline: 0;
	z-index: 0;
}

#apps-button-div {
	position: absolute;
	left: 90%;
	top: 30%;
	height: 40%;
	width: 1.5%;
	background-color: #999999;
}

#apps-button-div:hover {
	background-color: #BBBBBB;
}
