.mild-button {
  padding: 2px 5px 5px 5px;
  border: 1px solid #dddddd;
  background: #eeeeee;
  font-size: 13px;
  text-align: center;
  line-height: 100%;
  vertical-align: middle; }
  .mild-button:hover {
    border: 1px solid #cccccc; }
  .mild-button a, .mild-button a:link, .mild-button a:hover {
    color: #555555; }

.glaring-button {
  background: red;
  color: white;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
  padding-top: 10px;
  border-radius: 2px; }
