@import 'defines';
		
.bold-font {
	font-family: $primary-font;
	font-size: 13px;
	font-weight: bold;
}

.detail-font {
	font-family: $primary-font;
	font-size: 12px;
	color: #333333;
}

.label-font {
	font-family: $primary-font;
	font-size: 16px;
}

.small-label-font {
	font-family: $primary-font;
	font-size: 10px;
}

.accent-label-font {
	font-family: $primary-font;
	font-size: 18px;
	color: $accent-foreground;
}

.item-font {
	font-family: $primary-font;
	font-size: 13px;
}

.small-item-font {
	font-family: $primary-font;
	font-size: 10px;
}
