.second-bar {
  position: fixed;
  background-color: white;
  border-bottom: 1px solid #dddddd;
  top: 60px;
  left: 0px;
  height: 40px;
  right: 0px;
  z-index: -2; }

.mail-options {
  position: absolute;
  top: 10px;
  left: 20px;
  cursor: pointer; }
  .mail-options .down-arrow {
    position: absolute;
    top: 0px;
    left: 100%; }
  .mail-options .menu {
    display: none;
    position: absolute;
    border: 1px solid #dddddd;
    background-color: white;
    padding-top: 0px;
    padding-left: 10px;
    width: 90px; }
    .mail-options .menu ul {
      padding: 0px; }

.mail-selection {
  position: absolute;
  top: 10px;
  left: 160px;
  width: 25px;
  height: 17px;
  padding-left: 0px;
  padding-right: 10px; }
  .mail-selection .check-all {
    position: absolute;
    left: 1px; }
  .mail-selection .down-arrow {
    position: absolute;
    top: 0px;
    right: -4px; }
  .mail-selection .options {
    display: none;
    position: absolute;
    top: 101%;
    left: 0%;
    width: auto;
    height: auto;
    border: 1px solid #cccccc;
    background-color: white;
    padding: 0px; }
    .mail-selection .options ul {
      padding: 10px; }

.refresh {
  position: absolute;
  top: 10px;
  left: 210px;
  width: 40px;
  height: 17px;
  background-image: url("refresh.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  background-color: #eeeeee; }

.more {
  position: absolute;
  top: 10px;
  left: 270px;
  width: 40px;
  height: 17px; }
  .more .label {
    position: absolute;
    top: 0px;
    left: 4px;
    line-height: 24px;
    vertical-align: middle; }
  .more .down-arrow {
    position: absolute;
    right: 0px;
    top: 0px; }
  .more .menu {
    display: none;
    position: absolute;
    left: 0%;
    top: 110%;
    width: 250%;
    height: 100%;
    background: white;
    border: 1px solid #cccccc; }
    .more .menu .option {
      position: absolute;
      left: 10px;
      line-height: 24px;
      vertical-align: middle; }

.settings {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 17px;
  background-image: url("gear.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center; }
  .settings .menu {
    display: none;
    position: absolute;
    right: 0%;
    top: 110%;
    width: 300%;
    height: auto;
    background: white;
    border: 1px solid #cccccc; }
    .settings .menu ul {
      padding: 5px; }
      .settings .menu ul li {
        padding-top: 3px;
        padding-bottom: 3px; }
        .settings .menu ul li.separate {
          border-top: 1px solid #D0D0D0;
          border-bottom: 1px solid #D0D0D0; }
