@import 'defines';

.second-bar {
	position: fixed;
	background-color: $secondary-background;
	border-bottom: 1px solid $light-border;
	top: 60px;
	left: 0px;
	height: 40px;
	right: 0px;
	z-index: -2;
}

.mail-options {
	position: absolute;
	top: 10px;
	left: 20px;
	cursor: pointer;

	.down-arrow {
		position: absolute;
		top: 0px;
		left: 100%;
	}

	.menu {
		display: none;
		position: absolute;
		border: 1px solid $light-border;
		background-color: white;
		padding-top: 0px;
		padding-left: 10px;
		width: 90px;

		ul {
			padding: 0px;
		}
	}
}

.mail-selection {
	position: absolute;
	top: 10px;
	left: 160px;
	width: 25px;
	height: 17px;
	padding-left: 0px;
	padding-right: 10px;

	.check-all {
		position: absolute;
		left: 1px;
	}
	
	.down-arrow {
		position: absolute;
		top: 0px;
		right: -4px;
	}

	.options {
		display: none;
		position: absolute;
		top: 101%;
		left: 0%;
		width: auto;
		height: auto;
		border: 1px solid $focus-border;
		background-color: white;
		padding: 0px;

		ul {
			padding: 10px;
		}
	}
}

.refresh {
	position: absolute;
	top: 10px;
	left: 210px;
	width: 40px;
	height: 17px;
	background-image: url('refresh.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
	background-color: $primary-background;
}

.more {
	position: absolute;
	top: 10px;
	left: 270px;
	width: 40px;
	height: 17px;

	.label {
		position: absolute;
		top: 0px;
		left: 4px;
		line-height: 24px;
		vertical-align: middle;
	}

	.down-arrow {
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.menu {
		display: none;
		position: absolute;
		left: 0%;
		top: 110%;
		width: 250%;
		height: 100%;
		background: white;
		border: 1px solid $focus-border;

		.option {
			position: absolute;
			left: 10px;
			line-height: 24px;
			vertical-align: middle;
		}
	}
}

.layout-settings {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 17px;
	background-image: url('gear.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;

	.menu {
		display: none;
		position: absolute;
		right: 0%;
		top: 110%;
		width: 300%;
		height: auto;
		background: white;
		border: 1px solid $focus-border;

		ul {
			padding: 5px;

			li {
				padding-top: 3px;
				padding-bottom: 3px;

				&.separate {
					border-top: 1px solid #D0D0D0;
					border-bottom: 1px solid #D0D0D0;
				}
			}
		}
	}
}
