.bar-top-gray {
  position: fixed;
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
  top: 0px;
  left: 0px;
  height: 60px;
  right: 0px;
  z-index: -1; }

.logo {
  position: fixed;
  left: 10px;
  height: 54px;
  z-index: 0; }

.search {
  position: fixed;
  left: 160px;
  top: 18px;
  height: 24px;
  width: 500px;
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD; }
  .search:hover, .search:focus {
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC; }
  .search .text {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none; }
  .search .down-arrow {
    position: fixed;
    top: 18px;
    left: 636px; }
  .search .button {
    position: fixed;
    left: 660px;
    top: 18px;
    width: 24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
    border: none; }
    .search .button input {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 26px;
      width: 100%;
      padding: 0px;
      margin: 0px;
      background-image: url("white-magnifying-glass-hi.png");
      background-repeat: no-repeat;
      background-size: 15px 12px;
      background-position: center;
      background-color: #7777FF;
      border: none;
      cursor: pointer;
      outline: 0;
      z-index: 0; }
  .search .menu {
    display: none;
    position: absolute;
    left: 0%;
    top: 100%;
    height: 1200%;
    width: 100%;
    border: 1px solid #DDDDDD;
    background: white;
    padding-left: 5%;
    padding-top: 5%; }
    .search .menu .label {
      position: static;
      color: #999999;
      font-family: arial;
      font-size: 15px;
      height: 1em; }
    .search .menu .text {
      position: static;
      border-top: 1px solid #999999;
      border-bottom: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;
      border-left: 1px solid #DDDDDD;
      width: 90%;
      height: 1em; }
    .search .menu .check {
      padding: 0px;
      margin: 0px; }

.grid-button {
  position: fixed;
  right: 180px;
  top: 18px;
  height: 24px;
  width: 24px;
  background-image: url("grid.jpg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;
  background-color: white; }
  .grid-button:hover {
    background-color: #BBBBBB; }

.manage-account {
  position: fixed;
  top: 18px;
  right: 10px;
  background: none; }
  .manage-account .label {
    position: absolute;
    top: 0px;
    right: 0px; }
  .manage-account .menu {
    display: none;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 230px;
    height: 170px;
    background-color: #FFFFDD;
    border: 1px solid #DDDDDD;
    font-size: 18px;
    padding-left: 10px; }
    .manage-account .menu .header {
      position: absolute;
      left: 0%;
      top: 0%;
      width: 100%;
      height: 30%;
      background-color: #FFFFCC;
      font-size: 10px;
      padding: 8px 0px 0px 20px; }
    .manage-account .menu .body {
      position: absolute;
      left: 0%;
      top: 25%;
      width: 100%;
      height: 40%;
      background-color: #FFFFFF;
      padding: 10px 0px 0px 20px; }
      .manage-account .menu .body .fullname {
        font-size: 13px;
        font-weight: bold; }
      .manage-account .menu .body .email {
        font-size: 12px;
        color: #333333; }
    .manage-account .menu .footer {
      position: absolute;
      left: 0%;
      top: 70%;
      width: 100%;
      height: 30%;
      background-color: #E3E3E3;
      padding: 10px 0px 0px 20px; }
      .manage-account .menu .footer .settings {
        position: absolute;
        left: 10%;
        top: 25%;
        height: auto;
        width: 25%;
        padding: 2px 5px 5px 5px;
        border: 1px solid #AAAAAA;
        background: #EEEEEE;
        font-size: 13px;
        text-align: center;
        line-height: 100%;
        vertical-align: middle; }
        .manage-account .menu .footer .settings a, .manage-account .menu .footer .settings a:link, .manage-account .menu .footer .settings a:hover {
          color: #555555; }
      .manage-account .menu .footer .logout {
        position: absolute;
        right: 10%;
        top: 25%;
        height: auto;
        width: 25%;
        padding: 2px 5px 5px 5px;
        border: 1px solid #AAAAAA;
        background: #EEEEEE;
        font-size: 13px;
        text-align: center;
        line-height: 100%;
        vertical-align: middle; }
        .manage-account .menu .footer .logout a, .manage-account .menu .footer .logout a:link, .manage-account .menu .footer .logout a:hover {
          color: #555555; }
