
body {
  background-color: #F1E6B2;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

section {
  display: table-cell;
  text-align: center;
  vertical-align: middle
}

.status-booted {
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 1px;
  border: none;
  display: none;
}
.status-activated {
  display: none;
}

.status-deactivated {
  display: none;
}

.status-exploded {
  display: none;
}
.wrapperOutside {
   display: table;
   width: 100vw;
   height: 100vh;
}

.wrapperInside {
  font-family: sans-serif;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.buttonContainer {
  /* Form */
  width: 500px;
  height: auto;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.bomb-button {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  /* Remove grey background on link clicked in ios safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.buttonFlat {
  text-transform: uppercase;
  display: inline-block;
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(0,0,0,0.9);
  line-height: 36px;
  text-align: center;
  letter-spacing: 1.px;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
  margin-top: 6px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 6px;
  border: none;
}

input[type="submit"] {
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 36px;
  background: #672E45;
  color: white;
  cursor: pointer;
}


input[type="submit"]#submit-bomb:hover {
  display: inline-block;
  height: 36px;
  background-color: #BA0C2F;
  color: black;
  cursor: pointer;
}
