<%= 
commands = [
  { link_name: 'Create New Feeds', uri: new_feed_path },
  { link_name: 'Search For Feeds', uri: 'FIXME' }
]

render partial: 'shared/op_menu', locals: { commands: commands }
%>

<h1 class="text-center">My Feeds</h1>

<h2>My Custom Feeds</h2>

<%= render partial: "feed_list", locals: { feeds: @custom_feeds } %>

<!-- h2>Shared With Me</h2>

 %= render partial: "feed_list",
    locals: { feeds: @shared_feeds, with_owner: true } % -->

<h2>Public Feeds</h2>

<%= render partial: "feed_list", locals: { feeds: @public_feeds } %>

<%= link_to 'Create New Feed', new_feed_path %>
