<% if @bills.present? %>
<section>
  <div class="bills">
    <h4>Current Bills</h4>
    <%= render @bills %>
  </div>
</section>
<section>
  <%= pagination_wrapper_for(@bills) %>
</section>
<% else %>
<section>
  <div class="empty">
    <div>
      There are no bills to show
    </div>
  </div>
</section>
<% end %>
