<% provide(:title, "About") %>
<div class="panel" id="about">
  <header>
    <h2>About</h2>
  </header>
  <p>
    MTG Deck Builder is a rails app that uses <a href="https://deckbrew.com/api/">Deck Brew</a> and <a href="http://www.mtgprice.com/mtgPriceAPI.jsp">MTGPrice</a> to allow users to create and save MTG decks, and get an estimate on their price.
  </p>
</div>
