<h1>MTG Deck Builder</h1>
<p>Welcome to MTG Deck Builder, a beautiful rails app that allows you to build
   the MTG deck of your dreams (and then have those dreams shot down when you
   realize how expensive this game is...)</p>
