<% provide(:title, "Home") %>
<div class="panel" id="login-or-signup">
  <h2>Log In / Sign Up</h2>
  <%= form_for(@user) do |f| %>
    <%= render "shared/user_signup_form", f: f %>
    <%= f.submit "Log In", class: "btn", name: "login" %>
  <% end %>
</div>