<% provide(:title, "Home") %>
<div class="panel align-center">
  <%= image_tag("magic.gif", id: "magic-logo") %>
  <br>
  <%= link_to "Sign Up", signup_path, class: "btn" %>
  <%= link_to "Log In", login_path, class: "btn" %>
</div>