<% provide(:title, "Home") %>
<div class="panel" id="login-or-signup">
  <header>
    <h2>Log In / Sign Up</h2>
  </header>
  <form>
    <p><input name="username" placeholder="Username" type="text" /></p>
    <p><input name="password" placeholder="Password" type="password" /></p>
    <p>
      <input class="btn" type="submit" value="Log In" name="login" />
      <input class="btn" type="submit" value="Sign Up" name="signup" />
    </p>
  </form>
</div>