%h3
  Thanks for your input!  

%h3 
  To see a list of all books that users have recommended visit the 
  = link_to(name = "Recommendations", url = "/recommendations/recommended_books")
  link in the toolbar.
