<%= form_for(@legislator) do |f| %>
  <% if @legislator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@legislator.errors.count, "error") %> prohibited this legislator from being saved:</h2>

      <ul>
      <% @legislator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
