<article class="legislator clearfix">
  <div class="legislator-wrapper">
    <div class="legislator-details">
      <%= link_to_legislator legislator, class: 'name' %>
      <%= representation_tag legislator, class: 'represenation' %>
      <%= party_tag legislator, class: 'party' %>
    </div>
    <div class="legislator-image">
      <%= legislator_image_tag(legislator) %>
    </div>
  </div>
</article>
