<% content_for :legislators_header do %>
  <h4>Legislators</h4>
  <% if user_signed_in? %>
    <div class="favorite-toggle">
      <%= link_to "Show Favorites Only", legislators_favorites_path %>
    </div>
  <% end %>
  <div class="search">
    <%= select_tag "people", options_for_select(States::STATES_AND_TERRITORIES.values, States.abbr_to_state(@state)), prompt: 'All States', id:'state-select' %>
  </div>
<% end %>

<%= render :partial => "legislators_base" %>

