<section class="legislator-details">
  <%= render partial: 'legislator', locals: {legislator: @legislator} %>
</section>
<section class="legislator-good-deeds">
  <% @legislator.good_deeds.each do |g| %>
    <%= content_tag :div, g.action %>
  <% end %>
</section>
