<section>
  <%= render partial: 'legislator', locals: {legislator: @legislator} %>
  <%= render partial: 'contact_details', locals: {legislator: @legislator} %>
</section>

<% if @legislator.sponsorships.present? %>
<section>
  <div class="good-deeds">
    <h6>Sponsorships</h6>
    <%= render partial: 'good_deed', collection: @legislator.sponsorships %>
  </div>
</section>
<% end %>

<% if @legislator.cosponsorships.present? %>
<section>
  <div class="good-deeds">
    <h6>Co-sponsorships</h6>
    <%= render partial: 'good_deed', collection: @legislator.cosponsorships %>
  </div>
</section>
<% end %>
