<h1>Listing venues</h1>
 <div id="map"%></div>
 <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td><%= venue.address %></td>
        <td><%= link_to 'Show', venue %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

