<% provide(:title, "Cards") %>
<div class="divide search">
  <h2>Search</h2>
  <%= render 'shared/card_search' %>
</div>
<div class="panel all-cards">
  <h2>Cards</h2>
  <table>
    <%= render @cards, deck: nil %>
  </table>
  <%= will_paginate @cards %>
</div>
