<div class="container">
    <div class="row">
        <div class="col-sm-12 phone">
            <div class="row1">
                <div class="col-md-12">
                    <!--<input type="tel" name="name" id="telNumber" class="form-control tel" value="" />-->
                    <div class="num-pad">
                        <div class="span4">
                            <div class="num" data-ng-key="1">
                                <div class="txt">
                                    1
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="2">
                                <div class="txt">
                                    2 <span class="small">
                                    <p>
                                        ABC</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="3">
                                <div class="txt">
                                    3 <span class="small">
                                    <p>
                                        DEF</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="4">
                                <div class="txt">
                                    4 <span class="small">
                                    <p>
                                        GHI</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="5">
                                <div class="txt">
                                    5 <span class="small">
                                    <p>
                                        JKL</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="6">
                                <div class="txt">
                                    6 <span class="small">
                                    <p>
                                        MNO</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="7">
                                <div class="txt">
                                    7 <span class="small">
                                    <p>
                                        PQRS</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="8">
                                <div class="txt">
                                    8 <span class="small">
                                    <p>
                                        TUV</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="9">
                                <div class="txt">
                                    9 <span class="small">
                                    <p>
                                        WXYZ</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="[PREVIOUS]">
                                <div class="txt">
                                    * <span class="small">
                                    <p>BACK</p></span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="0">
                                <div class="txt">
                                    0 <span class="small">
                                    <p>
                                        +</p>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="num" data-ng-key="[CLEAR]">
                                <div class="txt">
                                    C<span class="small"><p>CLEAR</p></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                    </div>
                    <a class="btn btn-success btn-block flatbtn" data-ng-key="[NEXT]">NEXT</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class="spanicons deactivate" data-ng-key="[DEACTIVATE]">
                            <span class="glyphicon glyphicon-star"></span><span class="small">
                                <p>
                                    Deactivate</p>
                            </span>
                        </div>
                        <div class="spanicons disabled">
                            <span class="glyphicon glyphicon-earphone"></span><span class="small">
                                <p>
                                    Calls</p>
                            </span>
                        </div>
                        <div class="spanicons disabled">
                            <span class="glyphicon glyphicon-user"></span><span class="small">
                                <p>
                                    Contacts</p>
                            </span>
                        </div>
                        <div class="spanicons active">
                            <span class="glyphicon glyphicon-th"></span><span class="small">
                                <p>
                                    Keyboard</p>
                            </span>
                        </div>
                        <div class="spanicons activate" data-ng-key="[ACTIVATE]">
                            <i class="fa fa-microphone"></i><span class="small">
                                <p>
                                    Activate</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
