<div class="container center-block col-sm-12">
	<div class="button-wrapper row">
        <div class="col-sm-12">
            <button class="btn btn-lg" data-ng-key="1">1</button>
            <button class="btn btn-lg" data-ng-key="2">2</button>
            <button class="btn btn-lg" data-ng-key="3">3</button>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-lg" data-ng-key="4">4</button>
            <button class="btn btn-lg" data-ng-key="5">5</button>
            <button class="btn btn-lg" data-ng-key="6">6</button>
        </div>
        <div class="col-sm-12">
            <button class="btn btn-lg" data-ng-key="7">7</button>
            <button class="btn btn-lg" data-ng-key="8">8</button>
            <button class="btn btn-lg" data-ng-key="9">9</button>
        </div>
        <div class="col-sm-12">
            <button data-ng-key="[CLEAR]" class="btn btn-lg">Clear</button>
            <button class="btn btn-lg" data-ng-key="0">0</button>
            <button class="btn btn-lg" data-ng-key=".">.</button>
        </div>
        <div class="col-sm-12">
            <button data-ng-key="[PREVIOUS]" class="btn btn-lg">Previous</button>
            <button data-ng-key="[NEXT]" class="btn btn-lg">Next</button>
        </div>

	</div>
	<div class="drag-indicator">
		<span></span>
		<span></span>
		<span></span>
	</div>

	<button class="close" data-ng-click="close()"></button>
</div>