.jumbotron
  %h1
    %span
      = fa_icon "exclamation-triangle"
      Page Not Found
  %p
    There was an error loading your page. Please contact a system administrator.
  %p
    = link_to "Back", :back, class: "btn btn-danger"
