%head
  %link{:href => "/style.css", :rel => "stylesheet"}/

  %script{:src => "/jquery-1.11.1.min.js"}
  %script{:src => "/jquery-ui.min.js"}
  %link{:href => "https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/

  %script{:src => "/bomb.js", :type => "text/javascript"}
  %script{:src => "/bomb_activate.js", :type => "text/javascript"}