= haml :_header
%h4 This is the bomb interface

%input{type: "hidden", value: "#{@bomb.id}", id: "bomb_id"}

#dialog-confirm{:style => "display: none;", :title => "Activate the bomb?"}
  %p
    %span.ui-icon.ui-icon-alert{:style => "float:left; margin:0 7px 20px 0;"}>
    These items will be permanently deleted and cannot be recovered. Are you sure?
.timer

.label
  %label Status

#wires.bomb_wires
  %button{ id: "green_btn", class: "wire_btn green_button" } Green
  %button{ id: "red_btn", class: "wire_btn red_button" } Red

%textarea{ readonly: true, id: "bomb_status",class: "bomb_inactive" }
  ="#{@bomb.status}"
#bomb
  / Screen and clear key
  .top
    %span.clear C
    .screen
  .keys
    / operators and other keys
    %span.keypad-7 7
    %span.keypad-8 8
    %span.keypad-9 9
    %span.operator.activate Activate
    %span.keypad-4 4
    %span.keypad-5 5
    %span.keypad-6 6
    %span.operator.deactivate Deactivate
    %span.keypad-1 1
    %span.keypad-2 2
    %span.keypad-3 3
    %span.operator Status
    %span.keypad-0 0
/ PrefixFree

