%link{:href => "/style.css", :rel => "stylesheet"}/

%script{:src => "/jquery-1.11.1.min.js"}
%script{:src => "/jquery-ui.min.js"}
%link{:href => "https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet"}/

%script{:src => "/bomb.js", :type => "text/javascript"}
%h4 This is the interface


#dialog-confirm{:style => "display: none;", :title => "Activate the bomb?"}
  %p
    %span.ui-icon.ui-icon-alert{:style => "float:left; margin:0 7px 20px 0;"}>
    These items will be permanently deleted and cannot be recovered. Are you sure?
.timer

.label
  %label Status

#wires.bomb_wires
  %a{:href => "http://localhost:9292/bomb/diffuse?color=green"}
    %font{:color => "green"} Green
  %a{:href => "http://localhost:9292/bomb/diffuse?color=red"}
    %font{:color => "red"} Red

%textarea{ readonly: true, id: "bomb_status",class: "bomb_inactive" }
  ="Inactive"
#bomb
  / Screen and clear key
  .top
    %span.clear C
    .screen
  .keys
    / operators and other keys
    %span 7
    %span 8
    %span 9
    %span.operator Activate
    %span 4
    %span 5
    %span 6
    %span.inactive_operator Deactivate
    %span 1
    %span 2
    %span 3
    %span.operator Status
    %span 0
/ PrefixFree

:javascript
    $(document).ready( function() {
      var keys = document.querySelectorAll('#bomb span');
      for(var i = 0; i < keys.length; i++) {
        keys[i].onclick = function(e) {
          var input = document.querySelector('.screen');
          var inputVal = input.innerHTML;
          var btnVal = this.innerHTML;

          if(btnVal == 'Activate'){
          $( "#dialog-confirm" ).dialog({
              resizable: false,
              height:200,
              modal: true,
              buttons: {
                "Activate bomb?": function() {
                  evaluateCode(input.innerHTML, btnVal);
                  $( this ).dialog( "close" );
                },
                Cancel: function() {
                  $( this ).dialog( "close" );
                }
              }
            });
          }
          else if((btnVal == 'Submit') || (btnVal == 'Deactivate'))  {
            evaluateCode(input.innerHTML, btnVal);
          }
          else if (btnVal == 'Configure')
          {
            configureBomb();
          }
          else if(btnVal == 'C') {
            input.innerHTML = '';
          }
          else {
            input.innerHTML += btnVal;
          }
        }
      }
      var start = 0;
      var refreshId = window.setInterval(function(){
        $.ajax({
          type: "GET",
          url: "http://localhost:9292/bomb.json",
          dataType: "json",
          success: function(returnObject)
          {
            if(returnObject.bomb_status == "active")
            {
              $('.timer').css("display", "block");
              $(".bomb_wires").css("display", "block");
              $("#bomb_status").removeClass("bomb_inactive");
              $("#bomb_status").removeClass("bomb_explode");
              $("#bomb_status").addClass("bomb_active");
              $("#bomb_status").val("Active");
              $('.timer').html(((returnObject.detonation_time) - start) + " Seconds ");
              var html = ""
              var str = ""
              var btn_str = ""
              returnObject.wires.forEach(function(wire) {
                for (var item in wire) {
                  str = "<button style='background-color:lightgreen'>Green</button>"
                  html.concat(str);
                }
              });
              $(".bomb_wires").append(html);

              start += 1
            }
            else if(returnObject.bomb_status == "inactive")
            {
              $("#bomb_status").removeClass("bomb_active");
              $("#bomb_status").removeClass("bomb_explode");
              $("#bomb_status").addClass("bomb_inactive");
              $("#bomb_status").val("Inactive");
            }
            else
            {
              $("#bomb_status").removeClass("bomb_active");
              $("#bomb_status").removeClass("bomb_inactive");
              $("#bomb_status").addClass("bomb_explode");
              $("#bomb_status").val("Exploded");
              start += 1
            }
          },
          error: function (xhr){
            if(xhr.status == 0)
            {
              clearInterval(refreshId);
            }
            }
        });
      }, 1000);


    function evaluateCode(code, btnvalue)
    {
      var action = btnvalue.toLowerCase();
      var datalist = {}
      if(action == "activate"){
        datalist = {activation_code: code}
      }
      else
      {
        datalist = {deactivation_code: code}
      }

      $.ajax({
        type: "POST",
        url: "http://localhost:9292/bomb/"+action,
        dataType: "json",
        data: JSON.stringify(datalist),
        success: function(returnObject)
        {

          if(returnObject.bomb_status == "active")
          {
            $("#bomb_status").removeClass("bomb_inactive");
            $("#bomb_status").addClass("bomb_active");
            $("#bomb_status").val("Active");
          }
        },
        error: function (xhr){  alert( 'xhr = '+xhr.status ); }
      });
    }
  });















