.container
  .row
    .col-sm-9
      .detonation-panel{class: 'panel panel-danger'}
        .panel-heading
          %h1{class: 'panel-title'}
            That went as well as could be expected ...
        .panel-body
          %img{src: '/images/boom.jpg', alt: 'Boom! Explosion occurred.'}
