.container
  .row
    .col-sm-12
      .settings-panel{class: 'panel panel-info'}
        .panel-body
          .col-sm-5
            %span{id: 'code-error'}
            %form{action: '/', method: 'post', id: 'provision_bomb'}
              %label{for: 'activation-code'} Activation Code
              %span
                %em
                  Default: 1234
              %input#activation-code{name: 'activation_code', type: 'text', class: 'form-control'}
              %label{for: 'deactivation-code'} Deactivation Code
              %span
                %em
                  Default: 0000
              %input#deactivation-code{name: 'deactivation_code', type: 'text', class: 'form-control'}
              %input#provision-bomb{type: 'submit', value: 'Provision Your Bomb!', class: 'btn btn-lg btn-block btn-danger'}
