- if trigger.activated?
  %label#bomb-state Bomb is active.
- else
  %label#bomb-state Bomb is inactive.

%label#notice

%input#trigger-code{type: 'text'}

- if trigger.activated?
  %input#change-bomb-state{type: 'submit', value: 'Deactivate'}
- else
  %input#change-bomb-state{type: 'submit', value: 'Activate'}
