<div class="page-header">
    <h1>Overlord</h1>
    <!--Overlord - Evil Genius Bom-->
</div>
<div class="row" id="bomb-control">
    <div class="bomb-background col-md-6">

        <!--<div class="row">-->
        <%= partial :initial_form, locals => :form_fields %>

    </div>

</div>