!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Project Overlord
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
  %body
    %h1 Project Overlord
    = yield
    %script{src: 'https://code.jquery.com/jquery-2.1.4.min.js'}
    %script{src: 'http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js'}
    //%script{src: '/js/jquery-2.1.4.min.js'}
    //%script{src: '/js/jquery.validate.min.js'}
    %script{src: '/js/overlord.js'}
