#emails {
  float: left;
  width: 680px;
  margin: 0px 0px 0px 10px;
  background-color: white;
}

ul.emails-list {
  padding: 0px;
  margin: 0px;
}

li.email-entry {
  display: block;
  border-left:   2px solid #E8E8E8;
  border-right:  2px solid #E8E8E8;
  border-top:    1px solid #A8A8A8;
  border-bottom: 1px solid #A8A8A8;
}

.email-selectors {
  float: left;
  width: 35px;
  margin: 0;
}

.email-sender {
  float: left;
  width: 145px;
  margin: 0;
}

.email-subject {
  float: left;
  width: 400px;
  margin: 0;
}

.email-time {
  float: right;
  width: 100px;
  margin: 0;
}
