#emails {
  float: left;
  width: 680px;
  margin: 0px 0px 0px 10px;
  background-color: white;
}

ul.emails-list {
  padding: 0px;
  margin: 0px;
}

li.email-entry {
  display: block;
  border: solid;
  border-color: #A8A8A8 #E8E8E8;
  border-width: 1px 2px;
}

.email-selectors {
  float: left;
  width: 35px;
  margin: 0;
}

.email-sender {
  float: left;
  width: 145px;
  margin: 0;
}

.email-subject {
  float: left;
  width: 400px;
  margin: 0;
}

.email-time {
  float: right;
  width: 100px;
  margin: 0;
}
