header {
  position: relative;
  height: 80px;
  width: 100%;
}

header h1 {
  float: left;
  width: 15%;
  height 80px;
  text-align: center;
}

header button {
  height: 28px;
  width: 100px;
  margin: 25px 0px;
}

header input {
  height: 30px;
  width: 200px;
  margin: 25px 0px;
}

#header-search-form {
  float: left;
  width: 55%;
  height: 80px;
}
