nav {
  background-color: white;
  width: 200px;
  margin-left: 0px;
  margin-right: 10px;
  float: left;
}

nav button {
  width: 100px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

nav ul {
  width: 150px;
  padding: 0px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav li {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav li:hover {
  background-color: gray;
}
