$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #111111;
  font-family: arial,sans-serif;
}

.container {
  width: 100%;
  a {
    color: white;
  }
}

.account-menu {
  width: 250px;
  margin-right: 25px
}

.account-management span, .account-summary span {
  display: block;
}

.black {
  color: black;
}

.account-summary {
  padding: 10px 20px;
  button {
    border-radius: 2px;
    &:hover {
      color: white;
    }
  }
}

.account-management {
  background: #fef9db;
  font-size: 11px;
  padding: 10px 20px;
  white-space: normal;
}

.account-settings {
  background: #f5f5f5;
  border-top: 1px solid #ccc;
  border-color: rgba(0,0,0,.2);
  padding: 10px 20px;
  width: 100%;
  display: table;
  button:first-child {
    margin-right: 10px;
  }

  button {
    border-radius: 2px;
  }
}

.my-account {
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  color: white;
}

.account-summary span:last-child a {
  color: #36c;
  &:hover {
    text-decoration: underline;
    color: white;
  }
}

tr:hover {
  border-left: 2px dotted rgba(68, 68, 68, 0.74902);
}

tr.highlight {
  color: white;
  background-color: #aaaaaa;
}

.app-menu {
  height: 400px !important;
  width: 300px;
}

.notification-menu {
  background-color: #e5e5e5;
  width: 400px;
  height: 400px !important;

  h4 {
    text-align: center;
    margin-top: 10px;
  }
}

.notifications, .apps {
  width: 50px;
}

footer {
  margin-left: 250px;
  color: white;

  .activity {
    text-align: right
  }

  .policy {
    text-align: center;
  }

  .google-logo {
    width: 63px;
    height: 24px;
    background-image: url(//ssl.gstatic.com/mail/images/google_logo_white_126x48.png);
    -webkit-background-size: 63px 24px;
    background-size: 63px 24px;
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: block;
    font-size: 0.8em;
  }
}

.container-fluid {
  border-bottom: 1px solid #494949;
  padding: 6px 0;
}

.container-header {
  border-bottom: 1px solid #494949;
}

.glyphicon-bell {
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 11px;
}

.glyphicon-th {
  font-size: 19px;
}

button.list-group-item {
  background-color: #111111;
  color: white !important;
  border: none !important;
  padding: 10px 0px;
  line-height: 10px;
  &:hover, &:focus{
    background-color: rgba(35,35,35,0.8);
    outline: none;
  }
}

.navbar-brand img {
  margin-top: -21px;
  margin-left: 21px;
}

.navbar-default {
  background-color: black;
  border: none;
}

.navbar-header {
  width: 250px;
}

.navbar-form {
  margin-top: 10px;

  button {
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: white;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 2px;
    border-bottom-right-radius:2px;
    border: 0 !important;
    width: 60px;
    height: 30px;
  }
}

.navbar {
  a {
    width: 70%;
  }

  img {
    width: 100%;
  }

  li {
    height: 50px;
  }

  .dropdown a {
    width: 175px;
  }
}

.dropdown-toggle h4 {
  display: inline-block;
  padding-right: 0.3em;
  vertical-align: sub;
}

.top-container {
  margin-top: -10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #494949;
}

.bottom-container .col-md-2 > button {
  width: 120px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 0.8em;
}

.list-group-item:first-child {
  font-weight: bold;
}

.top-container .col-md-2 .dropdown{
  position: absolute;
  left: 0;
}

.pull-left > li {
  width: 70px;
  text-align: center;
  margin-right: 10px;
}

.nav-pills > li + li {
  margin-left: 1px;
}

.statistics {
  width: 70px;
  height: 30px;
  text-align: center;
}

table {
  color: #ccc;
  font-size: 0.9em;
  margin-top: -10px;

  td {
    border-top: none !important;
    border-bottom: 1px solid #494949 !important;
  }
}

.rest {
  color: #777777;
}

table tr td:nth-child(2) {
  width: 15%;
}

table tr td {
  padding: 13px 8px !important;
}

table tr td:last-child {
  text-align: right;
}

.chevrons {
  width: 40px;
  height: 30px;
  text-align: center;
}

.chevrons:last-child{
  margin-left: 0;
}

.pull-right .dropdown {
  height: 30px;
  width: 70px;
  margin-left: 15px;
  text-align: center;
}

.nav > li > a {
  padding: 5px 10px !important;
}

li.chevron {
  width: 45px;
}

.nav-pills a {
  color: #ccc;
}

.nav-pills.pull-right .dropdown-menu{
  right: 0;
  left: auto;
}

.nav-pills > li {
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(top, rgba(68, 68, 68, 0.74902), rgba(60, 60, 60, 0.74902));
}

nav > li > a {
  padding: 5px 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .nav > li > a:focus{
  background-color: inherit;
  background-image: none;
  outline: none;
  border: none;
}
.navbar-default .navbar-nav > .open > a, .nav .open > a{
  background-color: inherit;
  &:hover, &:focus{
    background-color: inherit;
  }
}

.navbar-right {
  margin-top: 10px;
}

.navbar-right > li > a {
  color: white !important;
}

.pull-right > li:first-child {
  color: white;
  background-image: none;
  padding: 0 0.8em;
}

.nav > li > a:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.search-bar {
  border-radius: 0;
  width: 590px !important;
  height: 30px;
}
