$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: arial,sans-serif;
}

.navbar-form button {
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
  color: white;
}

.navbar a {
  width: 50%;
}

.container {
  width: 100%;
}

.list-group-item {
  background-color: black;
  color: white !important;
  border: none !important;
}

.container a {
  color: white;
}

.glyphicon-bell {
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

.pull-right li:first-child {
  color: white;
  background-color: black;
}

.pull-right li {
  height: 35px;
}

.nav-pills li {
  background-color: grey;
}

.nav-pills a {
  color: white;
}

.navbar img {
  width: 100%;
}

body {
  background-color: black;
}

.navbar-default {
  background-color: black;
  border: none;
}

.navbar-right a {
  color: white !important;
}
