<div class="panel">
  <h5>
    <%= "Deed:" %>
    <% title = deed.deed %>
    <%= raw "#{link_to title, deed}" if title %>
  </h5>
  <p class="supporting-date">Date: <%= ApplicationHelper.date_display(deed.occurrence_date) %></p>
</div>