<div class="panel">
  <h4><%= raw "#{link_to deed_list_item.deed, deed_list_item}" %></h4>
  
  <div class="row">
    <div class="large-6 columns">
      <% if deed_list_item.bioguide_id %>
        <% legislator = Legislator.where(bioguide_id: deed_list_item.bioguide_id).first %>
        <%= render partial: "legislators/legislator_stub_item", locals: {legislator: legislator, deed: deed_list_item} %>
      <% end %>
    </div>
    <div class="large-6 columns">
      <% if deed_list_item.bill_id %>
        <% bill = Bill.where(bill_id: deed_list_item.bill_id).first %>
        <%= render bill %>
      <% end %>
    </div>
  </div>
</div>