<div class="panel">
  <h5>
    <%= "Deed:" %>
    <%= raw "#{link_to deed.deed, deed}" if deed.deed %>
  </h5>
  <p class="supporting-date">Date: <%= ApplicationHelper.date_display(deed.date) %></p>
</div>