<h3>All Good Deeds</h3>

<% @results.each do |result| %>
  <% @deed = result %>
  <%= render partial: "deed_list_item", locals: {deed: @deed} %>
<% end %>
<%= "There are no good deeds to show" if @results.count == 0 %>

<hr />

<div style="text-align:center;"><%= will_paginate @results %></div>
<br />