<h2>All Good Deeds</h2>

<% @results.each do |result| %>
  <% @deed = result %>
  <%= render partial: "deed_list_item", locals: {deed: @deed} %>
<% end %>

<%= "There are no good deeds to show" if @results.count == 0 %>
