<h3>All Good Deeds</h3>

<%= render partial: "deed_list_item", collection: @results %>
<%= "There are no good deeds to show" if @results.count == 0 %>

<hr />

<div class="pagination"><%= will_paginate @results %></div>
