$font-face: "Arial";
$header-bg-color: #f1f1f1;
$header-border-color: #e5e5e5;
$sidebar-wdith: 15%;
$content-width: 100% - $sidebar-wdith;
$site-side-padding: 30px;
$pmail-red: #d84a38;
$pmail-blue: #4485f4;
