// Header Mixins

@mixin image-replacement-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Table Mixins

@mixin truncate-table-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
