/*------------------------------------*\
    #HELPERS - VARIABLES
\*------------------------------------*/

// Grid Variables

$pad: 1rem;

// Color Variables

$white: white;
$light-gray: rgb(241, 241, 241);
$blue: #4285f4;
