/*------------------------------------*\
    #HELPERS - VARIABLES
\*------------------------------------*/

// Grid Variables

$pad: 1rem;

// Color Variables

$white: white;

$off-black: rgb(34, 34, 34);

$light-gray: rgb(241, 241, 241);
$dark-gray: #cecfd5;
$light-gray-gradient: rgba(243,243,243,.85);

$blue: #4285f4;
$orange-red: #d14836;

