<div class="panel panel-default">
	  <div class="panel-heading">
			<h3 class="panel-title">Upcoming Events</h3>
	  </div>
	  <div class="panel-body">
        <%= render @events  %>
	  </div>
</div>
<div class="panel panel-default">
	  <div class="panel-heading">
			<h3 class="panel-title">Upcoming Events</h3>
	  </div>
	  <div class="panel-body">
        <%= render @venues  %>
	  </div>
</div>