<div class="panel panel-default col-xs-4">
	  <div class="panel-heading row">
			<h3 class="panel-title"><%= link_to "Upcoming Events", events_path %></h3>
	  </div>
	  <div class="panel-body">
        <%= render @events  %>
	  </div>
</div>
<div class="panel panel-default col-xs-4 col-xs-offset-1">
	  <div class="panel-heading row">
			<h3 class="panel-title"><%= link_to "Venues", venues_path %></h3>
	  </div>
	  <div class="panel-body">
        <%= render @venues  %>
	  </div>
</div>