.options-bar {
  min-width: 800px;
  border-bottom: 1px solid whitesmoke;
  height: 40px;
  font-size: 14px;
}

.options-links li {
  display: inline-block;
  position: relative;
  padding-left: 35px;
}

.dropdown-menu li {
  display: block;
  padding: 10px;
  white-space: nowrap;
  font-size: 14px;

  &:hover {
    background-color: whitesmoke;
  }
}

.mail-dropdown {
  width: 137px;
  color: $gmail-red;
  margin-top: 9px;
  font-size: 18px;

  button {
    background-color: #FFF;
  }
}

.options-bar-dropdown {
  min-width: 50px;
  min-height: 26px;
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  border-radius: 4px;
}