/* line 29, ../sass/pmail.sass */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 34, ../sass/pmail.sass */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

/* line 39, ../sass/pmail.sass */
a, button, input, select, textarea {
  outline: none;
}

/* line 42, ../sass/pmail.sass */
a {
  color: #111;
  text-decoration: none;
}

/* line 46, ../sass/pmail.sass */
button {
  background-color: #eee;
  border: none;
  font-size: 0.8em;
  min-height: 1.4em;
  min-width: 100px;
}
/* line 53, ../sass/pmail.sass */
button:active {
  background-color: #e1e1e1;
}

/* line 56, ../sass/pmail.sass */
input, select {
  border: thin solid;
  height: 1.25em;
  padding: 5px;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}

/* line 64, ../sass/pmail.sass */
input[type="checkbox"] {
  display: none;
}
/* line 67, ../sass/pmail.sass */
input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background: url(../images/input_sprite.png) left top no-repeat;
}
/* line 76, ../sass/pmail.sass */
input[type="checkbox"]:checked + label span {
  background: url(../images/input_sprite.png) left -19px no-repeat;
}

/* line 79, ../sass/pmail.sass */
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 85, ../sass/pmail.sass */
.main-pane {
  display: block;
  float: right;
  font-size: 0.9em;
  height: 100%;
  padding: 0;
  vertical-align: top;
}
/* line 93, ../sass/pmail.sass */
.main-pane > * {
  min-width: 600px;
}

/* line 96, ../sass/pmail.sass */
.message-list {
  padding-top: 5px;
  height: 100%;
  width: 99%;
}
/* line 101, ../sass/pmail.sass */
.message-list .message {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-left: 2px dotted transparent;
  cursor: pointer;
  display: flex;
  max-height: 1.2em;
  margin: 0;
  padding: 4px 0;
  width: 100%;
}
/* line 111, ../sass/pmail.sass */
.message-list .message .message-actions, .message-list .message .message-field {
  display: table-cell;
  padding: 2px 10px;
}
/* line 116, ../sass/pmail.sass */
.message-list .message .message-field.date {
  width: 100px;
  text-align: right;
}
/* line 120, ../sass/pmail.sass */
.message-list .message .message-field.subject {
  flex-grow: 1;
}
/* line 123, ../sass/pmail.sass */
.message-list .message .message-field.from {
  width: 200px;
}

/* line 126, ../sass/pmail.sass */
.topbar {
  border-bottom: thin solid;
  display: flex;
  flex-direction: row;
  min-height: 52px;
  min-width: 800px;
  width: 100%;
  vertical-align: middle;
}
/* line 135, ../sass/pmail.sass */
.topbar.topbar-primary {
  height: 59px;
  vertical-align: middle;
}
/* line 139, ../sass/pmail.sass */
.topbar > * {
  vertical-align: middle;
}
/* line 142, ../sass/pmail.sass */
.topbar button {
  border-radius: 2px;
  padding: 3px 10px;
}

/* line 147, ../sass/pmail.sass */
.topbar-links {
  height: 50px;
  padding: 0 1em;
  -webkit-padding-start: 0;
}
/* line 153, ../sass/pmail.sass */
.topbar-links > ul {
  padding: 1em 0;
  vertical-align: middle;
}
/* line 157, ../sass/pmail.sass */
.topbar-links li {
  display: inline-block;
  margin-left: 2em;
  position: relative;
}

/* line 162, ../sass/pmail.sass */
.sidebar {
  display: block;
  float: left;
  max-width: 200px;
  margin: 0;
  text-align: center;
  width: 200px;
}
/* line 170, ../sass/pmail.sass */
.sidebar .sidebar-main {
  padding-top: 10px;
}
/* line 173, ../sass/pmail.sass */
.sidebar button {
  border: none;
  border-radius: 4px;
  font-size: 0.8em;
  padding: 5px;
  text-transform: uppercase;
  width: 80%;
}
/* line 181, ../sass/pmail.sass */
.sidebar ul.sidebar-links {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.9em;
  margin: 0;
  padding: 5px 0;
  text-align: left;
  width: 100%;
}
/* line 189, ../sass/pmail.sass */
.sidebar ul.sidebar-links:not(:first-of-type) {
  border-top: thin solid #ccc;
}
/* line 192, ../sass/pmail.sass */
.sidebar ul.sidebar-links li {
  border-left: 4px solid transparent;
  display: block;
  margin: 0.2em 0;
  padding-left: 20px;
}

/* line 198, ../sass/pmail.sass */
.search-form {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 0.8em;
}
/* line 205, ../sass/pmail.sass */
.search-form input[type="search"] {
  border: none;
  flex: 1;
  max-height: 32px;
  padding: 0;
}
/* line 211, ../sass/pmail.sass */
.search-form input[type="search"]:focus {
  border: none;
}
/* line 214, ../sass/pmail.sass */
.search-form button[type="submit"] {
  border: none;
  border-radius: 0 4px 4px 0;
  float: right;
  height: 34px;
  min-width: 50px;
}

/* line 221, ../sass/pmail.sass */
.search-box {
  border: thin solid;
  display: inline-flex;
  flex-direction: row;
  flex: 1;
  height: 32px;
  max-height: 32px;
  max-width: 598px;
  margin: 0;
}
/* line 231, ../sass/pmail.sass */
.search-box input {
  margin: 5px;
}
/* line 234, ../sass/pmail.sass */
.search-box input:focus {
  border: thin solid;
}
/* line 237, ../sass/pmail.sass */
.search-box a.dropdown-toggle {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  outline: none;
  text-align: center;
}
/* line 244, ../sass/pmail.sass */
.search-box a.dropdown-toggle:not(:hover) {
  color: #999;
}

/* line 248, ../sass/pmail.sass */
.brand {
  background-image: url("../images/logo.gif");
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 30px;
  height: 59px;
  width: 149px;
}

/* line 256, ../sass/pmail.sass */
.dropdown-panel {
  border: thin solid;
  margin: 0;
  position: absolute;
  z-index: 10;
}
/* line 262, ../sass/pmail.sass */
.dropdown-panel.center {
  width: 300px;
  left: -150px;
}
/* line 267, ../sass/pmail.sass */
.dropdown-panel.right {
  right: 0;
}
/* line 270, ../sass/pmail.sass */
.dropdown-panel .dropdown-menu {
  font-size: 0.9em;
  list-style: none;
}
/* line 274, ../sass/pmail.sass */
.dropdown-panel .dropdown-menu li {
  display: block;
  margin: 0;
}
/* line 278, ../sass/pmail.sass */
.dropdown-panel .dropdown-menu li a {
  display: block;
  margin: 0;
  padding: 5px;
}
/* line 283, ../sass/pmail.sass */
.dropdown-panel .dropdown-menu li a:hover {
  background-color: #eefafa;
}

/* line 286, ../sass/pmail.sass */
.hidden {
  display: none;
}

/* line 290, ../sass/pmail.sass */
.dropdown-toggle .fa-caret-up {
  display: none;
}
/* line 294, ../sass/pmail.sass */
.dropdown-toggle.active .fa-caret-up {
  display: inline;
}
/* line 296, ../sass/pmail.sass */
.dropdown-toggle.active .fa-caret-down {
  display: none;
}

/* line 300, ../sass/pmail.sass */
body {
  background: #fff;
}

/* line 304, ../sass/pmail.sass */
button.primary-button {
  background-color: #0066ff;
  color: #fff;
}
/* line 311, ../sass/pmail.sass */
button.primary-button:hover, button.primary-button:focus {
  background-color: #005ce6;
}
/* line 313, ../sass/pmail.sass */
button.primary-button:active {
  background-color: #0052cc;
}

/* line 304, ../sass/pmail.sass */
button.secondary-button {
  background-color: #00a352;
  color: #fff;
}
/* line 311, ../sass/pmail.sass */
button.secondary-button:hover, button.secondary-button:focus {
  background-color: #008a45;
}
/* line 313, ../sass/pmail.sass */
button.secondary-button:active {
  background-color: #007038;
}

/* line 316, ../sass/pmail.sass */
input, select {
  background-color: #fff;
  border-color: #ccc;
}

/* line 320, ../sass/pmail.sass */
input:focus {
  border-color: #0066ff;
}

/* line 325, ../sass/pmail.sass */
ul.sidebar-links li:hover {
  background-color: #eefafa;
}
/* line 328, ../sass/pmail.sass */
ul.sidebar-links li.active {
  border-color: #0066ff;
}
/* line 331, ../sass/pmail.sass */
ul.sidebar-links li.active a {
  color: #0066ff;
  font-weight: bold;
}

/* line 335, ../sass/pmail.sass */
.dropdown-panel {
  background-color: #fff;
  border-color: #ccc;
}

/* line 339, ../sass/pmail.sass */
.search-box {
  background-color: #fff;
  border-color: #ccc;
}
/* line 343, ../sass/pmail.sass */
.search-box.focus {
  border-color: #0066ff;
}

/* line 346, ../sass/pmail.sass */
.topbar {
  border-color: #ccc;
}

/* line 349, ../sass/pmail.sass */
.topbar-primary {
  background-color: #eee;
}

/* line 352, ../sass/pmail.sass */
.message {
  background-color: #eee;
  border-bottom: thin solid #ccc;
  font-size: 0.9em;
  min-height: 1.5em;
}
/* line 358, ../sass/pmail.sass */
.message.new {
  font-weight: bold;
}
/* line 361, ../sass/pmail.sass */
.message.active {
  background-color: #eefafa;
}
/* line 364, ../sass/pmail.sass */
.message:hover {
  border-left: 2px dotted #ccc;
}

/* line 367, ../sass/pmail.sass */
footer {
  display: flex;
  font-size: 0.8em;
  line-height: 1.4em;
  margin: 2em;
}
/* line 373, ../sass/pmail.sass */
footer a {
  text-decoration: underline;
}
/* line 378, ../sass/pmail.sass */
footer .line.segmented > span:after {
  content: " - ";
}
/* line 381, ../sass/pmail.sass */
footer .line.segmented > span:last-child:after {
  content: "";
}
/* line 384, ../sass/pmail.sass */
footer > .middle {
  flex: 1;
  text-align: center;
}
/* line 388, ../sass/pmail.sass */
footer > .right {
  text-align: right;
}
