.sidebar {
  display: block;
  max-width: $sidebar-width;
  margin: 0;
  width: $sidebar-width;
  font-size: 14px;

  .active {
    border-left: 5px solid $gmail-red;
    color: $gmail-red;
  }

  button {
    border: none;
    border-radius: 2px;
    margin-left: 35px;
    text-transform: uppercase;
    width: 70%;
    height: 30px;
    margin-top: 10px;
    background-color: $gmail-red;
    font-weight: 600;
    color: white;
    font-size: 11px;
  }

  li {
    margin: 5px 0;
    padding: 5px 5px 5px 30px;

    &:not(.active) {
      border-left: 5px solid transparent;
    }

    &:hover {
      background-color: whitesmoke;
    }
  }
}

.more-list {
  border-top: 2px solid whitesmoke;
}