@import "bootstrap-sprockets";
@import "bootstrap";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Bootstrap style overrides */
.navbar-inverse {
  background-color: #555;
  border-color: #444;
}

hr {
  border-top-color: #ccc;
}

/* App styles */
#errors ul {
  list-style-type: none;
}

#logo {
  color: #fff;
  font-size: 1.7em;
  font-weight: bold;
  &:hover {
    color: #ccc;
  }
}

.big-quote {
  padding-right: 50px;
}

.blue {
  color: #337ab7;
}

.center {
  text-align: center;
}

.field_with_errors {
  input {
    background-color: #f2dede;
  }
  label {
    color: #a94442;
  }
}

.form-title {
  margin: 30px 0;
  text-align: center;
}

.gravatar-big {
  height: 80px;
  margin-right: 8px;
  width: 80px;
}

.gravatar-small {
  height: 40px;
  margin-right: 8px;
  width: 40px;
}

.jumbotron h1 {
  font-weight: bold;
}

.quoter {
  color: #888;
  font-size: 1.1em;
}

.table-venue {
  width: 100%;
  thead > tr > th {
    background-color: #ddd;
  }
}

.taglines {
  margin-top: 15px !important;
  margin-bottom: 25px !important;
}

.user-info {
  font-size: 16px;
  margin: 5px 0;
}

.venue-icon-64 {
  background-color: #aaa;
  width: 64px;
  height: 64px;
}

.venue-icon-32 {
  background-color: #aaa;
  width: 32px;
  height: 32px;
}

.venue-info {
  margin-left: 15px;
}

.venue-link {
  font-weight: bold;
}

.venue {
  margin: 0;
  font-size: 16px;
}

.venue-name {
  font-weight: bold;
}
