%table.table.table-condensed.table-striped
  %thead
    %tr
      %th EVE ID
      %th Name
      %th
  %tbody
    - @stations.each do |station|
      %tr
        %td= station.in_game_id
        %td= station.name
        %td= link_to("View orders", controller: "orders", action: "search", station: station, html_options: { class: "btn btn-info" })
= paginate @stations
