= paginate @stations
%table.table.table-condensed.table-striped
  %thead
    %tr
      %th EVE ID
      %th Name
      %th
  %tbody
    - @stations.each do |station|
      %tr
        %td.field-in_game_id= station.in_game_id
        %td.field-name= station.name
        %td
= paginate @stations
