
body {
  margin:0px;
}
.body_content {
  float: right;
  width: 100px ;
}
/*BANNER CONTENTS*/
.banner {
  background:url('../img/logo.png') no-repeat;
  background-color:#F2F2F0;
  background-image:url('../img/logo.png');
  background-repeat:no-repeat;
  border: 1px solid;
  color: #F2F2F0;
  min-width: 750px;
  padding: 15px
}

.bannertextbox {
  border:1px;
  height:28px;
  margin-left:155px;
  margin-right: 0px;
  width:570px;
}

.pmailsearch {
  height:28px;
  width:60px;
  padding:10px;
  background-color: #4d90fe;
  border-bottom-right-radius:4px;
  border-top-right-radius:4px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border: 1px solid #4d90fe;
  width: 60px;
  height: 28px;
  margin-left: 0px;
}
/*NAV-BANNER*/
.nav_banner {
  border: 1px solid;
  color: #c9c9c9;
  height: 30px;
  padding: 10px;
  min-width: 750px;
}

.selectdiv {
  left: 0px;
  position:absolute;
  top: 0px;
}

.mail {
  color: #CD2309;
  background-color: white;
  border: none;
  font-size: 115%;
  height: 25px;
  margin-left: 10px;
  width: 55px;
}

.select {
  background-color: #f4f4f4;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  height: 30px;
  margin-left: 90px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 55px;
}

.tooltip {
  display: none;
}

.refresh {
  background-color: #f4f4f4;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  height: 30px;
  margin-left: 10px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 55px;
}

.more {
  background-color: #f4f4f4;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  height: 30px;
  margin-bottom: 15px;
  margin-left: 10px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 55px;
}

.settings {
  background-color: #f4f4f4;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  float: right;
  height: 30px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 55px;
}

.newer {
  background-color: #f4f4f4;
  border: 1px solid #c9c9c9;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  float: right;
  height: 30px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 27px;
}
  
.older {
  background-color: #f4f4f4;
  border: 1px solid #c9c9c9;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  height: 30px;
  margin-right: 15px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 27px;
 }

.select:hover:after {
  background: black;
  color: white;
  content: attr(data-role);
  left: 16em;
  padding: 10px;
  position: absolute;
  top: 10em;
}

.refresh:hover:after {
  content:attr(data-role);
  position: absolute;
  top: 10em;
  left: 22em;
  background: black;
  color: white;
  padding: 10px;
}

button span:hover:after {
  border-bottom: 1em solid black;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid transparent;
  content:"";
  height: 0;
  left: 15em;
  position: absolute;
  top: 70em;
  width: 0;
}

.button-text {
  display: none;
}
  /*MAIN CONTENT*/
.main_content {
  border: 1px;
  float: right;
  width: 586px;
}

/*SIDE BAR*/

.active {
  color: #dd4b39;
  font-weight: bold;
}

.float-bar {
  border-color: #dd4b39;
}

.compose {
  color: white;
  background-color: #dd4b39;
  border: 1px solid #ae4553;
  border-radius: 4px;
  font-weight: bold;
  height: 29px;
  margin-top: 10px;
  margin-left: 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  width: 115px;
 }

ul {
  list-style-type: none;
  padding-left: 0px;
}

ul li {
  border-left: 5px solid transparent;
  cursor: default;
  height: 20px;
  line-height: 170%;
  padding-left: 20px;
}

ul li div {
  display: inline-block;
}

.menu {
  font-family: Arial;
  font-size: 80%;
}
