!!!
%html
  %head
    %title OVERLORD
    %style
      ! .unbooted { color: #33892E }
      ! .deactivated { color: #D4C76A }
      ! .activated, .exploded { color: #880000 }
  %body
    %h1 OVERLORD
    #content
      =yield