<div id="BottomBar">
  <h2>This is the last thing you see</h2>
  <div class="row">
    <div class="col-xs-4">
      <h4>More about:</h4>
      <ul>
        <li>The bottom of the page</li>
        <li>Sweet nothings</li>
        <li>Monkeys</li>
        <li>Dead monkeys</li>
        <li>Monkey recipes</li>
        <li>Primate fixation help</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <h4>Other things</h4>
      <ul>
        <li>Random horoscope</li>
        <li>Tell your friends</li>
        <li>Rate us!</li>
        <li>Send us your praise</li>
        <li><small class="hard-to-see">Complaints</small></li>
      </ul>
    </div>
    <div class="col-xs-4">
      <h4>Corporate</h4>
      <ul>
        <li>Opportunities</li>
        <li>Mission and Vision</li>
        <li>Investor Deceptions</li>
        <li>Artfully Inflated Prospectus</li>
        <li>Why we rule and you don't</li>
      </ul>
    </div>
  </div>
</div>
