<div id="PageTitle" class="row">
  <div id="PageTitleHeader" class="col-xs-12 col-sm-7">
    <h1 class="page-title">What's Up In Chicago</h1>
  </div>
  <div id="PageTitleGraphic" class="col-md-5 hidden-xs">
    <img src="<%= image_path("chicago-flag-star.svg") %>" class="chicago-flag-star">
    <img src="<%= image_path("chicago-flag-star.svg") %>" class="chicago-flag-star">
    <img src="<%= image_path("chicago-flag-star.svg") %>" class="chicago-flag-star">
    <img src="<%= image_path("chicago-flag-star.svg") %>" class="chicago-flag-star">
  </div>
</div>
