<div id="TopBar" class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <%= render "shared/page_title" %>
    </div>
    <div class="col-md-2">
      <%= render "shared/login_pane" %>
    </div>
  </div>
</div>
