<header>
  <div style="float:right;">
    <%=
      sort_options = [["Newly Added", "created_at"],
                      ["Term Start", "term_start"],
                      ["Last Name", "last_name"],
                      ["First Name", "first_name"]]
      select("sort",
             "by",
             sort_options,
             { prompt: "Sort by...", selected: params["sort_by"] },
             { :onchange => "window.location.href = '/legislators?sort_by=' + document.getElementById('sort_by').value;"})
    %>
  </div>

  <h3>All Legislators</h3>
</header>

<% @results.each do |result| %>
  <div><%= render result %></div>
<% end %>
<%= "There are no legislators to show" if @results.count == 0 %>

<hr />

<div class="pagination"><%= will_paginate @results %></div>
