---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/freebase/v1/search?key=AIzaSyAYmdqHNNXNETdLUaXaYOZXIKTTvnOByhk&lang=en&limit=10&query=really%20wierd%20unknown%20string%20no%20one%20uses
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment
      Etag:
      - ! '"UehxEFcjzflMW6jGml15RaD240Q/MFkSnY1-vw88-b4GMSZJC-vsPTU"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: US-ASCII
      string: ! '{"status":"200 OK","result":[],"cost":4,"hits":0}'
  recorded_at: Sat, 22 Nov 2014 22:49:39 GMT
recorded_with: VCR 2.9.3
