body {
  min-width: 30rem; // Set if a min-width is needed
}

//Float all columns to the left
[class*='col-'] {
  float: left;
  padding-right: $pad;

  // except the right-most column has no right padding
  .grid-pad &:last-of-type, &:last-of-type {
    padding-right: 0;
  }
}

.col-right {
  float: right;
}

.grid-pad {
  padding: $pad;

  // padding values of grid elements
  > section, > footer {
      padding: $pad 5% $pad*2 5%;
  }

}

//Column widths
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 100%;
  @include bp(delta) {
    width: 50%;
  }
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}
.col-1-5 {
  width: 20%;
}
.col-3-5 {
  width: 60%;
}

.fixed-side-col {
  width: 13em;
}



// Insert any exceptions here

