/*------------------------------------*\
    #LAYOUT - MAIN CONTENT
\*------------------------------------*/

.main-content {

  .email-container {
    position: absolute;
    left: 13rem;
    margin-right: 2rem;
  }
}
