/*------------------------------------*\
    #LAYOUT - MEDIA QUERIES
\*------------------------------------*/

@mixin bp($point) {

  $bp-alpha: "(min-width: 5rem)";
  $bp-beta: "(min-width: 10rem)";
  $bp-gamma: "(min-width: 15rem)";
  $bp-delta: "(min-width: 20rem)";
  $bp-epsilon: "(min-width: 50rem)";

  @if $point == alpha {
    @media #{$bp-alpha} { @content; }
  }
  @else if $point == beta {
    @media #{$bp-beta} { @content; }
  }
  @else if $point == gamma {
    @media #{$bp-gamma} { @content; }
  }
  @else if $point == delta {
    @media #{$bp-delta} { @content; }
  }
  @else {
    @media #{$bp-epsilon}  { @content; }
  }
}
