#code-error {
  padding: 5px;
  margin: 20px;
  font-weight: bold;
  background: #990000;
  color: white;
  border: 1px solid #ccc;
}

#provision-bomb {
  margin-top: 15px;
}

.panel-body {
  font-size: 18px;
}

.bomb-panel {
  margin-top: 5%;

  .panel-title {
    font-size: 24px;
  }
}
