/*------------------------------------*\
    #COMPONENTS - MAIN
\*------------------------------------*/

// Components are common elements such as borders, forms, etc.

@mixin border {
  border: 1px black solid;
}
