/*------------------------------------*\
    #COMPONENTS - EMAIL CONTROLS
\*------------------------------------*/

.email-controls {
  padding: .5rem 0;
  border-bottom: 1px $dark-gray solid;

  div {

    &:first-of-type {
      float: left;
    }
    &:last-of-type {
      float: right;
    }
  }
}
