/*------------------------------------*\
    #COMPONENTS - MODULE
\*------------------------------------*/

// Modules are the elements that are within header, section and footer elements; these include articles and divs

.module {
    padding: 1rem 0;
}
