%li.email-entry
  %a{ href: '#' }
    .email-selectors
      %input{ type: "checkbox"}
    .email-sender
      Larry Page
    .email-subject
      I Thought I saw Steve at Whole Foods
    .email-time
      3 Days ago
