%li.email-entry
  %a{ href: '#' }
    .email-selectors
      %input{ type: "checkbox"}
    .email-sender
      Steve Wozniak
    .email-subject
      Saw a Mercedes SL55 Without A Plate.
    .email-time
      4 Days ago
