%li.email-entry
  %a{ href: '#' }
    .email-selectors
      %input{ type: "checkbox"}
    .email-sender
      John Smith
    .email-subject
      YOU WON A FREE VACATION REPLY WITH SSN!
    .email-time
      5 Days ago
