%li.email-entry
  %a{ href: '#' }
    .email-selectors
      %input{ type: "checkbox"}
    .email-sender
      Steve Jobs
    .email-subject
      Is The Coast Clear? Can I Stop Hiding?
    .email-time
      yesterday
