%li.email-entry
  %a{ href: '#' }
    .email-selectors
      %input{ type: "checkbox"}
    .email-sender
      Bill Gates
    .email-subject
      Please Run Microsoft For Me
    .email-time
      NOW
