<div id="welcome-banner">Welcome to the greatest weather service of all time<%= render "partials/user_links" %><%= render "partials/settings_link" %></div>
<%= render "partials/daily_weather" %>
<%= render "partials/three_hour_weather" %>
