.home
  .row
  .row
  .row
    .quote.col.s10.offset-s1
      %h6 Date: July 15, 1777
      %h5 "We should never despair, our Situation before has been unpromising and has changed for the better, so I trust, it will again. If new difficulties arise, we must only put forth new Exertions and proportion our Efforts to the exigency of the times." - George Washington
    .col.s4.offset-s1
      .card-panel.home-panel
        .row
          .col.s12
            %h4 Congress desperately needs some good news, but don't give up on them. Good Deeds helps you find their silver linings.
            .row
              %a.waves-effect.waves-light.btn.blue{href: '/good_deed'} Find a good deed
