<div id="welcome-banner">Welcome to the greatest weather service of all time<%= render "partials/user_links" %></div>
<%= render "partials/day_weather" %>
<%= render "partials/week_weather" %>
<%= render "partials/settings_link" %>