<footer class="footer-2">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="https://leveluprails.com/">Level Up</a></li>
      <li><a href="https://github.com/paulh16">My Github</a></li>
      <li><a href="https://www.enova.com/">Enova International</a></li>
    </ul>
</footer>
