!!!
%html
  %head
    %title Bomb Client v1.0
    %script{type: "text/javascript", src: "jquery-2.1.4.min.js"}
    %script{type: "text/javascript", src: "overlord.js"}
  %body
    .banner
      .title
        Bomb Controller
      .toolbar
        .button_bar
          %button.button#bomb_reset_btn
            Reset Bomb
          .status
    .main
      .button_bar
        %button.button#bomb_boot_btn
          Boot Bomb
        .status
      .text_bar#activation_key
        .title
          activation key
        %input.textbox
        %button.button
          submit
        .status
      .text_bar#deactivation_key
        .title
          deactivation key
        %input.textbox
        %button.button
          submit
        .status
      .text_bar#submit_code
        .title
          submit code
        %input.textbox
        %button.button
          submit
        .status
      #bomb_state
        off
      #timer
        0:00
