!!!
%html
  %head
    %title Bomb Client v1.0
    %script{type: "text/javascript", src: "jquery-2.1.4.min.js"}
    %script{type: "text/javascript", src: "overlord.js"}
  %body
    .banner
      .title
        Bomb Controller
      .toolbar
        .button_bar
          %button.button#bomb_reset_btn
            Reset Bomb
          .status
    .main
      .button_bar
        %button.button#bomb_boot_btn
          Boot Bomb
        .status
      #bomb_state
        off
