<div id="bar-top">
  <img id="logo" src='https://www.google.com/a/enova.com/images/logo.gif'/>

  <form>
	<div id="search-field-div">
	  <input type='text' id="search-field"/>
	</div>
	<div id="search-button-div">
	  <input type='submit' id="search-button" value=""/>
	</div>
  </form>

  <div id="apps-button-div">
  </div>
</div>
