<div id="bar-top-gray">
  <img id="logo" src='https://www.google.com/a/enova.com/images/logo.gif'/>

  <div id="search-field-div">
	<input type='text' id="search-field"/>
  </div>

  <div id="search-options-div">
	<div class="tooltip">Search Options</div>
  </div>

  <div id="search-button-div">
	<input type='submit' id="search-button" value=""/>
  </div>

  <div id="apps-button-div">
	<div class="tooltip">Apps</div>
  </div>

  <div id="manage-account">cdevel@enova.com
	<div id="manage-account-menu"></div>
  </div>
</div>

<div id="bar-top-white">
  <div id="mail-options-button-div">
	Mail
	<div id="mail-options-list-div">
	  <ul>
		<li>Mail</li>
		<li><a href="#">Contacts</a></li>
		<li><a href="http://www.google.com">Tasks</a></li>
	  </ul>
	</div>
  </div>
</div>
