<section id="bar-top-gray">
  <img id="logo" src='https://www.google.com/a/enova.com/images/logo.gif'/>

  <div id="search-field-div">
	<input type='text' id="search-field"/>
	<div id="search-options-menu-div">
	  <span class="item-label">From</span><br>
	  <input class="item-input" type='text' value=""/><br>
	  <span class="item-label">To</span><br>
	  <input class="item-input" type='text' value=""/><br>
	  <span class="item-label">Has the words</span><br>
	  <input class="item-input" type='text' value=""/><br>
	  <span class="item-label">Doesn't have</span><br>
	  <input class="item-input" type='text' value=""/><br>
	  <br>
	  <input type='checkbox'>
	  <span class="item-label">Has attachment</span><br>
	  <br>
	  <input type='checkbox'>
	  <span class="item-label">Don't include chats</span><br>
	</div>
  </div>

  <div id="search-options-div">
	<div class="tooltip">Search Options</div>
  </div>

  <div id="search-button-div">
	<input type='submit' id="search-button" value=""/>
  </div>

  <div id="apps-button-div">
	<div class="tooltip">Apps</div>
  </div>

  <div id="manage-account">cdevel@enova.com
	<div id="manage-account-menu">

	  <div class="header">		  
		This class is managed by <b>enova.com</b><br>
		<a href="#">Learn more</a>
	  </div>

	  <div class="user-info">
		<span class="fullname"><b>Curious Developer</b></span><br>
		<span class="email">cdevel@enova.com</p></span>
	  </div>

	  <div class="lower-bar">
		<div class="settings"><a href="#">Settings</a></div>
		<div class="logout"><a href="#">Logout</a></div>	  
	  </div>
	</div>
  </div>
</section>

<section id="bar-top-white">
  <div id="mail-options-button-div">
	<div class="label">Mail</div>
	<div class="down-arrow"></div>
	<div id="mail-options-list-div">
	  <ul>
		<li>Mail</li>
		<li><a href="#">Contacts</a></li>
		<li><a href="#">Tasks</a></li>
	  </ul>
	</div>
  </div>

  <div id="mail-item-selection-div">
	<input type='checkbox' class="check-all"/>
	<div class="down-arrow"></div>
	<div id="mail-item-selection-options-div">
	  <ul>
		<li class="all">All</li>
		<li class="none">None</li>
		<li class="read">Read</li>
		<li class="unread">Unread</li>
		<li class="starred">Starred</li>
		<li class="unstarred">Unstarred</li>
	  </ul>
	</div>
  </div>

  <div id="refresh-div">
	<a href="#"></a>
  </div>

  <div id="mark-all-as-read-div">	
	<div class="label">More</div>
	<div class="down-arrow"></div>
	<div id="mark-all-as-read-menu-div">
	  <div class="option">Mark all as read</div>
	</div>
  </div>

  <div id="settings-div">
	<div id="settings-menu-div">
	  <ul>
		<li class="density">Comfortable</li>
		<li class="density">Cozy</li>
		<li class="density">Compact</li>
		<li><span class="separate">Configure Inbox</span></li>
		<li>Settings</li>
		<li>Themes</li>
		<li>Help</li>
	  </ul>
	</div>
  </div>
</section>

<nav id="bar-left-white">
  <div id="compose-button">COMPOSE</div>
  <ul id="folders">
	<li>Inbox</li>
	<li>Starred</li>
	<li>Sent Mail</li>
	<li>Drafts</li>
  </ul>
</nav>

<!-- This is a mock-up -->
<% mail_items = [] %>
<% 10.times do %>
<%   mail_items << {from: 'cohort', subject: 'Did you visit that page?', text: 'I think we should start looking at different possibilities for our own site', time: '9:26am'} %>
<%   mail_items << {from: 'David Wallace', subject: 'We need to talk', text: "Do you really know for sure if what they're saying is true because it doesn't make sense", time: '9:14am'} %>
<%   mail_items << {from: "Men's Wearhouse", subject: "Don't miss 50% off everything", text: "Dear Customer, We value your business and simply cannot let you miss this great one-day sale", time: '9:08am'} %>
<% end %>

<section id="mail-items-div">
  <table class="table">
	<% mail_items.each do |item| %>
	<tr>
	  <td class="checkbox"><input type='checkbox'>
	  </td>
	  <td class="starred">
	  </td>
	  <td class="from"><%= item[:from] %>
	  </td>
	  <td class="subject">
		<%= item[:subject] %>
		<span class="text"><%= item[:text] %></span>
	  </td>
	  <td class="date-time"><%= item[:time].truncate(20) %>
	  </td>
	</tr>
	<% end %>
  </table>
</section>
