<div class="bar-top-gray">
  <img class="logo" src='https://www.google.com/a/enova.com/images/logo.gif'/>

  <div class="search">
	<input type='text' class="text"/>
	<div class="down-arrow has-tooltip has-popup-sibling" data-tip="Search Options">
	</div>
	<div class="button">
	  <input type='submit' value=""/>
	</div>
	<div class="menu popup">
	  <span class="label">From</span><br>
	  <input class="text" type="text" value=""/><br>

	  <span class="label">To</span><br>
	  <input class="text" type="text" value=""/><br>

	  <span class="label">Has the words</span><br>
	  <input class="text" type="text" value=""/><br>

	  <span class="label">Doesn't have</span><br>
	  <input class="text" type="text" value=""/><br>

	  <br>
	  <input class="check" type="checkbox" value=""/>
	  <span class="label">Has attachment</span><br>

	  <br>
	  <input class="check" type="checkbox" value=""/>
	  <span class="label">Don't include chats</span><br>

	  <br>
	</div>
  </div>


  <div class="grid-button has-tooltip" data-tip="Apps">
  </div>

  <div class="manage-account has-popup">
	<div class="label">cdevel@enova.com</div>
	<div class="menu popup">
	  <div class="header">		  
		This class is managed by <b>enova.com</b><br>
		<a href="#">Learn more</a>
	  </div>

	  <div class="body">
		<span class="fullname"><b>Curious Developer</b></span><br>
		<span class="email">cdevel@enova.com</p></span>
	  </div>

	  <div class="footer">
		<div class="settings"><a href="#">Settings</a></div>
		<div class="logout"><a href="#">Logout</a></div>	  
	  </div>
	</div>
  </div>
</div>

<div class="bar-top-white">
  <div class="mail-options has-popup">
	<div class="label">Mail</div>
	<div class="down-arrow"></div>
	<div class="menu popup">
	  <ul>
		<li>Mail</li>
		<li><a href="#">Contacts</a></li>
		<li><a href="#">Tasks</a></li>
	  </ul>
	</div>
  </div>

  <div class="mail-selection has-tooltip" data-tip="Select">
	<input class="check-all" type='checkbox'/>
	<div class="down-arrow has-popup-sibling"></div>
	<div class="options popup">
	  <ul>
		<li class="all">All</li>
		<li class="none">None</li>
		<li class="read">Read</li>
		<li class="unread">Unread</li>
		<li class="starred">Starred</li>
		<li class="unstarred">Unstarred</li>
	  </ul>
	</div>
  </div>

  <div class="refresh has-tooltip" data-tip="Refresh">
	<a href="#"></a>
  </div>

  <div class="more has-popup">	
	<div class="label">More</div>
	<div class="down-arrow"></div>
	<div class="menu popup">
	  <div class="option">Mark all as read</div>
	</div>
  </div>

  <div class="settings has-popup has-tooltip" data-tip="Settings">
	<div class="menu popup">
	  <ul>
		<li class="density select-one selected">Comfortable</li>
		<li class="density select-one">Cozy</li>
		<li class="density select-one">Compact</li>
		<li><span class="separate">Configure Inbox</span></li>
		<li>Settings</li>
		<li>Themes</li>
		<li>Help</li>
	  </ul>
	</div>
  </div>
</div>

<div class="bar-left-white">
  <div class="accent-button">COMPOSE</div>
  <ul class="folders">
	<li class="select-one selected">Inbox</li>
	<li class="select-one">Starred</li>
	<li class="select-one">Sent Mail</li>
	<li class="select-one">Drafts</li>
  </ul>
</div>

<!-- This is a mock-up -->
<% mail_items = [] %>
<% 10.times do %>
<%   mail_items << {from: 'cohort', subject: 'Did you visit that page?', text: 'I think we should start looking at different possibilities for our own site', time: '9:26am'} %>
<%   mail_items << {from: 'David Wallace', subject: 'We need to talk', text: "Do you really know for sure if what they're saying is true because it doesn't make sense", time: '9:14am'} %>
<%   mail_items << {from: "Men's Wearhouse", subject: "Don't miss 50% off everything", text: "Dear Customer, We value your business and simply cannot let you miss this great one-day sale", time: '9:08am'} %>
<% end %>

<div class="mail-items">
  <table>
	<% mail_items.each do |item| %>
	<tr>
	  <td class="checkbox"><input type='checkbox'>
	  </td>
	  <td class="star">
	  </td>
	  <td class="from"><%= item[:from] %>
	  </td>
	  <td class="subject">
		<%= item[:subject] %>
		<span class="text"><%= item[:text] %></span>
	  </td>
	  <td class="date-time"><%= item[:time].truncate(20) %>
	  </td>
	</tr>
	<% end %>
  </table>
</div>
