<% if !user_signed_in? %>
<div class="center jumbotron">
  <h1>Welcome to Critique</h1>
  <p><%= link_to "Sign Up to Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>

<div class="center jumbotron">
	<% @movies.each do |movie| %>
		<% @movie = movie %>
		<%= link_to image_tag( movie.poster_path, class: "thumbnails" ), controller: "movies", action: "new", id: @movie %>
	<% end %>
</div>

