- @question = @page.content
- if flash[:danger]
  .alert{class: "alert-danger alert-dismissible", role: "alert"}
    %button{type: "button", class: "close", data:{dismiss:"alert"}} &times;
    = flash[:danger]
= @question
= form_for @question, url: submit_answer_multiple_choice_question_path(@question), method: :post do |f|
  - @question.answers.each do |answer|
    .form-group
      = f.submit value: answer.text, name: 'answer', class: 'btn btn-primary'
