$page-color: #ffffff;
$chicago-blue: #0f0fff;
$deep-chicago-blue: $chicago-blue - #0f0f33;
$light-chicago-blue: $chicago-blue + #c0c000;

@font-face {
  font-family: fancypants;
  src: url('SavoyeLetPlain.ttf');
}


