body {
  background-color: #fff5e5;
  font: 12px arial, sans-serif;
}

.container {
  padding: 10px;
}

#TopBar {
  display: block;
  position: relative;
  height: 75px;
  border: 1px dotted black;
}

#PageTitle {
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
  width: 700px;
}

#LoginPane {
  display: inline-block;
  float: right;
  margin-left: auto;
  width: 300px;
}

#BodyArea {
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
  align-items: stretch;
}

#LeftBar {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  border: 1px dotted black;
}

#MainContent {
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  vertical-align: top;
  border: 1px dotted black;
  padding-left: 340px;
}

#BottomBar {
  position: static;
}
