<li class="user-deck" id="deck-<%= deck.id %>">
  <%= link_to deck.name, deck, class: "deck-name btn" %>
  <%= link_to "Destroy", "#", class: "destroy btn" %>
  <%= link_to "Edit", "#", class: "edit btn" %>
</li>
