<% provide(:title, "Brewing Your Deck") %>
<div class="divide in-your-deck">
  <h2>Currently in your deck</h2>
  <%= render @deck.cards, deck: @deck %>
</div>

<div class="divide search-for-deck">
  <h2>Search</h2>
</div>
<div class="divide cards">
  <table>
    <tr>
      <th>Name</th>
      <th>Types</th>
      <th>Mana Cost</th>
      <th>Add/Remove</th>
    </tr>
    <%= render @cards, deck: @deck %>
  </table>
</div>
