$gmail-red: #dd4b39;
$gmail-blue: #4285f4;
$gmail-black: #444;
$gmail-gray: #666;
$gmail-link-blue: #36c;
$gmail-font: Arial, sans-serif;

$gray-1: #ccc;
$gray-2: #ddd;
$gray-3: #eee;

$background-gray-1: #f5f5f5;
$background-gray-2: #f8f8f8;
$background-yellow: #fef9db;

$gmail-compose-red: rgb(221, 75, 57);
$gmail-compose-red-dark: rgb(209, 72, 54);
$gmail-compose-red-darker: rgb(197, 55, 39);
$gmail-compose-red-border: rgb(176, 40, 76);

$primary-tab-color: #737373;
$social-tab-color: #4986e7;
$promotions-tab-color: #16a765;
$updates-tab-color: #e9b330;
$forums-tab-color: #a479e2;

$transparent: rgba(0, 0, 0, 0);
$transition-timing: 0.25s;

$gmail-transparent: 0.55;
