<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><%= link_to "Artists", artists_path %></li>
      <li class="nav-link"><%= link_to "Login", login_path %></li>
      <li class="nav-link"><%= link_to "Signup", signup_path %></li>
    </ul>
  </div>
</header>



