---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/12/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"LGA","fsCode":"LGA"},"arrivalAirport":{"requestedCode":"ORD","fsCode":"ORD"},"codeType":{},"departing":true,"date":{"year":"2014","month":"12","day":"25","interpreted":"2014-12-25"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/LGA/to/ORD/departing/2014/12/25"},"scheduledFlights":[{"carrierFsCode":"UA","flightNumber":"463","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"1","departureTime":"2014-12-25T07:00:00.000","arrivalTime":"2014-12-25T08:39:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":[],"codeshares":[{"carrierFsCode":"NH","flightNumber":"7749","serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":["Q"],"referenceCode":1906720}],"referenceCode":"1212-1906921--"},{"carrierFsCode":"NH","flightNumber":"7749","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"1","departureTime":"2014-12-25T07:00:00.000","arrivalTime":"2014-12-25T08:39:00.000","flightEquipmentIataCode":"32S","isCodeshare":true,"isWetlease":false,"serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":["Q"],"operator":{"carrierFsCode":"UA","flightNumber":"463","serviceType":"J","serviceClasses":["F","J","Y"],"trafficRestrictions":[]},"codeshares":[],"referenceCode":"1212-1906921--1906720"},{"carrierFsCode":"AA","flightNumber":"327","departureAirportFsCode":"LGA","arrivalAirportFsCode":"ORD","stops":0,"departureTerminal":"B","arrivalTerminal":"3","departureTime":"2014-12-25T10:20:00.000","arrivalTime":"2014-12-25T12:00:00.000","flightEquipmentIataCode":"737","isCodeshare":false,"isWetlease":false,"serviceType"[...]
