---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/departing/2014/12/25
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Appid:
      - 89cd457c
      Appkey:
      - be2705cf426fe89bd49cbf1534d10978
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"request":{"departureAirport":{"requestedCode":"ORD","fsCode":"ORD"},"arrivalAirport":{"requestedCode":"LGA","fsCode":"LGA"},"codeType":{},"departing":true,"date":{"year":"2014","month":"12","day":"25","interpreted":"2014-12-25"},"url":"https://api.flightstats.com/flex/schedules/rest/v1/json/from/ORD/to/LGA/departing/2014/12/25"},"scheduledFlights":[{"carrierFsCode":"NK","flightNumber":"224","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-25T05:56:00.000","arrivalTime":"2014-12-25T09:00:00.000","flightEquipmentIataCode":"32S","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["R","Y"],"trafficRestrictions":[],"codeshares":[],"referenceCode":"1216-2669859--"},{"carrierFsCode":"AA","flightNumber":"384","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-25T09:25:00.000","arrivalTime":"2014-12-25T12:25:00.000","flightEquipmentIataCode":"737","isCodeshare":false,"isWetlease":false,"serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":[],"codeshares":[{"carrierFsCode":"US","flightNumber":"384","serviceType":"J","serviceClasses":["R","F","Y"],"trafficRestrictions":[],"referenceCode":10952290},{"carrierFsCode":"BA","flightNumber":"6611","serviceType":"J","serviceClasses":["R","F","J","Y"],"trafficRestrictions":["Q"],"referenceCode":10952291},{"carrierFsCode":"JL","flightNumber":"7372","serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":["Q"],"referenceCode":10952292}],"referenceCode":"1216-2670857--"},{"carrierFsCode":"US","flightNumber":"384","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-25T09:25:00.000","arrivalTime":"2014-12-25T12:25:00.000","flightEquipmentIataCode":"737","isCodeshare":true,"isWetlease":false,"serviceType":"J","serviceClasses":["R","F","Y"],"trafficRestrictions":[],"operator":{"carrierFsCode":"AA","flightNumber":"384","serviceType":"J","serviceClasses":["F","Y"],"trafficRestrictions":[]},"codeshares":[],"referenceCode":"1216-2670857--10952290"},{"carrierFsCode":"BA","flightNumber":"6611","departureAirportFsCode":"ORD","arrivalAirportFsCode":"LGA","stops":0,"departureTerminal":"3","arrivalTerminal":"B","departureTime":"2014-12-25T09:25:00.000","arrivalTime":"2014-12-25T12:25:00.000","flightEquipmentIataCode":"737","isCodeshare":true,"isWetlease":false,"serviceType":"J[...]
[...]
