<!-- Edit Category Modal -->
<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="Edit Category">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag "/categories", method: :patch, id: 'edit-category-form' do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Category</h4>
      </div>
      <div class="modal-body">
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, class: 'form-control', required: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag 'Done', class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>